<template>
    <div class="container">
        <div class="box is-marginless content-header">
            &nbsp;<a class="button is-danger is-inverted is-outlined" @click="back()"><i class="fas fa-backward"></i></a> Child Card Form
            <br>
        </div>
        <div class="box is-marginless content-body">
            <form @submit.prevent="saveChild()">
            <p class="is-size-5 has-text-weight-bold">Please Fill UP All Entries Properly</p>
            <br>
            <div class="columns">
                <div class="column is-3">
                    <label class="is-size-5">FSN:</label>
                    <input v-model="form.fsn_no" type="text" name="fsn_no" class="input">
                </div>
                <div class="column is-3">
                    <label class="is-size-5">NHTS ID NUMBER:</label>
                    <input v-model="form.nhts_no" type="text" name="nhts_no" class="input">
                </div>
                <div class="column is-3">
                    <label class="is-size-5">PHIC ID NUMBER:</label>
                    <input v-model="form.phic_no" type="text" name="phic_no" class="input">
                </div>
                <div class="column">
                    <label class="is-size-5">Contact NUMBER:</label>
                    <input v-model="form.contact_no" type="number" name="contact_no" class="input">
                </div>
            </div>
            <hr>
            <p class="is-size-5 has-text-weight-bold">Child Information</p>
            <br>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-5">First Name:</label>
                    <input v-model="form.first_name" type="text" name="first_name" class="input">
                </div>
                <div class="column is-4">
                    <label class="is-size-5">Middle Name:</label>
                    <input v-model="form.middle_name" type="text" name="middle_name" class="input">
                </div>
                <div class="column">
                    <label class="is-size-5">Last Name:</label>
                    <input v-model="form.last_name" type="text" name="last_name" class="input">
                </div>
            </div>
            <div class="column is-12">
                <label class="is-size-5">Address:</label>
                <input v-model="form.address" type="text" name="address" class="input">
            </div>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-5">Date of Birth:</label>
                    <input v-model="form.birthdate" type="date" name="birthdate" class="input">
                </div>
                <div class="column is-4">
                    <label class="is-size-5">Birth Order:</label>
                    <input v-model="form.birth_order" type="text" name="birth_order" class="input">
                </div>
                <div class="column">
                    <label class="is-size-5">Gender:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.gender" id="gender" class="input">
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <label class="is-size-5">Date Registered in CCR:</label>
                    <input v-model="form.ccr_register_date" type="date" name="ccr_register_date" class="input m-t-6">
                </div>
                <div class="column">
                    <label class="is-size-5">Date Registered in TCL:</label>
                    <input v-model="form.tcl_register_date" type="date" name="tcl_register_date" class="input m-t-6">
                </div>
            </div>
            <hr>
            <div>
                <p class="is-size-5 has-text-weight-bold">Father Information</p>
                <hr class="m-b-0">
                <label class="is-size-5">Full Name:</label>
                <input v-model="form.father_name" type="text" name="father_name" class="input">
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-5">Occupation:</label>
                        <input v-model="form.father_occupation" type="text" name="father_occupation" class="input">
                    </div>
                    <div class="column">
                        <label class="is-size-5">Date of Birth:</label>
                        <input v-model="form.father_birthdate" type="date" name="father_birthdate" class="input">
                    </div>
                </div>
            </div>
            <br>
            <div>
                <p class="is-size-5 has-text-weight-bold">Mother Information</p>
                <hr class="m-b-0">
                <label class="is-size-5">Full Name:</label>
                <input v-model="form.mother_name" type="text" name="mother_name" class="input">
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-5">Occupation:</label>
                        <input v-model="form.mother_occupation" type="text" name="mother_occupation" class="input">
                    </div>
                    <div class="column">
                        <label class="is-size-5">Date of Birth:</label>
                        <input v-model="form.mother_birthdate" type="date" name="mother_birthdate" class="input">
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-5">TT STATUS (latest TT Given/Date):</label>
                        <input v-model="form.tt_status" type="date" name="tt_status" class="input">
                    </div>
                    <div class="column">
                        <label class="is-size-5">Marital Status:</label>
                        <input v-model="form.marital_status" type="text" name="marital_status" class="input">
                    </div>
                </div>
            </div>
            <hr>
            <p class="is-size-5 has-text-weight-bold">Siblings</p>
            <div class="columns" v-for="(sibling, index) in form.siblings" :key="index">
                <div class="column is-7">
                    <label class="is-size-5">Full Name:</label>
                    <input v-model="sibling.name" type="text" name="name" class="input">
                </div>
                <div class="column is-4">
                    <label class="is-size-5">Date of Birth:</label>
                    <input v-model="sibling.birthdate" type="date" name="birthdate" class="input">
                </div>
                <div class="column">
                    <a class="button is-danger is-circled" @click="deleteSibling(index)">
                        <span class="icon is-small">
                        <i class="fas fa-window-close"></i>
                        </span>
                    </a>
                </div>
            </div>
            <a @click="addNewSibling()" class="button is-info is-pulled-right"><i class="fas fa-child">&nbsp;</i>Add Sibling</a>
            <br><br>
            <hr>
            <p class="is-size-5 has-text-weight-bold">Delivery Information</p>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-5">Type of Delivery:</label>
                    <div class="select is-fullwidth">
                        <select name="delivery" v-model="form.delivery" class="input">
                            <option value="NSD">NSD</option>
                            <option value="CS">CS</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="column is-4">
                    <label class="is-size-5">Abnormalities:</label>
                    <input v-model="form.abnormalities" type="text" name="abnormalities" class="input">
                </div>
                <div class="column">
                    <label class="is-size-5">Place Of Birth:</label>
                    <input v-model="form.place_of_birth" type="text" name="abnormalities" class="input">
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-5">Birth Weight:</label>
                    <input v-model="form.birth_weight" type="number" name="birth_weight" class="input">
                </div>
                <div class="column is-4">
                    <label class="is-size-5">Birth Length:</label>
                    <input v-model="form.birth_length" type="number" name="birth_length" class="input">
                </div>
                <div class="column">
                    <label class="is-size-5">Initiated Breastfeeding?</label>
                    <div class="select is-fullwidth">
                        <select name="breast_feeding" v-model="form.breast_feeding" class="input">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column is-12" v-if="form.breast_feeding == 0">
                <label class="is-size-5">Why no?</label>
                <input v-model="form.reason" type="text" name="reason" class="input">
            </div>
            <div>
                <div>
                    <button type="submit" class="button is-primary is-large is-pulled-right is-fullwidth"><i class="fas fa-save"></i>&nbsp;{{ buttonText }}</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                edit: false,
                status: 'single',
                buttonText: 'Save Information',
                form: {
                    fsn_no:'',
                    nhts_no:'',
                    phic_no:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    birthdate:'',
                    contact_no:'',
                    address:'',
                    father_name:'',
                    father_occupation:'',
                    father_birthdate:'',
                    mother_name:'',
                    mother_occupation:'',
                    mother_birthdate:'',
                    tt_status:'',
                    birth_order:'',
                    gender:'',
                    ccr_register_date:'',
                    tcl_register_date:'',
                    marital_status:'',
                    delivery:'',
                    abnormalities:'',
                    birth_weight:'',
                    birth_length:'',
                    place_of_birth:'',
                    breast_feeding:'1',
                    reason:'',
                    siblings: [
                        {
                            name: '',
                            birthdate: ''
                        }
                    ]
                }
            }
        },
        methods: {
            addNewSibling() {
                this.form.siblings.push({
                    name: '',
                    birthdate: ''
                })
            },

            deleteSibling(index) {
                this.form.siblings.splice(index, 1)
            },

            back() {
                this.$router.push("/child");
            },

            saveChild() {
                axios.post('/api/childHealth', this.form)
                .then( data =>{
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Proceed Now To add Members',
                    })
                    this.back();
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            }
        },
        created() {

        }
    }
</script>