<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Child Health Card</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="toForm(0)" class="button is-link has-text-weight-bold is-pulled-left"><i class="fa fa-plus" aria-hidden="true"></i>Add Child Card</a>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="search" class="input" type="text" v-on:keyup="searchMonitor()" placeholder="Enter Child Name">
                </div>
                <div class="control">
                    <a class="button is-link">
                        <b>Search</b>
                    </a>
                </div>
            </div>
            <br><br><br>
            <b v-if="search == ''">Recent Saved Datas</b>
            <hr>
            <div class="columns">
                <div class="column is-3 childhealth-card" v-for="child in childs" :key="child.id">
                    <div class="box is-primary content" @click="toManage(child.id)">
                        <a @click="toManage(child.id)"><b> {{ child.last_name }}, <br>{{ child.first_name }} </b></a>
                    </div>
                </div>
            </div>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadChilds"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageCount: 1,
                endpoint: 'api/childHealth?page=',
                page: 1,
                childs:{},
                search:'',
            }
        },
        methods: {
            toForm(id) {
                this.$router.push("/childHealthCard/form/"+id);
            },

            searchMonitor() {
                if(this.search == '') {
                    this.loadChilds();
                }else{ 
                    axios.get('api/childHealth/search/'+this.search)
                        .then(({data}) => {
                            this.childs = data.data;
                            this.pageCount = data.last_page;
                        });
                }
            },

            loadChilds(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.childs = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            toManage(id) {
                this.$router.push("/childHealthCard/manage/"+id);
            }
        },
        created() {
            this.loadChilds();
        }
    }
</script>