<template>
    <section>
        <div class="box is-marginless content-header has-text-right">
            <div class="is-pulled-left">
                &nbsp;<a class="button is-warning is-outlined" @click="otherAction()">Other Actions</a>
            </div>
            <div class="is-pulled-right">
                Child Card
            </div>
            <br>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <!-- Child and Delivery Information -->
        <b-collapse class="card" aria-id="contentIdForA11y3" :open="false">
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="contentIdForA11y3">
                <p class="card-header-title has-text-primary is-size-4">
                    Child & Delivery Information
                </p>
                <a class="card-header-icon">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    <form @submit.prevent="updateChild()">
                    <div class="columns">
                        <div class="column is-4">
                            <label class="is-size-5">FSN:</label>
                            <input v-model="child.fsn_no" type="text" name="fsn_no" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column is-4">
                            <label class="is-size-5">NHTS ID NUMBER:</label>
                            <input v-model="child.nhts_no" type="text" name="nhts_no" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column">
                            <label class="is-size-5">PHIC ID NUMBER:</label>
                            <input v-model="child.phic_no" type="text" name="phic_no" class="input" :readonly="readOnlyChildInputs">
                        </div>
                    </div>
                    <hr>
                    <p class="is-size-5 has-text-weight-bold">Child Information</p>
                    <br>
                    <div class="columns">
                        <div class="column is-4">
                            <label class="is-size-5">First Name:</label>
                            <input v-model="child.first_name" type="text" name="first_name" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column is-4">
                            <label class="is-size-5">Middle Name:</label>
                            <input v-model="child.middle_name" type="text" name="middle_name" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column">
                            <label class="is-size-5">Last Name:</label>
                            <input v-model="child.last_name" type="text" name="last_name" class="input" :readonly="readOnlyChildInputs">
                        </div>
                    </div>
                    <div class="column is-12">
                        <label class="is-size-5">Address:</label>
                        <input v-model="child.address" type="text" name="address" class="input" :readonly="readOnlyChildInputs">
                    </div>
                    <div class="columns">
                        <div class="column is-4">
                            <label class="is-size-5">Date of Birth:</label>
                            <input v-model="child.birthdate" type="date" name="birthdate" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column is-4">
                            <label class="is-size-5">Birth Order:</label>
                            <input v-model="child.birth_order" type="text" name="birth_order" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column">
                            <label class="is-size-5">Gender:</label>
                            <div class="select is-fullwidth">
                                <select name="gender" v-model="child.gender" id="gender" class="input" :disabled="readOnlyChildInputs">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6">
                            <label class="is-size-5">Date Registered in CCR:</label>
                            <input v-model="child.ccr_register_date" type="date" name="ccr_register_date" class="input m-t-6" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column">
                            <label class="is-size-5">Date Registered in TCL:</label>
                            <input v-model="child.tcl_register_date" type="date" name="tcl_register_date" class="input m-t-6" :readonly="readOnlyChildInputs">
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="is-size-5 has-text-weight-bold">Father Information</p>
                        <hr class="m-b-0">
                        <label class="is-size-5">Full Name:</label>
                        <input v-model="child.father_name" type="text" name="father_name" class="input" :readonly="readOnlyChildInputs">
                        <div class="columns">
                            <div class="column is-6">
                                <label class="is-size-5">Occupation:</label>
                                <input v-model="child.father_occupation" type="text" name="father_occupation" class="input" :readonly="readOnlyChildInputs">
                            </div>
                            <div class="column">
                                <label class="is-size-5">Date of Birth:</label>
                                <input v-model="child.father_birthdate" type="date" name="father_birthdate" class="input" :readonly="readOnlyChildInputs">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <p class="is-size-5 has-text-weight-bold">Mother Information</p>
                        <hr class="m-b-0">
                        <label class="is-size-5">Full Name:</label>
                        <input v-model="child.mother_name" type="text" name="mother_name" class="input" :readonly="readOnlyChildInputs">
                        <div class="columns">
                            <div class="column is-6">
                                <label class="is-size-5">Occupation:</label>
                                <input v-model="child.mother_occupation" type="text" name="mother_occupation" class="input" :readonly="readOnlyChildInputs">
                            </div>
                            <div class="column">
                                <label class="is-size-5">Date of Birth:</label>
                                <input v-model="child.mother_birthdate" type="date" name="mother_birthdate" class="input" :readonly="readOnlyChildInputs">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-6">
                                <label class="is-size-5">TT STATUS (latest TT Given/Date):</label>
                                <input v-model="child.tt_status" type="date" name="tt_status" class="input" :readonly="readOnlyChildInputs">
                            </div>
                            <div class="column">
                                <label class="is-size-5">Marital Status:</label>
                                <input v-model="child.marital_status" type="text" name="marital_status" class="input" :readonly="readOnlyChildInputs">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p class="is-size-5 has-text-weight-bold">Delivery Information</p>
                    <div class="columns">
                        <div class="column is-4">
                            <label class="is-size-5">Type of Delivery:</label>
                            <div class="select is-fullwidth">
                                <select name="delivery" v-model="child.delivery" class="input" :disabled="readOnlyChildInputs">
                                    <option value="NSD">NSD</option>
                                    <option value="CS">CS</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-4">
                            <label class="is-size-5">Abnormalities:</label>
                            <input v-model="child.abnormalities" type="text" name="abnormalities" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column">
                            <label class="is-size-5">Place Of Birth:</label>
                            <input v-model="child.place_of_birth" type="text" name="abnormalities" class="input" :readonly="readOnlyChildInputs">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-4">
                            <label class="is-size-5">Birth Weight:</label>
                            <input v-model="child.birth_weight" type="text" name="birth_weight" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column is-4">
                            <label class="is-size-5">Birth Length:</label>
                            <input v-model="child.birth_length" type="text" name="birth_length" class="input" :readonly="readOnlyChildInputs">
                        </div>
                        <div class="column">
                            <label class="is-size-5">Initiated Breastfeeding?</label>
                            <div class="select is-fullwidth">
                                <select name="breast_feeding" v-model="child.breast_feeding" class="input" :disabled="readOnlyChildInputs">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12" v-if="child.breast_feeding == 0">
                        <label class="is-size-5">Why no?</label>
                        <input v-model="child.reason" type="text" name="reason" class="input" :readonly="readOnlyChildInputs">
                    </div>
                    <a class="button is-success is-pulled-right" @click="switchChildInput()">{{ childButtonText }}</a><br><br>
                    <button type="submit" class="button is-success has-text-weight-bold is-fullwidth" v-show="!readOnlyChildInputs">Update &nbsp;<i class="fas fa-arrow-right"> </i> </button>
                    </form>
                </div>
            </div>
        </b-collapse>
        <!-- Child Siblings -->
        <b-collapse class="card" aria-id="contentIdForA11y3" :open="false">
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="contentIdForA11y3">
                <p class="card-header-title has-text-primary is-size-4">
                    siblings
                </p>
                <a class="card-header-icon">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    <div class="columns" v-for="sibling in siblings" :key="sibling.id">
                        <div class="column is-5">
                            <label class="is-size-5">Full Name:</label>
                            <input :value="sibling.name" type="text" name="name" class="input" disabled>
                        </div>
                        <div class="column is-5">
                            <label class="is-size-5">Date of Birth:</label>
                            <input :value="sibling.birthdate" type="date" name="birthdate" class="input" disabled>
                        </div>
                        <div class="column">
                            <a class="button is-danger is-pulled-right m-l-10" @click="deleteSibling(sibling.id)">
                                <span class="icon is-small">
                                    <i class="fas fa-window-close"></i>
                                </span>
                            </a>
                            <a class="button is-success is-pulled-right" @click="editSiblingModal(sibling)">
                                <span class="icon is-small">
                                    <i class="fas fa-cogs"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <button class="button is-primary is-pulled-right" @click="openSiblingModal()"><b>Add Sibling</b></button>
                    </div>
                </div>
            </div>
            <br><br>
        </b-collapse>
        <!-- Immunization -->
        <b-collapse class="card" aria-id="contentIdForA11y3" :open="false">
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="contentIdForA11y3">
                <p class="card-header-title has-text-primary is-size-4">
                    Immunization Record <code class="is-size-7">(Note: If the border is <b>RED</b> it means <b>EMPTY</b>)</code>
                </p>
                <a class="card-header-icon">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    <form @submit.prevent="updateImmunization()">
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-6"><b>BCG:</b></label>
                                <input 
                                    v-model="immunization.bcg" 
                                    type="date" 
                                    name="birthdate" 
                                    class="input is-small" 
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.bcg == '0001-01-01' || immunization.bcg == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-6"><b>HEPA B@BIRTH:</b></label>
                                <input 
                                    v-model="immunization.hepa_b" 
                                    type="date" name="birthdate" 
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.hepa_b == '0001-01-01' || immunization.hepa_b == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-6"><b>N B S:</b></label>
                                <input 
                                    v-model="immunization.nbs" 
                                    type="date" 
                                    name="birthdate" 
                                    :readonly="readOnlyImmunizationInputs" 
                                    :class="immunization.nbs == '0001-01-01' || immunization.nbs == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is">
                                <label class="is-size-6"><b>N B H:</b></label>
                                <input 
                                    v-model="immunization.nbh" 
                                    type="date" name="birthdate" 
                                    :readonly="readOnlyImmunizationInputs" 
                                    :class="immunization.nbh == '0001-01-01' || immunization.nbh == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-6"><b>DOSES T OPV:</b></label>
                            </div>
                            <div class="column is-3">
                                <label class="is-size-6"><b>ROTAVIRUS</b></label>
                            </div>
                            <div class="column is-3">
                                <label class="is-size-6"><b>PENTAVALENT (5in1)</b></label>
                            </div>
                            <div class="column">
                                <label class="is-size-6"><b>PNUEMOCOCAL (PCV 13)</b></label>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <b>1st</b>
                            </div>
                            <div class="column is-3">
                                <input 
                                    v-model="immunization.rotavirus_first" 
                                    type="date" 
                                    name="birthdate" 
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.rotavirus_first == '0001-01-01' || immunization.rotavirus_first == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is-3">
                                <input 
                                    v-model="immunization.pentavalent_first" 
                                    type="date" 
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.pentavalent_first == '0001-01-01' || immunization.pentavalent_first == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column">
                                <input 
                                    v-model="immunization.pneumococcal_first"
                                    type="date" 
                                    name="birthdate" 
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.pneumococcal_first == '0001-01-01' || immunization.pneumococcal_first == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <b>2nd</b>
                            </div>
                            <div class="column is-3">
                                <input 
                                    v-model="immunization.rotavirus_second"
                                    type="date" 
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.rotavirus_second == '0001-01-01' || immunization.rotavirus_second == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is-3">
                                <input 
                                    v-model="immunization.pentavalent_second"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.pentavalent_second == '0001-01-01' || immunization.pentavalent_second == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column">
                                <input 
                                    v-model="immunization.pneumococcal_second"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.pneumococcal_second == '0001-01-01' || immunization.pneumococcal_second == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <b>3rd</b>
                            </div>
                            <div class="column is-3">
                                <input 
                                    v-model="immunization.rotavirus_third"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.rotavirus_third == '0001-01-01' || immunization.rotavirus_third == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is-3">
                                <input 
                                    v-model="immunization.pentavalent_third"
                                    type="date" 
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.pentavalent_third == '0001-01-01' || immunization.pentavalent_third == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column">
                                <input 
                                    v-model="immunization.pneumococcal_third"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.pneumococcal_third == '0001-01-01' || immunization.pneumococcal_third == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-6"><b>MEASLES:</b></label>
                                <input 
                                    v-model="immunization.measles"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.measles == '0001-01-01' || immunization.measles == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-6"><b>MMR:</b></label><br>
                                <input 
                                    v-model="immunization.mmr"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.mmr == '0001-01-01' || immunization.mmr == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-6"><b>VITAMIN A:</b></label>
                                <input 
                                    v-model="immunization.vitamin_a"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.vitamin_a == '0001-01-01' || immunization.vitamin_a == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                            <div class="column is">
                                <label class="is-size-6"><b>Date  F I C:</b></label>
                                <input 
                                    v-model="immunization.fic"
                                    type="date"
                                    name="birthdate"
                                    :readonly="readOnlyImmunizationInputs"
                                    :class="immunization.fic == '0001-01-01' || immunization.fic == null ? 'input-danger is-small is-danger':'input is-small'">
                            </div>
                        </div>
                        <a class="button is-success is-pulled-right" @click="switchImmunizationInput()">{{ immunizationButtonText }}</a><br><br>
                        <button type="submit" class="button is-success has-text-weight-bold is-fullwidth" v-show="!readOnlyImmunizationInputs">Update &nbsp<i class="fas fa-arrow-right"> </i> </button>
                    </form>
                </div>
            </div>
        </b-collapse>
        <!-- Breast Feed -->
        <b-collapse class="card" aria-id="contentIdForA11y3" :open="false">
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="contentIdForA11y3">
                <p class="card-header-title has-text-primary is-size-4">
                    Breast Feeding Record
                </p>
                <a class="card-header-icon">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    <form @submit.prevent="updateBreastFeeding()">
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-5">First Month:</label>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.first_month" class="input" :disabled="readOnlyBreastFeedInputs" />
                                </div>
                            </div>
                            <div class="column is-3">
                                <label class="is-size-5">Fifth Month:</label>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.fifth_month" class="input" :disabled="readOnlyBreastFeedInputs">
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-5">Second Month:</label>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.second_month" class="input" :disabled="readOnlyBreastFeedInputs">
                                </div>
                            </div>
                            <div class="column is-3">
                                <label class="is-size-5">Sixth Month:</label>
                                <p>(complimentary feeding)</p>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.sixth_month" class="input" :disabled="readOnlyBreastFeedInputs">
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-5">Third Month:</label>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.third_month" class="input" :disabled="readOnlyBreastFeedInputs">
                                </div>
                            </div>
                            <div class="column is-3">
                                <label class="is-size-5">Seventh Month:</label>
                                <p>(complimentary feeding)</p>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.seventh_month" class="input" :disabled="readOnlyBreastFeedInputs">
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-5">Fourth Month:</label>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.fourth_month" class="input" :disabled="readOnlyBreastFeedInputs">
                                </div>
                            </div>
                            <div class="column is-3">
                                <label class="is-size-5">Eight Month:</label>
                                <p>(complimentary feeding)</p>
                            </div>
                            <div class="column is-3">
                                <div class="is-fullwidth">
                                    <input type="date" v-model="breastFeed.eight_month" class="input" :disabled="readOnlyBreastFeedInputs">
                                </div>
                            </div>
                        </div>
                        <a class="button is-success is-pulled-right" @click="switchBreastFeedInput()">{{ breastFeedButtonText }}</a><br><br>
                        <button type="submit" class="button is-success has-text-weight-bold is-fullwidth" v-show="!readOnlyBreastFeedInputs">Update &nbsp<i class="fas fa-arrow-right"> </i> </button>
                    </form>
                </div>
            </div>
        </b-collapse>

        <b-collapse class="card" aria-id="contentIdForA11y3" :open="false">
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="contentIdForA11y3">
                <p class="card-header-title has-text-primary is-size-4">
                    Height/Weight Record
                </p>
                <a class="card-header-icon">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    <a @click="openRecordModal()" class="button is-link has-text-weight-bold is-pulled-right"><i class="fa fa-plus" aria-hidden="true"></i>Add Record</a>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Date & Time</th>
                                <th>Weight Status</th>
                                <th>Height Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="record in records" :key="record.id">
                                <td>{{ record.created_at }}</td>
                                <td>{{ record.weight_status }}</td>
                                <td>{{ record.height_status }}</td>
                                <td>
                                    <a class="button is-success" @click="editModalRecord(record)">
                                        <span class="icon is-small">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    </a>
                                    <a class="button is-danger" @click="deleteRecord(record.id)">
                                        <span class="icon is-small">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </b-collapse>

        <div class="modal is-active" v-show="siblingModal">
            <div class="modal-background" @click="siblingModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">Sibling Form</p>
                    </div>
                    <form @submit.prevent="editSibling ? updateSibling() : createSibling()">
                    <div class="message-footer" style="padding: 20px">
                        <div class="field">
                            <label class="label">Full Name:</label>
                            <div class="control">
                                <input v-model="siblingForm.name" type="text" name="name" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Date of Birth:</label>
                            <div class="control">
                                <input v-model="siblingForm.birthdate" type="date" name="birthdate" class="input">
                            </div>
                        </div>
                        <a class="button is-danger is-pulled-left" @click="siblingModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Save</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>

        <div class="modal is-active" v-show="recordModal">
            <div class="modal-background" @click="recordModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">Sibling Form</p>
                    </div>
                    <form @submit.prevent="editRecord ? updateRecord() : createRecord()">
                    <div class="message-footer" style="padding: 20px">
                        <div class="field">
                            <label class="label">Weight Status:</label>
                            <div class="select control is-fullwidth">
                                <select v-model="recordForm.weight_status" name="weight" class="input">
                                    <option value="Normal">Normal</option>
                                    <option value="Severe">Severe</option>
                                    <option value="Malnurish">Malnurish</option>
                                    <option value="Overweight">Overweight</option>
                                    <option value="Underweight">Underweight</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Height Status:</label>
                            <div class="control">
                                <input v-model="recordForm.height_status" type="text" name="name" class="input">
                            </div>
                        </div>
                        <a class="button is-danger is-pulled-left" @click="recordModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Save</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
        <div class="modal is-active" v-show="otherActionModal">
            <div class="modal-background" @click="otherActionModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <br>
                    <a class="button is-success is-fullwidth has-text-weight-bold" @click="smsModal()">Send SMS</a>
                    <br>
                    <div v-show="clients.role === 'admin'">
                         <a class="button is-danger is-fullwidth has-text-weight-bold" @click="removeChildCard()">Delete Child</a>
                    </div>
                    <br>
                </article>
            </div>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">SMS Sender</p>
                    </div>
                    <form @submit.prevent="sendSms()">
                    <div class="message-body">
                        <fieldset>
  
                        <div class="field">
                            <label class="label">Number</label>
                            <div class="control">
                                <input class="input" type="number" v-model="sms.contact_no">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <input class="input" type="text" v-model="sms.message">
                            </div>
                        </div>

                        </fieldset>
                    </div>
                    <div class="message-footer" style="padding: 20px">
                        <a class="button is-danger is-pulled-left" @click="showModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Send</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                otherActionModal: false,
                showModal: false,
                editSibling: false,
                editRecord: false,
                siblingModal: false,
                recordModal: false,
                readOnlyChildInputs: true,
                readOnlyImmunizationInputs: true,
                readOnlyBreastFeedInputs: true,
                childButtonText: 'Edit',
                immunizationButtonText: 'Edit',
                breastFeedButtonText: 'Edit',
                siblings: {},
                records: {},
                clients: {},
                sms: {
                    contact_no:'',
                    message:''
                },
                recordForm: {
                    id:'',
                    child_id:'',
                    weight_status:'',
                    height_status:'',
                    remarks:''
                },
                breastFeed: {
                    id:'',
                    child_id: '',
                    first_month: '',
                    secont_month: '',
                    third_month: '',
                    fourth_month: '',
                    fifth_month: '',
                    sixth_month: '',
                    seventh_month: '',
                    eight_month: ''
                },
                immunization: {
                    id:'',
                    child_id:'',
                    bcg:'',
                    hepa_b:'',
                    nbs:'',
                    nbh:'',
                    t_opv_first:'',
                    t_opv_second:'',
                    t_opv_third:'',
                    rotavirus_first:'',
                    rotavirus_second:'',
                    pentavalent_first:'',
                    pentavalent_second:'',
                    pentavalent_third:'',
                    pneumococcal_first:'',
                    pneumococcal_second:'',
                    pneumococcal_third:'',
                    measles:'',
                    mmr:'',
                    vitamin_a:'',
                    fic:''
                },
                siblingForm: {
                    id:'',
                    child_id:'',
                    name:'',
                    birthdate:'',
                },
                child: {
                    id:'',
                    fsn_no:'',
                    nhts_no:'',
                    phic_no:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    birthdate:'',
                    address:'',
                    father_name:'',
                    father_occupation:'',
                    father_birthdate:'',
                    mother_name:'',
                    mother_occupation:'',
                    mother_birthdate:'',
                    tt_status:'',
                    birth_order:'',
                    gender:'',
                    ccr_register_date:'',
                    tcl_register_date:'',
                    marital_status:'',
                    delivery:'',
                    abnormalities:'',
                    birth_weight:'',
                    birth_length:'',
                    place_of_birth:'',
                    breast_feeding:'1',
                    reason:'',
                }
            }
        },
        methods: {
            otherAction() {
                this.otherActionModal = true;
            },

            getClients() {
                axios.get('/api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },

            smsModal() {
                this.otherActionModal = false
                this.showModal = true;
                this.sms.contact_no = this.child.contact_no;
            },

            sendSms() {
                axios.post('api/sendSms', this.sms)
                .then( () => {
                    Swal.fire({
                        type: 'success',
                        title: 'Message Sent',
                    });
                    this.showModal = false;
                });
            },

            removeChildCard() {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(`/api/childHealth/${this.child.id}`)
                        .then(({data})=>{
                            this.getSiblings();
                            this.clearSiblingForm();
                            Swal.fire({
                                type: 'success',
                                title: 'Modified',
                                text: 'Child Card Deleted',
                            })
                            this.back();
                        })
                    }
                })
            },

            getChildInformation() {
                axios.get('/api/childHealth/' + this.$route.params.id)
                .then( data =>(
                    this.siblingForm.child_id = data.data.id,
                    this.recordForm.child_id = data.data.id,
                    this.child = data.data
                ));
            },

            switchChildInput() {
                if(this.readOnlyChildInputs === true) {
                    this.readOnlyChildInputs = false;
                    this.childButtonText = 'Cancel'
                }  else {
                    this.readOnlyChildInputs = true;
                    this.childButtonText = 'Edit'
                }
            },

            updateChild() {
                axios.put('/api/childHealth/'+this.$route.params.id, this.child)
                .then(({data})=>{
                    this.switchChildInput();
                    this.getChildInformation();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Child Information is Modified',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            getSiblings() {
                axios.get('/api/sibling/'+this.$route.params.id)
                .then( data =>(
                    this.siblings = data.data
                ));
            },

            openSiblingModal() {
                this.siblingModal = true;
            },
            
            clearSiblingForm() {
                this.siblingForm.name = '';
                this.siblingForm.birthdate = '';
                this.siblingForm.id = '';
                this.siblingModal = false;
                this.editSibling = false;
            },

            createSibling() {
                axios.post('/api/sibling', this.siblingForm)
                .then( data =>{
                    this.getSiblings();
                    this.clearSiblingForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Sibling Added',
                    })
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            editSiblingModal(sibling) {
                this.siblingForm.name = sibling.name;
                this.siblingForm.birthdate = sibling.birthdate;
                this.siblingForm.id = sibling.id;
                this.siblingModal = true;
                this.editSibling = true;
            },

            updateSibling() {
                axios.put('/api/sibling/'+this.siblingForm.id, this.siblingForm)
                .then( data =>{
                    this.getSiblings();
                    this.clearSiblingForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Sibling Modified',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            deleteSibling(id) {
                axios.delete('/api/sibling/'+id)
                .then(({data})=>{
                    this.getSiblings();
                    this.clearSiblingForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Modified',
                        text: 'Sibling Deleted',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            getImmunization() {
                axios.get('/api/immunization/'+this.$route.params.id)
                .then( data =>(
                    this.immunization = data.data
                ));
            },

            switchImmunizationInput() {
                if(this.readOnlyImmunizationInputs === true) {
                    this.readOnlyImmunizationInputs = false;
                    this.immunizationButtonText = 'Cancel'
                }  else {
                    this.readOnlyImmunizationInputs = true;
                    this.immunizationButtonText = 'Edit'
                }
            },

            updateImmunization() {
                axios.put('/api/immunization/'+this.immunization.id, this.immunization)
                .then(({data})=>{
                    this.switchImmunizationInput();
                    this.getImmunization();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Immunization Information is Modified',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            getBreastFeed() {
                axios.get('/api/breastFeed/'+this.$route.params.id)
                .then( data =>(
                    this.breastFeed = data.data
                ));
            },

            switchBreastFeedInput() {
                if(this.readOnlyBreastFeedInputs === true) {
                    this.readOnlyBreastFeedInputs = false;
                    this.breastFeedButtonText = 'Cancel'
                }  else {
                    this.readOnlyBreastFeedInputs = true;
                    this.breastFeedButtonText = 'Edit'
                }
            },

            updateBreastFeeding() {
                axios.put('/api/breastFeed/'+this.breastFeed.id, this.breastFeed)
                .then(({data})=>{
                    this.switchBreastFeedInput();
                    this.getBreastFeed();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Breast Feeding Record is Modified',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            getChildRecord() {
                axios.get('/api/childRecord/'+this.$route.params.id)
                .then( data =>(
                    this.records = data.data
                ));
            },

            clearRecordForm() {
                this.recordForm.weight_status = '';
                this.recordForm.height_status = '';
                this.recordForm.remarks = '';
                this.recordModal = false;
                this.editRecord = false;
            },

            openRecordModal() {
                this.recordModal = true;
            },

            createRecord() {
                axios.post('/api/childRecord', this.recordForm)
                .then(() =>{
                    this.getChildRecord();
                    this.clearRecordForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Record Added',
                    })
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            editModalRecord(record) {
                this.recordForm.id = record.id;
                this.recordForm.weight_status = record.weight_status;
                this.recordForm.height_status = record.height_status;
                this.recordForm.remarks = record.remarks;
                this.recordModal = true;
                this.editRecord = true;
            },

            updateRecord() {
                axios.put('/api/childRecord/'+this.recordForm.id, this.recordForm)
                .then( data =>{
                    this.getChildRecord();
                    this.clearRecordForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Record Modified',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            deleteRecord(id) {
                axios.delete('/api/childRecord/'+id)
                .then(()=>{
                    this.getChildRecord();
                    Swal.fire({
                        type: 'success',
                        title: 'Modified',
                        text: 'Record Deleted',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            back() {
                this.$router.push("/child");
            },
        },
        created() {
            this.getChildInformation();
            this.getSiblings();
            this.getImmunization();
            this.getBreastFeed();
            this.getChildRecord();
            this.getClients();
        }
    }
</script>