
@import '~bulma/bulma';
@import '~buefy/src/scss/buefy';
@import '~bulma-extensions/bulma-accordion/src/sass/index';
@import '~bulma-extensions/bulma-steps/src/sass/index';
@import '~bulma-extensions/bulma-checkradio/src/sass/index';
@import '~bulma-extensions/bulma-divider/src/sass/index';
@import './components/login';
@import './components/topnav';
@import './components/sidebar';
@import './components/content';
@import './components/helpers';
@import './components/table';
@import './components/toggle';

.round-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}