// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');



@import 'variables';
@import 'main';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

.input, .textarea {
    background-color: rgb(202, 201, 201);
    font-weight: bold;
}

.select {
    select {
        background-color: rgb(202, 201, 201);
        font-weight: bold; 
    }
}

.modal {
    .modal-content {
        width: 50%;
    }
}

