#main-content {
    background-color: $semi-transparent-white;
    margin: 20px 0 20px 0;
    padding: 20px;
    border-radius: 5px;
    
    .content-header {
        font-weight: bold;
        font-size: 25px;
        background-color: $primary;
        padding: 5px 20px 5px 0;
        border-bottom-left-radius:0px;
        border-bottom-right-radius: 0px;
        color: white;
    }
    
    .content-body {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        min-height: 500px;
        max-height: 2000px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.childhealth-card {
    width: 100%;
    transition: background-color 0.5s;
    &:hover {
        background-color: $primary;
        .content {
            background-color: #bfd7ea;
        }
    }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 2;
}

.my-float{
    margin-top: 15px;
}

.cell-input {
    background-color: transparent;
    border: none;
    color: #555658;
    width: 100%;
}
.control, .column {
    .input, .textarea {
        background-color: transparent;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid $primary;
        box-shadow: none;
    }

    .input-danger {
        background-color: transparent;
        border-radius: 0px;
        border: red solid 1px;
        box-shadow: none;
    }
}