#login {
    .logo {
        height: 320px;
        img {
           padding: 10px 75px 40px 75px; 
        }
    }

    .form {
        .box {
            border-radius: 0px;
            height: 320px;
        }
        input {
            color: $primary;
            font-size: 20px;
            font-weight: bold;
            &:focus {
                border: 1px solid $primary;
            }
        }
    }
}