.table-for-view {
    border: $primary;
    width: 100%;
    table-layout: fixed;
    thead {
        color: $primary;
        width: 100%;
        tr {
            height: 50px;
            td {
                border: 1px solid $primary;
                vertical-align: middle;
                text-align: center;
                font-size: 15px;
            }
        }
    }
    tbody {
        tr:nth-child(odd) {
            background-color: #7ba9ee4f
        }
        tr {
            td {
                padding: 3px;
                border: 1px solid $primary;
            }
            &:hover {
                background-color: $primary;
                color: white;
                td {
                    border: 1px solid white;
                }
            }
        }
    }
}