#toggleDiv {
    .container, .button, .nav{
    position: fixed;
    right: 5px;
    }
    
    .container {
    margin: auto;
    top: 10%;
    left: 50%;
    margin-left: -20px;
    }
    
    #toggle {
    display: none;
    }
    
    .button {
    z-index: 999;
    width: 43px;
    height: 43px;
    background: $green;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(#000000, 0.3);
    cursor: pointer;
    
    &:before {
        position: absolute;
        top: 20px;
        left: 9px;
        content: '';
        width: 25px;
        height: 2px;
        background: #FFF;
        transform: rotate(90deg);
    }
    &:after {
        position: absolute;
        top: 20px;
        left: 9px;
        content: '';
        width: 25px;
        height: 2px;
        background: #FFF;
    }
    }
    
    .nav {
        transform: translateY(-10%);
        font-size: 10px;
        opacity: 0;
        top: 45px;
        right: 0px;
        transition: all 0.5s ease-in-out;
        background: lightgrey;
        width: 150px;
        border-radius: 5px;
        transform: translateY(0%);
        box-shadow: 2px 3px 10px 0 rgba(#000000, 0.1);
        a {
            text-align: center;
            display: block;
            margin: 20px 0;
            color: $primary;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            &:hover {
                color: white;
            }
        }
    }
    
    
    #toggle:checked ~ .nav {
    opacity: 1;
    transform: translateY(10%);
    }
    
    #toggle:checked ~ .button {
    transform: rotate(135deg);
        box-shadow: 0 0 0 0 transparent;
    }
}