<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Edit Family Planning</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body has-text-centered">
            <div class="step-content has-text-centered">
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-7 has-text-weight-bold">Type of Acceptor:</label>
                        <div class="select is-fullwidth">
                            <select name="gender" v-model="form.type_of_acceptor" id="gender" class="input is-small">
                                <option value="1">New To Program</option>
                                <option value="0">Continuing User</option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-6" v-show="form.type_of_acceptor == 1">
                        <label class="is-size-7 has-text-weight-bold">Prevous Method</label>
                        <input v-model="form.prev_method" type="text" name="prev_method" class="input is-small">
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Last Name</label>
                        <input v-model="form.last_name" type="text" name="last_name" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">First Name</label>
                        <input v-model="form.first_name" type="text" name="first_name" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Middle Name</label>
                        <input v-model="form.middle_name" type="text" name="middle_name" class="input is-small">
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Date of Birth</label>
                        <input v-model="form.birthdate" type="date" name="birthdate" class="input is-small">
                    </div>
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Highest Education</label>
                        <input v-model="form.highest_education" type="text" name="highest_education" class="input is-small">
                    </div>
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Occupation</label>
                        <input v-model="form.occupation" type="text" name="occupation" class="input is-small">
                    </div>
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Contact Number:</label>
                        <input v-model="form.contact_no" type="text" name="contact_no" class="input is-small">
                    </div>
                </div>
                <hr>
                <b>Complete Address</b>
                <div class="columns">
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Street No/prk.</label>
                        <input v-model="form.street" type="text" name="street" class="input is-small">
                    </div>
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Barangay</label>
                        <input v-model="form.barangay" type="text" name="barangay" class="input is-small">
                    </div>
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Municipality</label>
                        <input v-model="form.municipality" type="text" name="municipality" class="input is-small">
                    </div>
                    <div class="column is-3">
                        <label class="is-size-7 has-text-weight-bold">Province</label>
                        <input v-model="form.province" type="text" name="province" class="input is-small">
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Average Monthly Income</label>
                        <input v-model="form.monthly_income" type="number" name="monthly_income" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Number of Living Children</label>
                        <input v-model="form.number_lived_children" type="number" name="number_lived_children" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Plan More Children?</label>
                        <div class="select is-fullwidth">
                            <select name="gender" v-model="form.plan_more_children" id="gender" class="input is-small">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-7 has-text-weight-bold">Reason for practicing FP</label>
                        <input v-model="form.reason" type="text" name="province" class="input is-small">
                    </div>
                    <div class="column is-6">
                        <label class="is-size-7 has-text-weight-bold">Method Accepted</label>
                        <div class="select is-fullwidth">
                            <select name="gender" v-model="form.method_accepted" id="gender" class="input is-small">
                                <option value="1">COC</option>
                                <option value="2">Contraceptive Patch</option>
                                <option value="3">POP</option>
                                <option value="4">Injectable</option>
                                <option value="5">Condom</option>
                                <option value="6">IUD</option>
                                <option value="7">BTL</option>
                                <option value="8">VSC</option>
                                <option value="9">LAM</option>
                                <option value="10">SDM</option>
                                <option value="11">BBT</option>
                                <option value="12">Billings/Cervical Mucus/Ovulation Method</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="step-content has-text-centered">
                <b>Spouse Information</b><br><br>
                <div class="columns">
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Last Name</label>
                        <input v-model="form.spouse_last_name" type="text" name="spouse_last_name" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">First Name</label>
                        <input v-model="form.spouse_first_name" type="text" name="spouse_first_name" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Middle Name</label>
                        <input v-model="form.spouse_middle_name" type="text" name="spouse_middle_name" class="input is-small">
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Date of Birth</label>
                        <input v-model="form.spouse_birthdate" type="date" name="spouse_birthdate" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Highest Education</label>
                        <input v-model="form.spouse_highest_education" type="text" name="spouse_highest_education" class="input is-small">
                    </div>
                    <div class="column is-4">
                        <label class="is-size-7 has-text-weight-bold">Occupation</label>
                        <input v-model="form.spouse_occupation" type="text" name="spouse_occupation" class="input is-small">
                    </div>
                </div>
            </div>
            <br>
            <a class="button is-primary is-medium is-fullwidth" @click="updateCandidate()"><b>Update Candidate</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {}
            }
        },
        methods: {
            back() {
                this.$router.push(`/familyPlanning/View/${this.$route.params.id}`);
            },
            
            loadCandidate() {
                axios.get(`/api/familyPlanning/${this.$route.params.id}`)
                .then( data => {
                    this.form = data.data;
                });
            },

            updateCandidate() {
                axios.put(`/api/familyPlanning/${this.$route.params.id}`, this.form)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Candidate Updated',
                    })
                    this.back();
                })
            }

        },
        created() {
            this.loadCandidate();
        }
    }
</script>