<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Medical History</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body has-text-centered">
            <div class="step-content has-text-centered">
            <br><br>
            <div class="columns">
                <div class="column is-4">
                    <b>Heent</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input
                            v-model="form.epilepsy" 
                            class="is-checkradio is-circle is-primary" 
                            id="epilepsy" 
                            type="checkbox" 
                            name="epilepsy">
                        <label for="epilepsy" class="is-size-7"><b>Epilepsy/Convulsion/Seizure</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.dizziness" 
                            class="is-checkradio is-circle is-primary" 
                            id="dizziness" 
                            type="checkbox" 
                            name="dizziness" >
                        <label for="dizziness" class="is-size-7"><b>Severe Headache/Dizziness</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.blur_vision" 
                            class="is-checkradio is-circle is-primary" 
                            id="blur_vision" 
                            type="checkbox" 
                            name="blur_vision" 
                            checked="checked">
                        <label for="blur_vision" class="is-size-7"><b>Visual Disturbance/Blurring of Vision</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.conjuctiva" 
                            class="is-checkradio is-circle is-primary" 
                            id="conjuctiva" 
                            type="checkbox" 
                            name="conjuctiva" 
                            checked="checked">
                        <label for="conjuctiva" class="is-size-7"><b>Yellowish Conjuctiva</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.thyroid" 
                            class="is-checkradio is-circle is-primary" 
                            id="thyroid" 
                            type="checkbox" 
                            name="thyroid" 
                            checked="checked">
                        <label for="thyroid" class="is-size-7"><b>Enlarged Thyroid</b></label>
                    </div>
                    <b>Skin</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.yellowish_skin" 
                            class="is-checkradio is-circle is-primary" 
                            id="yellowish_skin" 
                            type="checkbox" 
                            name="yellowish_skin" 
                            checked="checked">
                        <label for="yellowish_skin" class="is-size-7"><b>Yellowish Skin</b></label>
                    </div>

                    <b>History of any of the Following</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.smoking" 
                            class="is-checkradio is-circle is-primary" 
                            id="smoking" 
                            type="checkbox" 
                            name="smoking" 
                            checked="checked">
                        <label for="smoking" class="is-size-7"><b>Smoking</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.allergies" 
                            class="is-checkradio is-circle is-primary" 
                            id="allergies" 
                            type="checkbox" 
                            name="allergies" 
                            checked="checked">
                        <label for="allergies" class="is-size-7"><b>Allergies</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.drug_intake" 
                            class="is-checkradio is-circle is-primary" 
                            id="drug_intake" 
                            type="checkbox" 
                            name="drug_intake" 
                            checked="checked">
                        <label for="drug_intake" class="is-size-7"><b>Drug Intake(Anti-Tuberculosis, Anti-Diabetic, Anticonvulsant)</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.bleeding_tendencies" 
                            class="is-checkradio is-circle is-primary" 
                            id="bleeding_tendencies" 
                            type="checkbox" 
                            name="bleeding_tendencies" 
                            checked="checked">
                        <label for="bleeding_tendencies" class="is-size-7"><b>Bleeding Tendencies(Nose, Gums, etc.)</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.anemia" 
                            class="is-checkradio is-circle is-primary" 
                            id="anemia" 
                            type="checkbox" 
                            name="anemia" 
                            checked="checked">
                        <label for="anemia" class="is-size-7"><b>Anemia</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.diabetes" 
                            class="is-checkradio is-circle is-primary" 
                            id="diabetes" 
                            type="checkbox" 
                            name="diabetes" 
                            checked="checked">
                        <label for="diabetes" class="is-size-7"><b>Diabetes</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.hydatidiform" 
                            class="is-checkradio is-circle is-primary" 
                            id="hydatidiform" 
                            type="checkbox" 
                            name="hydatidiform" 
                            checked="checked">
                        <label for="hydatidiform" class="is-size-7"><b>Hydatidiform mole</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.ectopic_pregnancy" 
                            class="is-checkradio is-circle is-primary" 
                            id="ectopic_pregnancy" 
                            type="checkbox" 
                            name="ectopic_pregnancy" 
                            checked="checked">
                        <label for="ectopic_pregnancy" class="is-size-7"><b>Ectopic Pregnancy</b></label>
                    </div>
                </div>
                <div class="column is-4">
                    <b>Chest/Heart</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.chest_pain" 
                            class="is-checkradio is-circle is-primary" 
                            id="chest_pain" 
                            type="checkbox" 
                            name="chest_pain" 
                            checked="checked">
                        <label for="chest_pain" class="is-size-7"><b>Severe Chest Pain</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.fatigability" 
                            class="is-checkradio is-circle is-primary" 
                            id="fatigability" 
                            type="checkbox" 
                            name="fatigability" 
                            checked="checked">
                        <label for="fatigability" class="is-size-7"><b>Shortness of Breath and Easy Fatigability</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.axillary" 
                            class="is-checkradio is-circle is-primary" 
                            id="axillary" 
                            type="checkbox" 
                            name="axillary" 
                            checked="checked">
                        <label for="axillary" class="is-size-7"><b>Breast/Axilliary Masses</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.nipple_discharge" 
                            class="is-checkradio is-circle is-primary" 
                            id="nipple_discharge" 
                            type="checkbox" 
                            name="nipple_discharge" 
                            checked="checked">
                        <label for="nipple_discharge" class="is-size-7"><b>Nipple Discharges</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.systolic" 
                            class="is-checkradio is-circle is-primary" 
                            id="systolic" 
                            type="checkbox" 
                            name="systolic" 
                            checked="checked">
                        <label for="systolic" class="is-size-7"><b>Systolic of 140 & Above</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.diastolic" 
                            class="is-checkradio is-circle is-primary" 
                            id="diastolic" 
                            type="checkbox" 
                            name="diastolic" 
                            checked="checked">
                        <label for="diastolic" class="is-size-7"><b>Diastolic of 90 & Above</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.cva_history" 
                            class="is-checkradio is-circle is-primary" 
                            id="cva_history" 
                            type="checkbox" 
                            name="cva_history" 
                            checked="checked">
                        <label for="cva_history" class="is-size-7"><b>Family History of CVA(stroke), Hypertension, Asthma, Rheumatic Heart Disease</b></label>
                    </div>
                    <b>Genital</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.mass_uterus" 
                            class="is-checkradio is-circle is-primary" 
                            id="mass_uterus" 
                            type="checkbox" 
                            name="mass_uterus" 
                            checked="checked">
                        <label for="mass_uterus" class="is-size-7"><b>Mass in the Uterus</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.vaginal_discharge" 
                            class="is-checkradio is-circle is-primary" 
                            id="vaginal_discharge" 
                            type="checkbox" 
                            name="vaginal_discharge" 
                            checked="checked">
                        <label for="vaginal_discharge" class="is-size-7"><b>Vaginal Discharge</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.intermenstrual_bleeding" 
                            class="is-checkradio is-circle is-primary" 
                            id="intermenstrual_bleeding" 
                            type="checkbox" 
                            name="intermenstrual_bleeding" 
                            checked="checked">
                        <label for="intermenstrual_bleeding" class="is-size-7"><b>Intermenstrual Bleeding</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.postcoital_bleeding" 
                            class="is-checkradio is-circle is-primary" 
                            id="postcoital_bleeding" 
                            type="checkbox" 
                            name="postcoital_bleeding" 
                            checked="checked">
                        <label for="postcoital_bleeding" class="is-size-7"><b>Postcoital Bleeding</b></label>
                    </div>
                </div>
                <div class="column is-4">
                    <b>Abdomen</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.mass_abdomen" 
                            class="is-checkradio is-circle is-primary" 
                            id="mass_abdomen" 
                            type="checkbox" 
                            name="mass_abdomen" 
                            checked="checked">
                        <label for="mass_abdomen" class="is-size-7"><b>Mass in the Abdomen</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.gallbladder_disease" 
                            class="is-checkradio is-circle is-primary" 
                            id="gallbladder_disease" 
                            type="checkbox" 
                            name="gallbladder_disease" 
                            checked="checked">
                        <label for="gallbladder_disease" class="is-size-7"><b>History of Gallblader Disease</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.liver_disease" 
                            class="is-checkradio is-circle is-primary" 
                            id="liver_disease" 
                            type="checkbox" 
                            name="liver_disease" 
                            checked="checked">
                        <label for="liver_disease" class="is-size-7"><b>History of Liver Disease</b></label>
                    </div>
                    <b>Extremities</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.varicosities" 
                            class="is-checkradio is-circle is-primary" 
                            id="varicosities" 
                            type="checkbox" 
                            name="varicosities" 
                            checked="checked">
                        <label for="varicosities" class="is-size-7"><b>Severe Varicosities</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.severe_pain" 
                            class="is-checkradio is-circle is-primary" 
                            id="severe_pain" 
                            type="checkbox" 
                            name="severe_pain" 
                            checked="checked">
                        <label for="severe_pain" class="is-size-7"><b>Swelling or Severe Pain in the Legs not Related to Injury</b></label>
                    </div>
                </div>
            </div>
        </div>
            <br>
            <a class="button is-primary is-medium is-fullwidth" @click="updateMedicalHistory()"><b>Update Medical History</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {}
            }
        },
        methods: {
            back() {
                this.$router.push(`/familyPlanning/View/${this.$route.params.id}`);
            },
            
            loadMedicalHistory() {
                axios.get(`/api/medicalHistory/${this.$route.params.id}`)
                .then( data => {
                    this.form = data.data;
                });
            },

            updateMedicalHistory() {
                axios.put(`/api/medicalHistory/${this.form.id}`, this.form)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Candidate Updated Medical History',
                    })
                    this.back();
                })
            }
        },
        created() {
            this.loadMedicalHistory();
        }
    }
</script>