<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Obsterical History</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body has-text-centered">
            <div class="columns">
                <div class="column is-6">
                    Number of pregnancies:
                    <label class="is-size-7 has-text-weight-bold">Full Term</label>
                    <input v-model="form.full_term" type="number" name="full_term" class="input is-small">
                    <label class="is-size-7 has-text-weight-bold">Abortion</label>
                    <input v-model="form.abortions" type="number" name="abortions" class="input is-small">
                    <hr>
                    <div class="m-b-5 m-t-5 has-text-left">
                        <label class="is-size-7 has-text-weight-bold">Date of Last Delivery</label>
                    </div>
                    <div class="m-b-5 m-t-5  has-text-left">
                        <label class="is-size-7 has-text-weight-bold">Type of Last Delivery</label>
                    </div>
                    <div class="m-b-5 m-t-5  has-text-left">
                        <label class="is-size-7 has-text-weight-bold m-b-10">Past Menstrual Period</label>
                    </div>
                    <div class="m-b-5 m-t-5  has-text-left">
                        <label class="is-size-7 has-text-weight-bold m-b-10">Last Menstrual Period</label>
                    </div>
                    <div class="m-b-5 m-t-5  has-text-left">
                        <label class="is-size-7 has-text-weight-bold m-b-10">Duration and Character Menstrual Bleeding</label>
                    </div>
                </div>
                <div class="column">
                    <label class="is-size-7 has-text-weight-bold">Premature</label>
                    <input v-model="form.premature" type="number" name="premature" class="input is-small">
                    <label class="is-size-7 has-text-weight-bold">Living Children</label>
                    <input v-model="form.living_children" type="number" name="living_children" class="input is-small">
                    <hr>
                    <input v-model="form.date_last_delivery" type="date" name="date_last_delivery" class="input is-small m-b-3">
                    <input v-model="form.type_last_delivery" type="text" name="type_last_delivery" class="input is-small m-b-3">
                    <input v-model="form.past_menstrual_periods" type="text" name="past_menstrual_periods" class="input is-small m-b-3">
                    <input v-model="form.last_menstrual_periods" type="text" name="last_menstrual_periods" class="input is-small m-b-3">
                    <input v-model="form.duration_menstrual_perios" type="text" name="duration_menstrual_perios" class="input is-small m-b-3">
                </div>
            </div>
            <br>
            <a class="button is-primary is-medium is-fullwidth" @click="updateObsterical()"><b>Update Obsterical History</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {}
            }
        },
        methods: {
            back() {
                this.$router.push(`/familyPlanning/View/${this.$route.params.id}`);
            },
            
            loadObsterical() {
                axios.get(`/api/obsterical/${this.$route.params.id}`)
                .then( data => {
                    this.form = data.data;
                });
            },

            updateObsterical() {
                axios.put(`/api/obsterical/${this.form.id}`, this.form)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Candidate Updated Obsterical History',
                    })
                    this.back();
                })
            }
        },
        created() {
            this.loadObsterical();
        }
    }
</script>