<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Pelvic Examination</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body has-text-centered">
            <div class="step-content has-text-centered">
            <br><br>
            <div class="columns">
                <div class="column is-3">
                    <label class="is-size-7 has-text-weight-bold">Please Specify not in the Lists</label>
                    <input v-model="form.others" type="text" name="others" class="input is-small">
                    <br>
                    <b>Perinium</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.perinium_scars" 
                            class="is-checkradio is-circle is-primary" 
                            id="perinium_scars" 
                            type="checkbox" 
                            name="perinium_scars" 
                            checked="checked">
                        <label for="perinium_scars" class="is-size-7"><b>Scars</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.perinium_warts" 
                            class="is-checkradio is-circle is-primary" 
                            id="perinium_warts" 
                            type="checkbox" 
                            name="perinium_warts" 
                            checked="checked">
                        <label for="perinium_warts" class="is-size-7"><b>Warts</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.perinium_reddish" 
                            class="is-checkradio is-circle is-primary" 
                            id="perinium_reddish" 
                            type="checkbox" 
                            name="perinium_reddish" 
                            checked="checked">
                        <label for="perinium_reddish" class="is-size-7"><b>Reddish</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.perinium_laceration" 
                            class="is-checkradio is-circle is-primary" 
                            id="perinium_laceration" 
                            type="checkbox" 
                            name="perinium_laceration" 
                            checked="checked">
                        <label for="perinium_laceration" class="is-size-7"><b>Laceration</b></label>
                    </div>
                </div>
                <div class="column is-3">
                    <b>Vagina</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.vagina_congested" 
                            class="is-checkradio is-circle is-primary" 
                            id="vagina_congested" 
                            type="checkbox" 
                            name="vagina_congested" 
                            checked="checked">
                        <label for="vagina_congested" class="is-size-7"><b>Congested</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.vagina_cyst" 
                            class="is-checkradio is-circle is-primary" 
                            id="vagina_cyst" 
                            type="checkbox" 
                            name="vagina_cyst" 
                            checked="checked">
                        <label for="vagina_cyst" class="is-size-7"><b>Barthilin's Cyst</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.vagina_warts" 
                            class="is-checkradio is-circle is-primary" 
                            id="vagina_warts" 
                            type="checkbox" 
                            name="vagina_warts" 
                            checked="checked">
                        <label for="vagina_warts" class="is-size-7"><b>Warts</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.vagina_skene" 
                            class="is-checkradio is-circle is-primary" 
                            id="vagina_skene" 
                            type="checkbox" 
                            name="vagina_skene" 
                            checked="checked">
                        <label for="vagina_skene" class="is-size-7"><b>Skenes Gland Discharged</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.vagina_rectocele" 
                            class="is-checkradio is-circle is-primary" 
                            id="vagina_rectocele" 
                            type="checkbox" 
                            name="vagina_rectocele" 
                            checked="checked">
                        <label for="vagina_rectocele" class="is-size-7"><b>Rectocele</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.vagina_cystocele" 
                            class="is-checkradio is-circle is-primary" 
                            id="vagina_cystocele" 
                            type="checkbox" 
                            name="vagina_cystocele" 
                            checked="checked">
                        <label for="vagina_cystocele" class="is-size-7"><b>Cystocele</b></label>
                    </div>
                </div>
                <div class="column is-3">
                    <b>Cervix</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.cervic_congested" 
                            class="is-checkradio is-circle is-primary" 
                            id="cervic_congested" 
                            type="checkbox" 
                            name="cervic_congested" 
                            checked="checked">
                        <label for="cervic_congested" class="is-size-7"><b>Congested</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.cervic_erosion" 
                            class="is-checkradio is-circle is-primary" 
                            id="cervic_erosion" 
                            type="checkbox" 
                            name="cervic_erosion" 
                            checked="checked">
                        <label for="cervic_erosion" class="is-size-7"><b>Erosion</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.cervic_discharge" 
                            class="is-checkradio is-circle is-primary" 
                            id="cervic_discharge" 
                            type="checkbox" 
                            name="cervic_discharge" 
                            checked="checked">
                        <label for="cervic_discharge" class="is-size-7"><b>Discharge</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.cervic_polyps" 
                            class="is-checkradio is-circle is-primary" 
                            id="cervic_polyps" 
                            type="checkbox" 
                            name="cervic_polyps" 
                            checked="checked">
                        <label for="cervic_polyps" class="is-size-7"><b>Polyps/Cysts</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.cervic_laceration" 
                            class="is-checkradio is-circle is-primary" 
                            id="cervic_laceration" 
                            type="checkbox" 
                            name="cervic_laceration" 
                            checked="checked">
                        <label for="cervic_laceration" class="is-size-7"><b>Laceration Consistency</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.consistancy_firm" 
                            class="is-checkradio is-circle is-primary" 
                            id="consistancy_firm" 
                            type="checkbox" 
                            name="consistancy_firm" 
                            checked="checked">
                        <label for="consistancy_firm" class="is-size-7"><b>Firm</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.consistancy_soft" 
                            class="is-checkradio is-circle is-primary" 
                            id="consistancy_soft" 
                            type="checkbox" 
                            name="consistancy_soft" 
                            checked="checked">
                        <label for="consistancy_soft" class="is-size-7"><b>Soft</b></label>
                    </div>
                </div>
                <div class="column">
                    <b>Uterus</b>
                    <hr class="m-t-0">
                    <label class="is-size-7 has-text-weight-bold">Position</label>
                    <div class="select is-fullwidth">
                        <select name="uterus_position" v-model="form.uterus_position" id="gender" class="input is-small">
                            <option value="1">Mid</option>
                            <option value="2">Anteflexed</option>
                            <option value="3">Retroflexed</option>
                        </select>
                    </div>
                    <label class="is-size-7 has-text-weight-bold">size</label>
                    <div class="select is-fullwidth">
                        <select name="uterus_size" v-model="form.uterus_size" id="gender" class="input is-small">
                            <option value="1">Normal</option>
                            <option value="2">Small</option>
                            <option value="3">Large</option>
                        </select>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.uterus_mass" 
                            class="is-checkradio is-circle is-primary" 
                            id="uterus_mass" 
                            type="checkbox" 
                            name="uterus_mass" 
                            checked="checked">
                        <label for="uterus_mass" class="is-size-7"><b>Mass</b></label>
                    </div>
                    <label class="is-size-7 has-text-weight-bold">Uterin Depth(cms)-for Intended IUD user</label>
                    <input v-model="form.uterine_depth" type="number" name="uterine_depth" class="input is-small">
                    <br>
                    <b>Adnexa</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.adnex_mass" 
                            class="is-checkradio is-circle is-primary" 
                            id="adnex_mass" 
                            type="checkbox" 
                            name="adnex_mass" 
                            checked="checked">
                        <label for="adnex_mass" class="is-size-7"><b>Mass</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.adnex_tenderness" 
                            class="is-checkradio is-circle is-primary" 
                            id="adnex_tenderness" 
                            type="checkbox" 
                            name="adnex_tenderness" 
                            checked="checked">
                        <label for="adnex_tenderness" class="is-size-7"><b>Tenderness</b></label>
                    </div>
                </div>
            </div>
        </div>
            <br>
            <a class="button is-primary is-medium is-fullwidth" @click="updatePelvic()"><b>Update Pelvic Examination</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {}
            }
        },
        methods: {
            back() {
                this.$router.push(`/familyPlanning/View/${this.$route.params.id}`);
            },
            
            loadPelvic() {
                axios.get(`/api/pelvic/${this.$route.params.id}`)
                .then( data => {
                    this.form = data.data;
                });
            },

            updatePelvic() {
                axios.put(`/api/pelvic/${this.form.id}`, this.form)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Candidate Updated Pelvic Examination',
                    })
                    this.back();
                })
            }
        },
        created() {
            this.loadPelvic();
        }
    }
</script>