<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Physical Examination</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body has-text-centered">
            <div class="step-content has-text-centered">
            <br><br>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-7 has-text-weight-bold">Blood Pressure(mm)</label>
                    <input v-model="form.blood_pressure" type="text" name="blood_pressure" class="input is-small m-b-3">
                </div>
                <div class="column is-4">
                    <label class="is-size-7 has-text-weight-bold">Weight(kd/lbs)</label>
                    <input v-model="form.weight" type="number" name="weight" class="input is-small m-b-3">
                </div>
                <div class="column is-4">
                    <label class="is-size-7 has-text-weight-bold">Pulse Rate/Min(N.V. = 70 to 80/min)</label>
                    <input v-model="form.pulse_rate" type="number" name="pulse_rate" class="input is-small m-b-3">
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <b>Left Breast</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.left_breast_mass" 
                            class="is-checkradio is-circle is-primary" 
                            id="left_breast_mass" 
                            type="checkbox" 
                            name="left_breast_mass" 
                            checked="checked">
                        <label for="left_breast_mass" class="is-size-7"><b>Mass</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.left_breast_nipple_discharge" 
                            class="is-checkradio is-circle is-primary" 
                            id="left_breast_nipple_discharge" 
                            type="checkbox" 
                            name="left_breast_nipple_discharge" 
                            checked="checked">
                        <label for="left_breast_nipple_discharge" class="is-size-7"><b>Nipple Discharge</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.left_breast_orange_peel" 
                            class="is-checkradio is-circle is-primary" 
                            id="left_breast_orange_peel" 
                            type="checkbox" 
                            name="left_breast_orange_peel" 
                            checked="checked">
                        <label for="left_breast_orange_peel" class="is-size-7"><b>Skin - Orange Peel or Dumpling</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.left_breast_enlarge_axillary" 
                            class="is-checkradio is-circle is-primary" 
                            id="left_breast_enlarge_axillary" 
                            type="checkbox" 
                            name="left_breast_enlarge_axillary" 
                            checked="checked">
                        <label for="left_breast_enlarge_axillary" class="is-size-7"><b>Enlarged Axillary Lymph Nodes</b></label>
                    </div>
                </div>
                <div class="column is-6">
                    <b>Right Breast</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.right_breast_mass" 
                            class="is-checkradio is-circle is-primary" 
                            id="right_breast_mass" 
                            type="checkbox" 
                            name="right_breast_mass" 
                            checked="checked">
                        <label for="right_breast_mass" class="is-size-7"><b>Mass</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.right_breast_nipple_discharge" 
                            class="is-checkradio is-circle is-primary" 
                            id="right_breast_nipple_discharge" 
                            type="checkbox" 
                            name="right_breast_nipple_discharge" 
                            checked="checked">
                        <label for="right_breast_nipple_discharge" class="is-size-7"><b>Nipple Discharge</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.right_breast_orange_peel" 
                            class="is-checkradio is-circle is-primary" 
                            id="right_breast_orange_peel" 
                            type="checkbox" 
                            name="right_breast_orange_peel" 
                            checked="checked">
                        <label for="right_breast_orange_peel" class="is-size-7"><b>Skin - Orange Peel or Dumpling</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.right_breast_enlarge_axillary" 
                            class="is-checkradio is-circle is-primary" 
                            id="right_breast_enlarge_axillary" 
                            type="checkbox" 
                            name="right_breast_enlarge_axillary" 
                            checked="checked">
                        <label for="right_breast_enlarge_axillary" class="is-size-7"><b>Enlarged Axillary Lymph Nodes</b></label>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <b>Thorax</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.abnormal_heart" 
                            class="is-checkradio is-circle is-primary" 
                            id="abnormal_heart" 
                            type="checkbox" 
                            name="abnormal_heart" 
                            checked="checked">
                        <label for="abnormal_heart" class="is-size-7"><b>Abnormal Heart Sounds/Cardiac Rate</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.abnormal_breath" 
                            class="is-checkradio is-circle is-primary" 
                            id="abnormal_breath" 
                            type="checkbox" 
                            name="abnormal_breath" 
                            checked="checked">
                        <label for="abnormal_breath" class="is-size-7"><b>Abnormal Breath Sounds/Respiratory Rate</b></label>
                    </div>
                </div>
                <div class="column is-4">
                    <b>Abdomen</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.abdomen_enlarged_lever" 
                            class="is-checkradio is-circle is-primary" 
                            id="abdomen_enlarged_lever" 
                            type="checkbox" 
                            name="abdomen_enlarged_lever" 
                            checked="checked">
                        <label for="abdomen_enlarged_lever" class="is-size-7"><b>Enlarged Lever</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.abdomen_mass" 
                            class="is-checkradio is-circle is-primary" 
                            id="abdomen_mass" 
                            type="checkbox" 
                            name="abdomen_mass" 
                            checked="checked">
                        <label for="abdomen_mass" class="is-size-7"><b>Mass</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.abdomen_tenderness" 
                            class="is-checkradio is-circle is-primary" 
                            id="abdomen_tenderness" 
                            type="checkbox" 
                            name="abdomen_tenderness" 
                            checked="checked">
                        <label for="abdomen_tenderness" class="is-size-7"><b>Tenderness</b></label>
                    </div>
                </div>
                <div class="column is-4">
                    <b>Extremities</b>
                    <hr class="m-t-0">
                    <div class="field has-text-left">
                        <input 
                            v-model="form.edema" 
                            class="is-checkradio is-circle is-primary" 
                            id="edema" 
                            type="checkbox" 
                            name="edema" 
                            checked="checked">
                        <label for="edema" class="is-size-7"><b>Edema</b></label>
                    </div>
                    <div class="field has-text-left">
                        <input 
                            v-model="form.physical_varicosities" 
                            class="is-checkradio is-circle is-primary" 
                            id="physical_varicosities" 
                            type="checkbox" 
                            name="physical_varicosities" 
                            checked="checked">
                        <label for="physical_varicosities" class="is-size-7"><b>Varicosities</b></label>
                    </div>
                </div>
            </div>
        </div>
            <br><br>
            <a class="button is-primary is-medium is-fullwidth" @click="updatePhysical()"><b>Update Physical Examination</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {}
            }
        },
        methods: {
            back() {
                this.$router.push(`/familyPlanning/View/${this.$route.params.id}`);
            },
            
            loadPhysical() {
                axios.get(`/api/physical/${this.$route.params.id}`)
                .then( data => {
                    this.form = data.data;
                });
            },

            updatePhysical() {
                axios.put(`/api/physical/${this.form.id}`, this.form)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Candidate Updated Physical Examination',
                    })
                    this.back();
                })
            }
        },
        created() {
            this.loadPhysical();
        }
    }
</script>