<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>RISK FOR VIOLENCE AGAINST WOMEN(VAW)</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body has-text-centered">
            <b>VAW</b>
            <hr class="m-t-0">
            <div class="field has-text-left">
                <input 
                    v-model="form.vaw_history" 
                    class="is-checkradio is-circle is-primary" 
                    id="vaw_history" 
                    type="checkbox" 
                    name="vaw_history" 
                    checked="checked">
                <label for="vaw_history" class="is-size-7"><b>History of dometic violence or VAW</b></label>
            </div>
            <div class="field has-text-left">
                <input 
                    v-model="form.unpleasant_relation" 
                    class="is-checkradio is-circle is-primary" 
                    id="unpleasant_relation" 
                    type="checkbox" 
                    name="unpleasant_relation" 
                    checked="checked">
                <label for="unpleasant_relation" class="is-size-7"><b>Unpleasant Relationship with Partner</b></label>
            </div>
            <div class="field has-text-left">
                <input 
                    v-model="form.partner_not_approved" 
                    class="is-checkradio is-circle is-primary" 
                    id="partner_not_approved" 
                    type="checkbox" 
                    name="partner_not_approved" 
                    checked="checked">
                <label for="partner_not_approved" class="is-size-7"><b>Partner Does Not Approve of the Visit to FP clinic</b></label>
            </div>
            <div class="field has-text-left">
                <input 
                    v-model="form.partner_disagree" 
                    class="is-checkradio is-circle is-primary" 
                    id="partner_disagree" 
                    type="checkbox" 
                    name="partner_disagree" 
                    checked="checked">
                <label for="partner_disagree" class="is-size-7"><b>Partner Disagrees to use FP</b></label>
            </div>
            <label class="is-size-7 has-text-weight-bold">Reffered to</label>
            <div class="select is-fullwidth">
                <select name="reffered_to" v-model="form.reffered_to" id="reffered_to" class="input is-small">
                    <option value="0">Others</option>
                    <option value="1">DSWD</option>
                    <option value="2">WCPU</option>
                    <option value="3">NGOs</option>
                </select>
            </div>
            <div class="field" :hidden="form.reffered_to != 0">
                <label class="is-size-7 has-text-weight-bold">Please Specify</label>
                <input v-model="form.other" type="text" name="other" class="input is-small">
            </div>
            <br>
            <a class="button is-primary is-medium is-fullwidth" @click="updateVaw()"><b>Update Vaw</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {}
            }
        },
        methods: {
            back() {
                this.$router.push(`/familyPlanning/View/${this.$route.params.id}`);
            },
            
            loadVaw() {
                axios.get(`/api/vaw/${this.$route.params.id}`)
                .then( data => {
                    this.form = data.data;
                });
            },

            updateVaw() {
                axios.put(`/api/vaw/${this.form.id}`, this.form)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Candidate Updated VAW Information',
                    })
                    this.back();
                })
            }
        },
        created() {
            this.loadVaw();
        }
    }
</script>