<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>{{ candidate.last_name }}, {{ candidate.First_name }} Family Planning Service Record</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="back()" class="float has-background-danger">
                <i class="fas fa-undo my-float is-size-3"></i>
            </a>
            <a @click="toForm()" class="button is-link has-text-weight-bold is-pulled-left"><i class="fa fa-plus" aria-hidden="true"></i>Add Record</a>
            <br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th class="is-size-7">Date & Time Service Given</th>
                        <th class="is-size-7">Method Brand</th>
                        <th class="is-size-7">No. of Units</th>
                        <th class="is-size-7">Remarks</th>
                        <th class="is-size-7">Name of Provider</th>
                        <th class="is-size-7">Next Service Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="record in records" :key="record.id">
                    <td>{{ record.created_at }}</td>
                    <td>{{ record.method_brand }}</td>
                    <td>{{ record.number_of_units }}</td>
                    <td>{{ record.remarks }}</td>
                    <td>{{ record.provider_name }}</td>
                    <td>{{ record.next_service }}</td>
                    <td>
                        <a class="button is-success" @click="updateForm(record)">
                            <span class="icon is-small">
                                <i class="fa fa-cogs"></i>
                            </span>
                        </a>
                        <a class="button is-danger" @click="deleteRecord(record.id)">
                            <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">{{ modalheader }}</p>
                    </div>
                    <form @submit.prevent="edit ? updateRecord() : saveRecord()">
                    <div class="message-body">
                        <div class="field">
                            <label class="label">Method Brand:</label>
                            <div class="control">
                                <input v-model="form.method_brand" type="text" name="method_brand" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Number of Units:</label>
                            <div class="control">
                                <input v-model="form.number_of_units" type="number" name="number_of_units" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Remarks:</label>
                            <div class="control">
                                <input v-model="form.remarks" type="text" name="remarks" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Name of Provider:</label>
                            <div class="control">
                                <input v-model="form.provider_name" type="text" name="provider_name" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Date of next Service:</label>
                            <div class="control">
                                <input v-model="form.next_service" type="date" name="birthdate" class="input">
                            </div>
                        </div>
                    </div>
                    <div class="message-footer" style="padding: 20px">
                        <a class="button is-danger is-pulled-left" @click="showModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Save Record</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                candidate:[],
                records:{},
                edit: false,
                showModal: false,
                modalheader:'Add New Record',
                form: {
                    id:'',
                    family_planning_id:'',
                    method_brand:'',
                    number_of_units:'',
                    remarks:'',
                    provider_name:'',
                    next_service:''
                },
            }
        },
        methods: {
            clearForm() {
                this.form.id = '';
                this.form.method_brand = '';
                this.form.number_of_units = '';
                this.form.remarks = '';
                this.form.provider_name = '';
                this.form.next_service = '';
                this.edit = false;
                this.modalHeader = 'Add New Record';
                this.showModal = false; 
            },

            getCandidate() {
                this.form.family_planning_id = this.$route.params.id;
                axios.get('/api/familyPlanning/'+ this.$route.params.id)
                .then( data => {
                    console.log(data.data);
                    this.candidate = data.data;
                });
            },

            deleteRecord(id) {
                axios.delete('/api/familyPlanningServiceRecord/'+ id)
                .then( data => {
                    this.getRecords();
                    Swal.fire({
                        type: 'success',
                        title: 'Deleted',
                        text: 'Deleted Successfully',
                    });
                });
            },

            getRecords(){
                axios.get('/api/familyPlanningServiceRecord/'+ this.$route.params.id)
                .then( data => {
                    this.records = data.data;
                });
            },

            toForm() {
                this.showModal = true;
            },

            updateForm(record) {
                this.form.id = record.id;
                this.form.method_brand = record.method_brand;
                this.form.number_of_units = record.number_of_units;
                this.form.remarks = record.remarks;
                this.form.provider_name = record.provider_name;
                this.form.next_service = record.next_service;
                this.edit = true;
                this.modalHeader = 'Modify Record';
                this.showModal = true; 
            },

            saveRecord() {
                axios.post('/api/familyPlanningServiceRecord', this.form)
                .then(()=>{
                    this.getRecords();
                    this.clearForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Record Added to Candidate',
                    });
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            updateRecord() {
                axios.put('/api/familyPlanningServiceRecord/'+this.form.id, this.form)
                .then(()=>{
                    this.clearForm();
                    this.getRecords();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: `Candidate's Record Modified`,
                    });
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            back() {
                this.$router.push('/familyPlanning');
            }
        },
        created() {
            this.getCandidate();
            this.getRecords();
        }
    }
</script>