<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            Family Planning Registration
            <br>
        </div>
        <div class="box is-marginless content-body stepper">
            <a @click="back()" class="float has-background-danger">
                <i class="fas fa-undo my-float is-size-3"></i>
            </a>
            <br>
            <div class="steps">
                <div class="step-item"
                    :class="step > 1 ? 'is-completed is-success':'is-active'">
                    <div class="step-marker">
                        <span class="icon">
                            <i :class="step > 1 ? 'fa fa-check':'fa fa-user'"></i>
                        </span>
                    </div>
                    <div class="step-details">
                        <p class="step-title">Step 1</p>
                        <p class="is-size-7">Input Clients Information.</p>
                    </div>
                </div>
                <div class="step-item"
                    :class="[step > 2 ? 'is-completed is-success':'', step == 2 ? 'is-active':'']">
                    <div class="step-marker">
                        <span class="icon">
                            <i :class="step > 2 ? 'fa fa-check':'fas fa-user-friends'"></i>
                        </span>
                    </div>
                    <div class="step-details">
                        <p class="step-title">Step 2</p>
                        <p class="is-size-7">Input Clients Spouse Information.</p>
                    </div>
                </div>
                <div class="step-item"
                    :class="[step > 3 ? 'is-completed is-success':'', step == 3 ? 'is-active':'']">
                    <div class="step-marker">
                        <span class="icon">
                            <i :class="step > 3 ? 'fa fa-check':'fas fa-heartbeat'"></i>
                        </span>
                    </div>
                    <div class="step-details">
                        <p class="step-title">Step 3</p>
                        <p class="is-size-7">Input Clients Medical History.</p>
                    </div>
                </div>
                <div class="step-item"
                    :class="[step > 4 ? 'is-completed is-success':'', step == 4 ? 'is-active':'']">
                    <div class="step-marker">
                        <span class="icon">
                            <i :class="step > 4 ? 'fa fa-check':'fas fa-walking'"></i>
                        </span>
                    </div>
                    <div class="step-details">
                        <p class="step-title">Step 4</p>
                        <p class="is-size-7">Input Clients Physical Examination.</p>
                    </div>
                </div>
                <div class="step-item"
                    :class="[step > 5 ? 'is-completed is-success':'', step == 5 ? 'is-active':'']">
                    <div class="step-marker">
                        <span class="icon">
                            <i :class="step > 5 ? 'fa fa-check':'fas fa-notes-medical'"></i>
                        </span>
                    </div>
                    <div class="step-details">
                        <p class="step-title">Step 5</p>
                        <p class="is-size-7">Input Clients Pelvic Examination.</p>
                    </div>
                </div>
                <div class="step-item"
                    :class="[step > 6 ? 'is-completed is-success':'', step == 6 ? 'is-active':'']">
                    <div class="step-marker">
                        <span class="icon">
                            <i :class="step > 6 ? 'fa fa-check':'fas fa-notes-medical'"></i>
                        </span>
                    </div>
                    <div class="step-details">
                        <p class="step-title">Step 6</p>
                        <p class="is-size-7">Input Clients VAW Information and Acknowledgement.</p>
                    </div>
                </div>
                <div class="step-item"
                    :class="[step > 7 ? 'is-completed is-success':'', step == 7 ? 'is-active':'']">
                    <div class="step-marker">
                        <span class="icon">
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                    <div class="step-details">
                        <p class="step-title">Finish</p>
                    </div>
                </div>
                <div class="steps-content">
                    <div class="step-content has-text-centered" :class="step === 1 ? 'is-active':''">
                        <div class="columns">
                            <div class="column is-6">
                                <label class="is-size-7 has-text-weight-bold">Type of Acceptor:</label>
                                <div class="select is-fullwidth">
                                    <select name="gender" v-model="form.type_of_acceptor" id="gender" class="input is-small">
                                        <option value="1">New To Program</option>
                                        <option value="0">Continuing User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column is-6" v-show="form.type_of_acceptor == 1">
                                <label class="is-size-7 has-text-weight-bold">Prevous Method</label>
                                <input v-model="form.prev_method" type="text" name="prev_method" class="input is-small">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Last Name</label>
                                <input v-model="form.last_name" type="text" name="last_name" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">First Name</label>
                                <input v-model="form.first_name" type="text" name="first_name" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Middle Name</label>
                                <input v-model="form.middle_name" type="text" name="middle_name" class="input is-small">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Date of Birth</label>
                                <input v-model="form.birthdate" type="date" name="birthdate" class="input is-small">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Highest Education</label>
                                <input v-model="form.highest_education" type="text" name="highest_education" class="input is-small">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Occupation</label>
                                <input v-model="form.occupation" type="text" name="occupation" class="input is-small">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Contact Number:</label>
                                <input v-model="form.contact_no" type="text" name="contact_no" class="input is-small">
                            </div>
                        </div>
                        <hr>
                        <b>Complete Address</b>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Street No/prk.</label>
                                <input v-model="form.street" type="text" name="street" class="input is-small">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Barangay</label>
                                <input v-model="form.barangay" type="text" name="barangay" class="input is-small">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Municipality</label>
                                <input v-model="form.municipality" type="text" name="municipality" class="input is-small">
                            </div>
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Province</label>
                                <input v-model="form.province" type="text" name="province" class="input is-small">
                            </div>
                        </div>
                        <hr>
                        <div class="columns">
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Average Monthly Income</label>
                                <input v-model="form.monthly_income" type="number" name="monthly_income" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Number of Living Children</label>
                                <input v-model="form.number_lived_children" type="number" name="number_lived_children" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Plan More Children?</label>
                                <div class="select is-fullwidth">
                                    <select name="gender" v-model="form.plan_more_children" id="gender" class="input is-small">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-6">
                                <label class="is-size-7 has-text-weight-bold">Reason for practicing FP</label>
                                <input v-model="form.reason" type="text" name="province" class="input is-small">
                            </div>
                            <div class="column is-6">
                                <label class="is-size-7 has-text-weight-bold">Method Accepted</label>
                                <div class="select is-fullwidth">
                                    <select name="gender" v-model="form.method_accepted" id="gender" class="input is-small">
                                        <option value="1">COC</option>
                                        <option value="2">Contraceptive Patch</option>
                                        <option value="3">POP</option>
                                        <option value="4">Injectable</option>
                                        <option value="5">Condom</option>
                                        <option value="6">IUD</option>
                                        <option value="7">BTL</option>
                                        <option value="8">VSC</option>
                                        <option value="9">LAM</option>
                                        <option value="10">SDM</option>
                                        <option value="11">BBT</option>
                                        <option value="12">Billings/Cervical Mucus/Ovulation Method</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="step-content has-text-centered" :class="step === 2 ? 'is-active':''">
                        <b>Spouse Information</b><br><br>
                        <div class="columns">
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Last Name</label>
                                <input v-model="form.spouse_last_name" type="text" name="spouse_last_name" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">First Name</label>
                                <input v-model="form.spouse_first_name" type="text" name="spouse_first_name" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Middle Name</label>
                                <input v-model="form.spouse_middle_name" type="text" name="spouse_middle_name" class="input is-small">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Date of Birth</label>
                                <input v-model="form.spouse_birthdate" type="date" name="spouse_birthdate" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Highest Education</label>
                                <input v-model="form.spouse_highest_education" type="text" name="spouse_highest_education" class="input is-small">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Occupation</label>
                                <input v-model="form.spouse_occupation" type="text" name="spouse_occupation" class="input is-small">
                            </div>
                        </div>
                    </div>
                    <div class="step-content has-text-centered" :class="step === 3 ? 'is-active':''">
                        <b>Medical History</b>
                        <br><br>
                        <div class="columns">
                            <div class="column is-4">
                                <b>Heent</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.epilepsy" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="epilepsy" 
                                        type="checkbox" 
                                        name="epilepsy" 
                                        checked="checked">
                                    <label for="epilepsy" class="is-size-7"><b>Epilepsy/Convulsion/Seizure</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.dizziness" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="dizziness" 
                                        type="checkbox" 
                                        name="dizziness" 
                                        checked="checked">
                                    <label for="dizziness" class="is-size-7"><b>Severe Headache/Dizziness</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.blur_vision" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="blur_vision" 
                                        type="checkbox" 
                                        name="blur_vision" 
                                        checked="checked">
                                    <label for="blur_vision" class="is-size-7"><b>Visual Disturbance/Blurring of Vision</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.conjuctiva" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="conjuctiva" 
                                        type="checkbox" 
                                        name="conjuctiva" 
                                        checked="checked">
                                    <label for="conjuctiva" class="is-size-7"><b>Yellowish Conjuctiva</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.thyroid" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="thyroid" 
                                        type="checkbox" 
                                        name="thyroid" 
                                        checked="checked">
                                    <label for="thyroid" class="is-size-7"><b>Enlarged Thyroid</b></label>
                                </div>
                                <b>Skin</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.yellowish_skin" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="yellowish_skin" 
                                        type="checkbox" 
                                        name="yellowish_skin" 
                                        checked="checked">
                                    <label for="yellowish_skin" class="is-size-7"><b>Yellowish Skin</b></label>
                                </div>

                                <b>History of any of the Following</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.smoking" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="smoking" 
                                        type="checkbox" 
                                        name="smoking" 
                                        checked="checked">
                                    <label for="smoking" class="is-size-7"><b>Smoking</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.allergies" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="allergies" 
                                        type="checkbox" 
                                        name="allergies" 
                                        checked="checked">
                                    <label for="allergies" class="is-size-7"><b>Allergies</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.drug_intake" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="drug_intake" 
                                        type="checkbox" 
                                        name="drug_intake" 
                                        checked="checked">
                                    <label for="drug_intake" class="is-size-7"><b>Drug Intake(Anti-Tuberculosis, Anti-Diabetic, Anticonvulsant)</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.bleeding_tendencies" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="bleeding_tendencies" 
                                        type="checkbox" 
                                        name="bleeding_tendencies" 
                                        checked="checked">
                                    <label for="bleeding_tendencies" class="is-size-7"><b>Bleeding Tendencies(Nose, Gums, etc.)</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.anemia" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="anemia" 
                                        type="checkbox" 
                                        name="anemia" 
                                        checked="checked">
                                    <label for="anemia" class="is-size-7"><b>Anemia</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.diabetes" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="diabetes" 
                                        type="checkbox" 
                                        name="diabetes" 
                                        checked="checked">
                                    <label for="diabetes" class="is-size-7"><b>Diabetes</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.hydatidiform" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="hydatidiform" 
                                        type="checkbox" 
                                        name="hydatidiform" 
                                        checked="checked">
                                    <label for="hydatidiform" class="is-size-7"><b>Hydatidiform mole</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.ectopic_pregnancy" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="ectopic_pregnancy" 
                                        type="checkbox" 
                                        name="ectopic_pregnancy" 
                                        checked="checked">
                                    <label for="ectopic_pregnancy" class="is-size-7"><b>Ectopic Pregnancy</b></label>
                                </div>
                                <b>Genital</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.mass_uterus" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="mass_uterus" 
                                        type="checkbox" 
                                        name="mass_uterus" 
                                        checked="checked">
                                    <label for="mass_uterus" class="is-size-7"><b>Mass in the Uterus</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vaginal_discharge" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vaginal_discharge" 
                                        type="checkbox" 
                                        name="vaginal_discharge" 
                                        checked="checked">
                                    <label for="vaginal_discharge" class="is-size-7"><b>Vaginal Discharge</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.intermenstrual_bleeding" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="intermenstrual_bleeding" 
                                        type="checkbox" 
                                        name="intermenstrual_bleeding" 
                                        checked="checked">
                                    <label for="intermenstrual_bleeding" class="is-size-7"><b>Intermenstrual Bleeding</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.postcoital_bleeding" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="postcoital_bleeding" 
                                        type="checkbox" 
                                        name="postcoital_bleeding" 
                                        checked="checked">
                                    <label for="postcoital_bleeding" class="is-size-7"><b>Postcoital Bleeding</b></label>
                                </div>
                            </div>
                            <div class="column is-4">
                                <b>Chest/Heart</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.chest_pain" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="chest_pain" 
                                        type="checkbox" 
                                        name="chest_pain" 
                                        checked="checked">
                                    <label for="chest_pain" class="is-size-7"><b>Severe Chest Pain</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.fatigability" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="fatigability" 
                                        type="checkbox" 
                                        name="fatigability" 
                                        checked="checked">
                                    <label for="fatigability" class="is-size-7"><b>Shortness of Breath and Easy Fatigability</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.axillary" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="axillary" 
                                        type="checkbox" 
                                        name="axillary" 
                                        checked="checked">
                                    <label for="axillary" class="is-size-7"><b>Breast/Axilliary Masses</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.nipple_discharge" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="nipple_discharge" 
                                        type="checkbox" 
                                        name="nipple_discharge" 
                                        checked="checked">
                                    <label for="nipple_discharge" class="is-size-7"><b>Nipple Discharges</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.systolic" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="systolic" 
                                        type="checkbox" 
                                        name="systolic" 
                                        checked="checked">
                                    <label for="systolic" class="is-size-7"><b>Systolic of 140 & Above</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.diastolic" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="diastolic" 
                                        type="checkbox" 
                                        name="diastolic" 
                                        checked="checked">
                                    <label for="diastolic" class="is-size-7"><b>Diastolic of 90 & Above</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.cva_history" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="cva_history" 
                                        type="checkbox" 
                                        name="cva_history" 
                                        checked="checked">
                                    <label for="cva_history" class="is-size-7"><b>Family History of CVA(stroke), Hypertension, Asthma, Rheumatic Heart Disease</b></label>
                                </div>
                                <b>Obsterical History</b>
                                <br>
                                Number of pregnancies:
                                <label class="is-size-7 has-text-weight-bold">Full Term</label>
                                <input v-model="form.full_term" type="number" name="full_term" class="input is-small">
                                <label class="is-size-7 has-text-weight-bold">Abortion</label>
                                <input v-model="form.abortions" type="number" name="abortions" class="input is-small">
                                <hr>
                                <div class="m-b-5 m-t-5 has-text-left">
                                    <label class="is-size-7 has-text-weight-bold">Date of Last Delivery</label>
                                </div>
                                <div class="m-b-5 m-t-5  has-text-left">
                                    <label class="is-size-7 has-text-weight-bold">Type of Last Delivery</label>
                                </div>
                                <div class="m-b-5 m-t-5  has-text-left">
                                    <label class="is-size-7 has-text-weight-bold m-b-10">Past Menstrual Period</label>
                                </div>
                                <div class="m-b-5 m-t-5  has-text-left">
                                    <label class="is-size-7 has-text-weight-bold m-b-10">Last Menstrual Period</label>
                                </div>
                                <div class="m-b-5 m-t-5  has-text-left">
                                    <label class="is-size-7 has-text-weight-bold m-b-10">Duration and Character Menstrual Bleeding</label>
                                </div>
                            </div>
                            <div class="column is-4">
                                <b>Abdomen</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.mass_abdomen" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="mass_abdomen" 
                                        type="checkbox" 
                                        name="mass_abdomen" 
                                        checked="checked">
                                    <label for="mass_abdomen" class="is-size-7"><b>Mass in the Abdomen</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.gallbladder_disease" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="gallbladder_disease" 
                                        type="checkbox" 
                                        name="gallbladder_disease" 
                                        checked="checked">
                                    <label for="gallbladder_disease" class="is-size-7"><b>History of Gallblader Disease</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.liver_disease" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="liver_disease" 
                                        type="checkbox" 
                                        name="liver_disease" 
                                        checked="checked">
                                    <label for="liver_disease" class="is-size-7"><b>History of Liver Disease</b></label>
                                </div>
                                <b>Extremities</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.varicosities" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="varicosities" 
                                        type="checkbox" 
                                        name="varicosities" 
                                        checked="checked">
                                    <label for="varicosities" class="is-size-7"><b>Severe Varicosities</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.severe_pain" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="severe_pain" 
                                        type="checkbox" 
                                        name="severe_pain" 
                                        checked="checked">
                                    <label for="severe_pain" class="is-size-7"><b>Swelling or Severe Pain in the Legs not Related to Injury</b></label>
                                </div>
                                <br><br><br>
                                <label class="is-size-7 has-text-weight-bold">Premature</label>
                                <input v-model="form.premature" type="number" name="premature" class="input is-small">
                                <label class="is-size-7 has-text-weight-bold">Living Children</label>
                                <input v-model="form.living_children" type="number" name="living_children" class="input is-small">
                                <hr>
                                <input v-model="form.date_last_delivery" type="date" name="date_last_delivery" class="input is-small m-b-3">
                                <input v-model="form.type_last_delivery" type="text" name="type_last_delivery" class="input is-small m-b-3">
                                <input v-model="form.past_menstrual_periods" type="text" name="past_menstrual_periods" class="input is-small m-b-3">
                                <input v-model="form.last_menstrual_periods" type="text" name="last_menstrual_periods" class="input is-small m-b-3">
                                <input v-model="form.duration_menstrual_perios" type="text" name="duration_menstrual_perios" class="input is-small m-b-3">
                            </div>
                        </div>
                    </div>
                    <div class="step-content has-text-centered" :class="step === 4 ? 'is-active':''">
                        <b>Physical Examination</b>
                        <br><br>
                        <div class="columns">
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Blood Pressure(mm)</label>
                                <input v-model="form.blood_pressure" type="text" name="blood_pressure" class="input is-small m-b-3">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Weight(kd/lbs)</label>
                                <input v-model="form.weight" type="number" name="weight" class="input is-small m-b-3">
                            </div>
                            <div class="column is-4">
                                <label class="is-size-7 has-text-weight-bold">Pulse Rate/Min(N.V. = 70 to 80/min)</label>
                                <input v-model="form.pulse_rate" type="number" name="pulse_rate" class="input is-small m-b-3">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-6">
                                <b>Left Breast</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.left_breast_mass" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="left_breast_mass" 
                                        type="checkbox" 
                                        name="left_breast_mass" 
                                        checked="checked">
                                    <label for="left_breast_mass" class="is-size-7"><b>Mass</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.left_breast_nipple_discharge" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="left_breast_nipple_discharge" 
                                        type="checkbox" 
                                        name="left_breast_nipple_discharge" 
                                        checked="checked">
                                    <label for="left_breast_nipple_discharge" class="is-size-7"><b>Nipple Discharge</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.left_breast_orange_peel" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="left_breast_orange_peel" 
                                        type="checkbox" 
                                        name="left_breast_orange_peel" 
                                        checked="checked">
                                    <label for="left_breast_orange_peel" class="is-size-7"><b>Skin - Orange Peel or Dumpling</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.left_breast_enlarge_axillary" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="left_breast_enlarge_axillary" 
                                        type="checkbox" 
                                        name="left_breast_enlarge_axillary" 
                                        checked="checked">
                                    <label for="left_breast_enlarge_axillary" class="is-size-7"><b>Enlarged Axillary Lymph Nodes</b></label>
                                </div>
                            </div>
                            <div class="column is-6">
                                <b>Right Breast</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.right_breast_mass" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="right_breast_mass" 
                                        type="checkbox" 
                                        name="right_breast_mass" 
                                        checked="checked">
                                    <label for="right_breast_mass" class="is-size-7"><b>Mass</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.right_breast_nipple_discharge" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="right_breast_nipple_discharge" 
                                        type="checkbox" 
                                        name="right_breast_nipple_discharge" 
                                        checked="checked">
                                    <label for="right_breast_nipple_discharge" class="is-size-7"><b>Nipple Discharge</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.right_breast_orange_peel" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="right_breast_orange_peel" 
                                        type="checkbox" 
                                        name="right_breast_orange_peel" 
                                        checked="checked">
                                    <label for="right_breast_orange_peel" class="is-size-7"><b>Skin - Orange Peel or Dumpling</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.right_breast_enlarge_axillary" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="right_breast_enlarge_axillary" 
                                        type="checkbox" 
                                        name="right_breast_enlarge_axillary" 
                                        checked="checked">
                                    <label for="right_breast_enlarge_axillary" class="is-size-7"><b>Enlarged Axillary Lymph Nodes</b></label>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">
                                <b>Thorax</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.abnormal_heart" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="abnormal_heart" 
                                        type="checkbox" 
                                        name="abnormal_heart" 
                                        checked="checked">
                                    <label for="abnormal_heart" class="is-size-7"><b>Abnormal Heart Sounds/Cardiac Rate</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.abnormal_breath" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="abnormal_breath" 
                                        type="checkbox" 
                                        name="abnormal_breath" 
                                        checked="checked">
                                    <label for="abnormal_breath" class="is-size-7"><b>Abnormal Breath Sounds/Respiratory Rate</b></label>
                                </div>
                            </div>
                            <div class="column is-4">
                                <b>Abdomen</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.abdomen_enlarged_lever" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="abdomen_enlarged_lever" 
                                        type="checkbox" 
                                        name="abdomen_enlarged_lever" 
                                        checked="checked">
                                    <label for="abdomen_enlarged_lever" class="is-size-7"><b>Enlarged Lever</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.abdomen_mass" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="abdomen_mass" 
                                        type="checkbox" 
                                        name="abdomen_mass" 
                                        checked="checked">
                                    <label for="abdomen_mass" class="is-size-7"><b>Mass</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.abdomen_tenderness" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="abdomen_tenderness" 
                                        type="checkbox" 
                                        name="abdomen_tenderness" 
                                        checked="checked">
                                    <label for="abdomen_tenderness" class="is-size-7"><b>Tenderness</b></label>
                                </div>
                            </div>
                            <div class="column is-4">
                                <b>Extremities</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.edema" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="edema" 
                                        type="checkbox" 
                                        name="edema" 
                                        checked="checked">
                                    <label for="edema" class="is-size-7"><b>Edema</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.physical_varicosities" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="physical_varicosities" 
                                        type="checkbox" 
                                        name="physical_varicosities" 
                                        checked="checked">
                                    <label for="physical_varicosities" class="is-size-7"><b>Varicosities</b></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step-content has-text-centered" :class="step === 5 ? 'is-active':''">
                        <b>Pelvic Examination</b>
                        <br><br>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="is-size-7 has-text-weight-bold">Please Specify not in the Lists</label>
                                <input v-model="form.others" type="text" name="others" class="input is-small">
                                <br>
                                <b>Perinium</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.perinium_scars" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="perinium_scars" 
                                        type="checkbox" 
                                        name="perinium_scars" 
                                        checked="checked">
                                    <label for="perinium_scars" class="is-size-7"><b>Scars</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.perinium_warts" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="perinium_warts" 
                                        type="checkbox" 
                                        name="perinium_warts" 
                                        checked="checked">
                                    <label for="perinium_warts" class="is-size-7"><b>Warts</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.perinium_reddish" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="perinium_reddish" 
                                        type="checkbox" 
                                        name="perinium_reddish" 
                                        checked="checked">
                                    <label for="perinium_reddish" class="is-size-7"><b>Reddish</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.perinium_laceration" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="perinium_laceration" 
                                        type="checkbox" 
                                        name="perinium_laceration" 
                                        checked="checked">
                                    <label for="perinium_laceration" class="is-size-7"><b>Laceration</b></label>
                                </div>
                            </div>
                            <div class="column is-3">
                                <b>Vagina</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vagina_congested" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vagina_congested" 
                                        type="checkbox" 
                                        name="vagina_congested" 
                                        checked="checked">
                                    <label for="vagina_congested" class="is-size-7"><b>Congested</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vagina_cyst" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vagina_cyst" 
                                        type="checkbox" 
                                        name="vagina_cyst" 
                                        checked="checked">
                                    <label for="vagina_cyst" class="is-size-7"><b>Barthilin's Cyst</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vagina_warts" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vagina_warts" 
                                        type="checkbox" 
                                        name="vagina_warts" 
                                        checked="checked">
                                    <label for="vagina_warts" class="is-size-7"><b>Warts</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vagina_skene" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vagina_skene" 
                                        type="checkbox" 
                                        name="vagina_skene" 
                                        checked="checked">
                                    <label for="vagina_skene" class="is-size-7"><b>Skenes Gland Discharged</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vagina_rectocele" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vagina_rectocele" 
                                        type="checkbox" 
                                        name="vagina_rectocele" 
                                        checked="checked">
                                    <label for="vagina_rectocele" class="is-size-7"><b>Rectocele</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vagina_cystocele" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vagina_cystocele" 
                                        type="checkbox" 
                                        name="vagina_cystocele" 
                                        checked="checked">
                                    <label for="vagina_cystocele" class="is-size-7"><b>Cystocele</b></label>
                                </div>
                            </div>
                            <div class="column is-3">
                                <b>Cervix</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.cervic_congested" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="cervic_congested" 
                                        type="checkbox" 
                                        name="cervic_congested" 
                                        checked="checked">
                                    <label for="cervic_congested" class="is-size-7"><b>Congested</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.cervic_erosion" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="cervic_erosion" 
                                        type="checkbox" 
                                        name="cervic_erosion" 
                                        checked="checked">
                                    <label for="cervic_erosion" class="is-size-7"><b>Erosion</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.cervic_discharge" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="cervic_discharge" 
                                        type="checkbox" 
                                        name="cervic_discharge" 
                                        checked="checked">
                                    <label for="cervic_discharge" class="is-size-7"><b>Discharge</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.cervic_polyps" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="cervic_polyps" 
                                        type="checkbox" 
                                        name="cervic_polyps" 
                                        checked="checked">
                                    <label for="cervic_polyps" class="is-size-7"><b>Polyps/Cysts</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.cervic_laceration" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="cervic_laceration" 
                                        type="checkbox" 
                                        name="cervic_laceration" 
                                        checked="checked">
                                    <label for="cervic_laceration" class="is-size-7"><b>Laceration Consistency</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.consistancy_firm" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="consistancy_firm" 
                                        type="checkbox" 
                                        name="consistancy_firm" 
                                        checked="checked">
                                    <label for="consistancy_firm" class="is-size-7"><b>Firm</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.consistancy_soft" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="consistancy_soft" 
                                        type="checkbox" 
                                        name="consistancy_soft" 
                                        checked="checked">
                                    <label for="consistancy_soft" class="is-size-7"><b>Soft</b></label>
                                </div>
                            </div>
                            <div class="column">
                                <b>Uterus</b>
                                <hr class="m-t-0">
                                <label class="is-size-7 has-text-weight-bold">Position</label>
                                <div class="select is-fullwidth">
                                    <select name="uterus_position" v-model="form.uterus_position" id="gender" class="input is-small">
                                        <option value="1">Mid</option>
                                        <option value="2">Anteflexed</option>
                                        <option value="3">Retroflexed</option>
                                    </select>
                                </div>
                                <label class="is-size-7 has-text-weight-bold">size</label>
                                <div class="select is-fullwidth">
                                    <select name="uterus_size" v-model="form.uterus_size" id="gender" class="input is-small">
                                        <option value="1">Normal</option>
                                        <option value="2">Small</option>
                                        <option value="3">Large</option>
                                    </select>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.uterus_mass" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="uterus_mass" 
                                        type="checkbox" 
                                        name="uterus_mass" 
                                        checked="checked">
                                    <label for="uterus_mass" class="is-size-7"><b>Mass</b></label>
                                </div>
                                <label class="is-size-7 has-text-weight-bold">Uterin Depth(cms)-for Intended IUD user</label>
                                <input v-model="form.uterine_depth" type="number" name="uterine_depth" class="input is-small">
                                <br>
                                <b>Adnexa</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.adnex_mass" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="adnex_mass" 
                                        type="checkbox" 
                                        name="adnex_mass" 
                                        checked="checked">
                                    <label for="adnex_mass" class="is-size-7"><b>Mass</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.adnex_tenderness" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="adnex_tenderness" 
                                        type="checkbox" 
                                        name="adnex_tenderness" 
                                        checked="checked">
                                    <label for="adnex_tenderness" class="is-size-7"><b>Tenderness</b></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step-content has-text-centered" :class="step === 6 ? 'is-active':''">
                        <b>Risk for Violence Against Women(VAW) & Acknowledgement</b>
                        <br><br>
                        <div class="columns">
                            <div class="column is-6">
                                <b>VAW</b>
                                <hr class="m-t-0">
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.vaw_history" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="vaw_history" 
                                        type="checkbox" 
                                        name="vaw_history" 
                                        checked="checked">
                                    <label for="vaw_history" class="is-size-7"><b>History of dometic violence or VAW</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.unpleasant_relation" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="unpleasant_relation" 
                                        type="checkbox" 
                                        name="unpleasant_relation" 
                                        checked="checked">
                                    <label for="unpleasant_relation" class="is-size-7"><b>Unpleasant Relationship with Partner</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.partner_not_approved" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="partner_not_approved" 
                                        type="checkbox" 
                                        name="partner_not_approved" 
                                        checked="checked">
                                    <label for="partner_not_approved" class="is-size-7"><b>Partner Does Not Approve of the Visit to FP clinic</b></label>
                                </div>
                                <div class="field has-text-left">
                                    <input 
                                        v-model="form.partner_disagree" 
                                        class="is-checkradio is-circle is-primary" 
                                        id="partner_disagree" 
                                        type="checkbox" 
                                        name="partner_disagree" 
                                        checked="checked">
                                    <label for="partner_disagree" class="is-size-7"><b>Partner Disagrees to use FP</b></label>
                                </div>
                                <label class="is-size-7 has-text-weight-bold">Reffered to</label>
                                <div class="select is-fullwidth">
                                    <select name="reffered_to" v-model="form.reffered_to" id="reffered_to" class="input is-small">
                                        <option value="0">Others</option>
                                        <option value="1">DSWD</option>
                                        <option value="2">WCPU</option>
                                        <option value="3">NGOs</option>
                                    </select>
                                </div>
                                <div class="field" :hidden="form.reffered_to != 0">
                                    <label class="is-size-7 has-text-weight-bold">Please Specify</label>
                                    <input v-model="form.other" type="text" name="other" class="input is-small">
                                </div>
                            </div>
                            <div class="column">
                                <b>Acknowledgement</b>
                                <hr class="m-t-0">
                                <p class="has-text-left">
                                    This to certify that the Physician/Nurse/Midwife of the clinic has fully explained to me the different methods available in family planning ang i freely choose the
                                </p><br><br>
                                <input v-model="form.acknowledgment" type="text" name="other" class="input is-small">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="steps-actions">
                    <div class="steps-action">
                        <a @click="prev(step)" class="button round-button is-primary" :disabled="step < 2"><i class="fas fa-chevron-left"></i></a>
                    </div>
                    <div class="steps-action">
                        <a @click="next(step)" class="button round-button is-primary"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                step: 1,
                form: {
                    type_of_acceptor:'',
                    prev_method:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    birthdate:'',
                    contact_no:'',
                    highest_education:'',
                    occupation:'',
                    street:'',
                    barangay:'',
                    municipality:'',
                    province:'',
                    monthly_income:'',
                    number_lived_children:'',
                    plan_more_children:'',
                    reason:'',
                    method_accepted:'',
                    spouse_first_name:'',
                    spouse_middle_name:'',
                    spouse_last_name:'',
                    spouse_birthdate:'',
                    spouse_highest_education:'',
                    spouse_occupation:'',
                    epilepsy:'',
                    dizziness:'',
                    blur_vision:'',
                    conjuctiva:'',
                    thyroid:'',
                    chest_pain:'',
                    fatigability:'',
                    axillary:'',
                    nipple_discharge:'',
                    systolic:'',
                    diastolic:'',
                    cva_history:'',
                    yellowish_skin:'',
                    mass_abdomen:'',
                    gallbladder_disease:'',
                    liver_disease:'',
                    mass_uterus:'',
                    vaginal_discharge:'',
                    intermenstrual_bleeding:'',
                    postcoital_bleeding:'',
                    varicosities:'',
                    severe_pain:'',
                    smoking:'',
                    allergies:'',
                    drug_intake:'',
                    bleeding_tendencies:'',
                    anemia:'',
                    diabetes:'',
                    hydatidiform:'',
                    ectopic_pregnancy:'',
                    full_term:'',
                    premature:'',
                    abortions:'',
                    living_children:'',
                    date_last_delivery:'',
                    type_last_delivery:'',
                    past_menstrual_periods:'',
                    last_menstrual_periods:'',
                    duration_menstrual_perios:'',
                    blood_pressure:'',
                    weight:'',
                    pulse_rate:'',
                    left_breast_mass:'',
                    left_breast_nipple_discharge:'',
                    left_breast_orange_peel:'',
                    left_breast_enlarge_axillary:'',
                    right_breast_mass:'',
                    right_breast_nipple_discharge:'',
                    right_breast_orange_peel:'',
                    right_breast_enlarge_axillary:'',
                    abnormal_heart:'',
                    abnormal_breath:'',
                    abdomen_enlarged_lever:'',
                    abdomen_mass:'',
                    abdomen_tenderness:'',
                    edema:'',
                    physical_varicosities:'',
                    others:'',
                    perinium_scars:'',
                    perinium_warts:'',
                    perinium_reddish:'',
                    perinium_laceration:'',
                    vagina_congested:'',
                    vagina_cyst:'',
                    vagina_warts:'',
                    vagina_skene:'',
                    vagina_rectocele:'',
                    vagina_cystocele:'',
                    cervic_congested:'',
                    cervic_erosion:'',
                    cervic_discharge:'',
                    cervic_polyps:'',
                    cervic_laceration:'',
                    consistancy_firm:'',
                    consistancy_soft:'',
                    uterus_position:'',
                    uterus_size:'',
                    uterus_mass:'',
                    uterine_depth:'',
                    adnex_mass:'',
                    adnex_tenderness:'',
                    vaw_history:'',
                    unpleasant_relation:'',
                    partner_not_approved:'',
                    partner_disagree:'',
                    reffered_to: 1,
                    other:'',
                    acknowledgment:''
                }
            }
        },
        methods: {
            back() {
                this.$router.push("/familyPlanning");
            },

            cancelStepIncrement(string) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Please Fill The Form Properly, missing some inputs in '+string,
                })
            },
            
            scanSpouseInput() {
                if( this.form.spouse_first_name === '' ) {
                    this.cancelStepIncrement('First Name');
                } else if( this.form.spouse_middle_name === '' ) {
                    this.cancelStepIncrement('Middle Name');
                } else if( this.form.spouse_last_name === '' ) {
                    this.cancelStepIncrement('Last Name');
                } else if( this.form.spouse_birthdate === '' ) {
                    this.cancelStepIncrement('Date of Birth');
                } else if( this.form.spouse_highest_education === '' ) {
                    this.cancelStepIncrement('Highest Education');
                } else if( this.form.spouse_occupation === '' ) {
                    this.cancelStepIncrement('Occupation')
                } else {
                    this.step++;
                }
            },

            scanClientInput() {
                if( this.form.type_of_acceptor === '' ) {
                    this.cancelStepIncrement('Type of Acceptor');
                } else if( this.form.first_name === '' ) {
                    this.cancelStepIncrement('First Name');
                } else if( this.form.middle_name === '' ) {
                    this.cancelStepIncrement('Middle Name');
                } else if( this.form.last_name === '' ) {
                    this.cancelStepIncrement('Last Name');
                } else if( this.form.birthdate === '' ) {
                    this.cancelStepIncrement('Date of Birth');
                } else if( this.form.highest_education === '' ) {
                    this.cancelStepIncrement('Highest Education');
                } else if( this.form.occupation === '' ) {
                    this.cancelStepIncrement('Occupation');
                } else if( this.form.barangay === '' ) {
                    this.cancelStepIncrement('Barangay');
                } else if( this.form.municipality === '' ) {
                    this.cancelStepIncrement('Municipality');
                } else if( this.form.province === '' ) {
                    this.cancelStepIncrement('Province');
                } else if( this.form.monthly_income === '' ) {
                    this.cancelStepIncrement('Monthly Incom');
                } else if( this.form.number_lived_children === '' ) {
                    this.cancelStepIncrement('Number of Lived Children');
                } else if( this.form.plan_more_children === '' ) {
                    this.cancelStepIncrement('Planning More Children');
                } else if( this.form.reason === '' ) {
                    this.cancelStepIncrement('Reason');
                } else if( this.form.method_accepted === '' ) {
                    this.cancelStepIncrement('Method Accepted');
                } else {
                    this.step++;
                }
            },  

            next(step) {
                if(step === 1) {
                    this.scanClientInput();
                    //this.step++;
                } else if(step === 2){
                    this.scanSpouseInput();
                    //this.step++;
                } else if(step === 6){
                    this.saveData();
                }else {
                    this.step++;    
                }
            },

            saveData() {
                axios.post('/api/familyPlanning', this.form)
                .then( data =>{
                    this.step++;
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Proceed Now To add Members',
                    })
                    this.back();
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            prev(step) {
                if(step > 6){
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Invalid Action',
                    })
                } else {
                    this.step--
                }
            }
        },
        created() {

        }
    }
</script>