<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>{{ candidate.last_name }}, {{ candidate.first_name }} Profile</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body">
            <div class="columns">
                <div class="column is-6">
                    <b class="has-text-primary">Type of Acceptor:</b>
                    <p v-show="candidate.type_of_acceptor == 0">New to Program</p>
                    <p v-show="candidate.type_of_acceptor == 1">Continuing User</p>
                </div>
                <div class="column is-6" v-show="candidate.type_of_acceptor == 0">
                    <b class="has-text-primary">Previous Method:</b>
                    <p>{{ candidate.prev_method }}</p>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <b class="has-text-primary">Birth Date:</b>
                    <p>{{ candidate.birthdate }}</p>
                    <b class="has-text-primary">Highest Education:</b>
                    <p>{{ candidate.highest_education }}</p>
                    <b class="has-text-primary">Contact Number:</b>
                    <p>{{ candidate.contact_no }}</p>
                    <b class="has-text-primary">Complete Address:</b>
                    <p>{{ candidate.street }}, {{ candidate.barangay }}, {{ candidate.municipality }}, {{ candidate.province }}</p>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4">
                    <b class="has-text-primary">Average Monthly Income:</b>
                    <p>₱ {{ candidate.monthly_income }}</p>
                    <b class="has-text-primary">number of living children:</b>
                    <p>{{ candidate.number_lived_children }}</p>
                    <p v-show="candidate.plan_more_children == 0">and not planning for more children</p>
                    <p v-show="candidate.plan_more_children == 1">planning for more children</p>
                    <b class="has-text-primary">Reason for participating FP:</b>
                    <p>{{ candidate.reason }}</p>
                    <b class="has-text-primary">Method Accepted:</b>
                    <p v-show="candidate.method_accepted == 1">COC</p>
                    <p v-show="candidate.method_accepted == 2">Contraceptive Patch</p>
                    <p v-show="candidate.method_accepted == 3">POP</p>
                    <p v-show="candidate.method_accepted == 4">Injectable</p>
                    <p v-show="candidate.method_accepted == 5">Condom</p>
                    <p v-show="candidate.method_accepted == 6">IUD</p>
                    <p v-show="candidate.method_accepted == 7">BTL</p>
                    <p v-show="candidate.method_accepted == 8">VSC</p>
                    <p v-show="candidate.method_accepted == 9">LAM</p>
                    <p v-show="candidate.method_accepted == 10">SDM</p>
                    <p v-show="candidate.method_accepted == 11">BBT</p>
                    <p v-show="candidate.method_accepted == 12">Billings/Cervical Mucus/Ovulation Method</p>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4">
                    <b class="has-text-primary">Spouse Name:</b>
                    <p>{{ candidate.spouse_last_name }}, {{ candidate.spouse_first_name }}</p>
                    <b class="has-text-primary">Spouse Birth date:</b>
                    <p>{{ candidate.spouse_birthdate }}</p>
                    <b class="has-text-primary">Spouse Highest Education:</b>
                    <p>{{ candidate.spouse_highest_education }}</p>
                    <b class="has-text-primary">Spouse Occupation:</b>
                    <p>{{ candidate.spouse_occupation }}</p>
                </div>
            </div>
            <p class="buttons is-pulled-right">
                <b><a class="button is-small is-primary" @click="editFamilyPlanning()">
                    <span class="icon is-small">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Edit</span>
                </a></b>
            </p>
            <br><br>
            <hr>
            <b class="title has-text-primary">Medical History</b><br><br>
            <div class="columns">
                <div class="column is-4">
                    <b class="has-text-primary">Heent</b><br>
                    <span class="tag is-warning" v-show="medicalHistory.epilepsy == 1"><b>Epilepsy/Convulsion/Seizure</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.dizziness == 1"><b>Severe Headache/Dizziness</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.blur_vision == true"><b>Visual Disturbance/Blurring of Vision</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.conjuctiva == true"><b>Yellowish Conjuctiva</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.thyroid == true"><b>Enlarged Thyroid</b></span><br>
                    <b class="has-text-primary">Skin</b><br>
                    <span class="tag is-warning" v-show="medicalHistory.yellowish_skin == true"><b>Yellowish Skin</b></span><br>
                    <b class="has-text-primary">Genital</b><br>
                    <span class="tag is-warning" v-show="medicalHistory.mass_uterus == true"><b>Mass in the Uterus</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.vaginal_discharge == true"><b>Vaginal Discharge</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.intermenstrual_bleeding == true"><b>Intermenstrual Bleeding</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.postcoital_bleeding == true"><b>Postcoital Bleeding</b></span>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4">
                    <b class="has-text-primary">Chest/Heart</b><br>
                    <span class="tag is-warning" v-show="medicalHistory.chest_pain == true"><b>Severe Chest Pain</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.fatigability == true"><b>Shortness of Breath and Easy Fatigability</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.axillary == true"><b>Breast/Axilliary Masses</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.nipple_discharge == true"><b>Nipple Discharges</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.systolic == true"><b>Systolic of 140 & Above</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.diastolic == true"><b>Diastolic of 90 & Above</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.cva_history == true"><b>Family History of CVA(stroke), Hypertension, <br>Asthma, Rheumatic Heart Disease</b></span><br>
                    <b class="has-text-primary">History of Any of the FF.</b><br>
                    <span class="tag is-warning" v-show="medicalHistory.smoking == true"><b>Smoking</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.allergies == true"><b>Allergies</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.drug_intake == true"><b>Drug Intake(Anti-Tuberculosis,<br>Anti-Diabetic, Anticonvulsant)</b></span><br><br>
                    <span class="tag is-warning" v-show="medicalHistory.bleeding_tendencies == true"><b>Bleeding Tendencies(Nose, Gums, etc.)</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.anemia == true"><b>Anemia</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.diabetes == true"><b>Diabetes</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.hydatidiform == true"><b>Hydatidiform mole</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.ectopic_pregnancy == true"><b>Ectopic Pregnancy</b></span><br>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column">
                    <b class="has-text-primary">Abdomen</b><br>
                    <span class="tag is-warning" v-show="medicalHistory.mass_abdomen == true"><b>Mass in the Abdomen</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.gallbladder_disease == true"><b>History of Gallblader Disease</b></span>
                    <span class="tag is-warning" v-show="medicalHistory.liver_disease == true"><b>History of Liver Disease</b></span><br>
                    <b class="has-text-primary">Extremities</b><br>
                    <span class="tag is-warning" v-show="medicalHistory.mass_abdomen == true"><b>Mass in the Abdomen</b></span>
                </div>
            </div>
            <p class="buttons is-pulled-right">
                <b><a class="button is-small is-primary" @click="editMedicalHistory()">
                    <span class="icon is-small">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Edit</span>
                </a></b>
            </p><br><br>
            <b class="title has-text-primary">Obsterical History</b><br><br>
            <b class="has-text-primary">Number of Pregnancies</b>
            <div class="columns">
                <div class="column is-6">
                    <b class="has-text-primary">Full Term: </b>{{ obstericalHistory.full_term }}<br>
                    <b class="has-text-primary">Premature: </b>{{ obstericalHistory.premature }}<br><br>
                    <b class="has-text-primary">Date Last Deliver:</b>
                    <p>{{ obstericalHistory.date_last_delivery }}</p>
                    <b class="has-text-primary">Type of Last Deliver:</b>
                    <p>{{ obstericalHistory.type_last_delivery }}</p>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column">
                    <b class="has-text-primary">Abortions: </b>{{ obstericalHistory.abortions }}<br>
                    <b class="has-text-primary">Living Children: </b>{{ obstericalHistory.living_children }}<br><br>
                    <b class="has-text-primary">Past Menstrual Period:</b>
                    <p>{{ obstericalHistory.past_menstrual_periods }}</p>
                    <b class="has-text-primary">Last Menstrual Period:</b>
                    <p>{{ obstericalHistory.last_menstrual_periods }}</p>
                    <b class="has-text-primary">Duration and Character Menstrual Bleeding:</b>
                    <p>{{ obstericalHistory.duration_menstrual_perios }}</p>
                </div>
            </div>
            <p class="buttons is-pulled-right">
                <b><a class="button is-small is-primary" @click="editObsterical()">
                    <span class="icon is-small">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Edit</span>
                </a></b>
            </p><br><br><hr>
            <b class="title has-text-primary">Physical Examination</b><br><br>
            <div class="columns">
                <div class="column is-4">
                    <b class="has-text-primary">Blood Pressure:</b>
                    <p>{{ physicalExamination.blood_pressure }}</p><br>
                    <b class="has-text-primary">Thorax</b><br>
                    <span class="tag is-warning" v-show="physicalExamination.abnormal_heart"><b>Abnormal Heart Sounds/Cardiac Rate</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.abnormal_breath"><b>Abnormal Breath Sounds/Respiratory Rate</b></span>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4">
                    <b class="has-text-primary">Weight(kd/lbs):</b>
                    <p>{{ physicalExamination.weight }}</p><br>
                    <b class="has-text-primary">Abdomen</b><br>
                    <span class="tag is-warning" v-show="physicalExamination.abdomen_enlarged_lever"><b>Enlarged Lever</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.abdomen_mass"><b>Mass</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.abdomen_tenderness"><b>Tenderness</b></span>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4">
                    <b class="has-text-primary">Pulse Rate/Min(N.V. = 70 to 80/min):</b>
                    <p>{{ physicalExamination.pulse_rate }}</p>
                    <b class="has-text-primary">Extremities</b><br>
                    <span class="tag is-warning" v-show="physicalExamination.edema"><b>Edema</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.physical_varicosities"><b>Varicosities</b></span>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <b class="has-text-primary">Left Breast</b><br>
                    <span class="tag is-warning" v-show="physicalExamination.left_breast_mass"><b>Mass</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.left_breast_nipple_discharge"><b>Nipple Discharge</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.left_breast_orange_peel"><b>Skin - Orange Peel or Dumpling</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.left_breast_enlarge_axillary"><b>Enlarged Axillary Lymph Nodes</b></span>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column">
                    <b class="has-text-primary">Right Breast</b><br>
                    <span class="tag is-warning" v-show="physicalExamination.right_breast_mass"><b>Mass</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.right_breast_nipple_discharge"><b>Nipple Discharge</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.right_breast_orange_peel"><b>Skin - Orange Peel or Dumpling</b></span>
                    <span class="tag is-warning" v-show="physicalExamination.right_breast_enlarge_axillary"><b>Enlarged Axillary Lymph Nodes</b></span>
                </div>
            </div><br>
            <p class="buttons is-pulled-right">
                <b><a class="button is-small is-primary" @click="editPhysical()">
                    <span class="icon is-small">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Edit</span>
                </a></b>
            </p><br><br>
            <hr><b class="title has-text-primary">Pelvic Examination</b><br><br>
            <div class="columns">
                <div class="column is-3">
                    <b class="has-text-primary">Others:</b>
                        <p>{{ pelvicExamination.others }}</p>
                    <b class="has-text-primary">Perinium</b><br>
                        <span class="tag is-warning" v-show="pelvicExamination.perinium_scars"><b>Scars</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.perinium_warts"><b>warts</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.perinium_reddish"><b>reddish</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.perinium_reddish"><b>Laceration</b></span>
                </div>
                <div class="column is-3">
                    <b class="has-text-primary">Vagina</b><br>
                        <span class="tag is-warning" v-show="pelvicExamination.vagina_congested"><b>Congested</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.vagina_cyst"><b>Bartholin's Cyst</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.vagina_warts"><b>Warts</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.vagina_skene"><b>Skene's Gland Discharge</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.vagina_rectocele"><b>Rectocele</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.vagina_cystocele"><b>Cystocele</b></span>
                    <br>
                    <b class="has-text-primary">Adexna</b><br>
                        <span class="tag is-warning" v-show="pelvicExamination.adnex_mass"><b>Mass</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.adnex_tenderness"><b>Tenderness</b></span>
                </div>
                <div class="column is-3">
                    <b class="has-text-primary">Cervics</b><br>
                        <span class="tag is-warning" v-show="pelvicExamination.cervic_congested"><b>Congested</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.cervic_erosion"><b>Erosion</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.cervic_discharge"><b>Discharge</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.cervic_polyps"><b>Polyps/Cysts</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.cervic_laceration"><b>Laceration Consistency</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.consistancy_firm"><b>Firm</b></span>
                        <span class="tag is-warning" v-show="pelvicExamination.consistancy_soft"><b>Soft</b></span>
                </div>
                <div class="column">
                    <b class="has-text-primary">Uterus</b>
                    <b class="has-text-primary">Position:</b>
                        <p v-show="pelvicExamination.uterus_position == 1">Mid</p>
                        <p v-show="pelvicExamination.uterus_position == 2">Anteflexed</p>
                        <p v-show="pelvicExamination.uterus_position == 3">Retroflexed</p>
                    <b class="has-text-primary">Size:</b>
                        <p v-show="pelvicExamination.uterus_size == 1">Normal</p>
                        <p v-show="pelvicExamination.uterus_size == 2">Small</p>
                        <p v-show="pelvicExamination.uterus_size == 3">Large</p>
                    <b class="has-text-primary">Uterine Depth in CMS(for Intended IUD users):</b>
                        <p>{{ pelvicExamination.uterine_depth }}</p>
                </div>
            </div>
            <p class="buttons is-pulled-right">
                <b><a class="button is-small is-primary" @click="editPelvic()">
                    <span class="icon is-small">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Edit</span>
                </a></b>
            </p><br><br><hr>
            <b class="title has-text-primary">RISK FOR VIOLENCE AGAINST WOMEN(VAW)</b><br><br>
            <div class="columns">
                <div class="column is-6">
                    <span class="tag is-warning" v-show="vaw.vaw_history"><b>History of dometic violence or VAW</b></span>
                    <span class="tag is-warning" v-show="vaw.unpleasant_relation"><b>Unpleasant Relationship with Partner</b></span>
                    <span class="tag is-warning" v-show="vaw.partner_not_approved"><b>Partner Does Not Approve of the Visit to FP clinic</b></span>
                    <span class="tag is-warning" v-show="vaw.partner_disagree"><b>Partner Disagrees to use FP</b></span>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-6">
                    <b class="has-text-primary">referred to:</b>
                    <p v-show="vaw.reffered_to == 0">Others</p>
                    <p v-show="vaw.reffered_to == 1">DSWD</p>
                    <p v-show="vaw.reffered_to == 2">WCPU</p>
                    <p v-show="vaw.reffered_to == 3">NGOs</p>
                    <p v-show="vaw.reffered_to == 0">{{ vaw.others }}</p>
                </div>
            </div>
            <p class="buttons is-pulled-right">
                <b><a class="button is-small is-primary" @click="editVaw()">
                    <span class="icon is-small">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Edit</span>
                </a></b>
            </p><br><br>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                candidate:[],
                medicalHistory:[],
                obstericalHistory:[],
                physicalExamination:[],
                pelvicExamination:[],
                vaw:[]
            }
        },
        methods: {
            back() {
                this.$router.push('/familyPlanning');
            },

            getCandidate() {
                axios.get(`/api/familyPlanning/${this.$route.params.id}`)
                .then( data => {
                    this.candidate = data.data;
                });
            },

            getMedicalHistory() {
                axios.get(`/api/medicalHistory/${this.$route.params.id}`)
                .then( data => {
                    this.medicalHistory = data.data;
                });
            },

            getObstericalHistory() {
                axios.get(`/api/obsterical/${this.$route.params.id}`)
                .then( data => {
                    this.obstericalHistory = data.data;
                });
            },

            getPhysicalExamination() {
                axios.get(`/api/physical/${this.$route.params.id}`)
                .then( data => {
                    console.log(data);
                    this.physicalExamination = data.data;
                });
            },

            getPelvic() {
                axios.get(`/api/pelvic/${this.$route.params.id}`)
                .then( data => {
                    this.pelvicExamination = data.data;
                });
            },

            getVaw() {
                axios.get(`/api/vaw/${this.$route.params.id}`)
                .then( data => {
                    this.vaw = data.data;
                });
            },

            editFamilyPlanning() {
                this.$router.push(`/familyPlanning/editFamilyPlanning/${this.$route.params.id}`);
            },

            editMedicalHistory() {
                this.$router.push(`/familyPlanning/editMedicalHistory/${this.$route.params.id}`);
            },

            editObsterical() {
                this.$router.push(`/familyPlanning/editObsterical/${this.$route.params.id}`);
            },

            editPhysical() {
                this.$router.push(`/familyPlanning/editPhysical/${this.$route.params.id}`);
            },

            editPelvic() {
                this.$router.push(`/familyPlanning/editPelvic/${this.$route.params.id}`);
            },

            editVaw() {
                this.$router.push(`/familyPlanning/editVaw/${this.$route.params.id}`);
            }
        },
        created() {
            this.getCandidate();
            this.getMedicalHistory();
            this.getObstericalHistory();
            this.getPhysicalExamination();
            this.getPelvic();
            this.getVaw();
        }
    }
</script>