<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Family Planning Service Record</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
           <a @click="toForm()" class="button is-link has-text-weight-bold is-pulled-left"><i class="fa fa-plus" aria-hidden="true"></i>Add New Entry</a>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input" type="text" v-on:keyup="searchMonitor()" placeholder="Enter Child Name">
                </div>
                <div class="control">
                    <a class="button is-link">
                        <b>Search</b>
                    </a>
                </div>
            </div>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                    <th>Family Planning Candidates</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="candidate in candidates" :key="candidate.id">
                    <td><a @click="toView(candidate.id)"><b>{{ candidate.last_name }}, {{ candidate.first_name }}</b></a></td>
                    <td class="is-pulled-right">
                        <a class="button is-success" @click="viewRecords(candidate.id)">
                            <span class="icon is-small">
                                <i class="fa fa-clipboard-list"></i>
                            </span>
                        </a>
                        <a class="button is-warning" @click="smsModal(candidate)">
                            <span class="icon is-small">
                                <i class="fa fa-sms"></i>
                            </span>
                        </a>
                        <a v-show="clients.role == 'admin'" class="button is-danger" @click="toRemove(candidate.id)">
                            <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadCandidates"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">SMS Sender</p>
                    </div>
                    <form @submit.prevent="sendSms()">
                    <div class="message-body">
                        <fieldset>
  
                        <div class="field">
                            <label class="label">Number</label>
                            <div class="control">
                                <input class="input" type="number" v-model="sms.contact_no">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <input class="input" type="text" v-model="sms.message">
                            </div>
                        </div>

                        </fieldset>
                    </div>
                    <div class="message-footer" style="padding: 20px">
                        <a class="button is-danger is-pulled-left" @click="showModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Send</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
                pageCount: 1,
                endpoint: 'api/familyPlanning?page=',
                page: 1,
                candidates: {},
                clients: {},
                form: {
                    search:''
                },
                sms: {
                    contact_no:'',
                    message:'',
                }
            }
        },
        methods: {
            toForm(id) {
                this.$router.push("/familyPlanning/form");
            },

            loadCandidates(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.candidates = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            viewRecords(id) {
                this.$router.push("/familyPlanning/Records/"+id);
            },

            toView(id) {
                this.$router.push("/familyPlanning/View/"+id);
            },

            searchMonitor() {
                if(this.search == '') {
                    this.loadCandidates();
                }else{ 
                    axios.get('api/familyPlanning/search/'+this.form.search)
                        .then( data => {
                            console.log(data);
                            this.candidates = data.data.data;
                            this.pageCount = data.data.last_page;
                        });
                }
            },
            
            toRemove(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Deleting this data permanently.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it.'
                }).then((result) => {
                if (result.value) {
                    this.remove(id);
                }
                })
            },

            remove(id) {
                axios.delete(`/api/familyPlanning/${id}`)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Family Profile Deleted',
                    });
                    this.loadCandidates();
                });
            },

            getClients() {
                axios.get('api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },

            smsModal(patient) {
                this.showModal = true;
                this.sms.contact_no = patient.contact_no;
            },

            sendSms() {
                axios.post('api/sendSms', this.sms)
                .then( () => {
                    Swal.fire({
                        type: 'success',
                        title: 'Message Sent',
                    });
                    this.showModal = false;
                });
            }
        },
        created() {
            this.loadCandidates();
            this.getClients();
        }
    }
</script>