<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Dashboard</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="content is-fullheight">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box has-background-primary">
                            <div class="is-centered">
                            <b class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                                Child Health Card 
                            </b>
                            <br><b class="is-size-3 is-thicker is-blue">{{ clientRecord[0] }}</b>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-background-primary">
                            <div class="is-centered">
                            <b class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                                Family Planning
                            </b>
                            <br><b class="is-size-3 is-thicker is-blue">{{ clientRecord[1] }}</b>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-background-primary">
                            <div class="is-centered">
                            <b class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                                Family Profile
                            </b>
                            <br><b class="is-size-3 is-thicker is-blue">{{ clientRecord[2] }}</b>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box has-background-primary">
                            <div class="is-centered">
                            <b class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                                Individual Treatment Record 
                            </b>
                            <br><b class="is-size-3 is-thicker is-blue">{{ clientRecord[3] }}</b>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-background-primary">
                            <div class="is-centered">
                            <b class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                                Maternal Health Record
                            </b>
                            <br><b class="is-size-3 is-thicker is-blue">{{ clientRecord[4] }}</b>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                clients: {},
                clientRecord: {}
            }
        },
        methods: {
            getClients() {
                axios.get('api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },

            getDatas() {
                axios.get('api/dashboard')
                .then( data => {
                    this.clientRecord = data.data;
                });
            }
        },
        created() {
            this.getClients();
            this.getDatas();
        }
    }
</script>