<template>
    <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center" :style="{ zIndex: 2000, background: 'rgba(19, 19, 19, 0.66)' }">
        <div class="bg-white px-4 py-5 rounded" :style="{ minWidth: '500px' }">
            <h4 class="text-xl mb-4">{{ modalTitle }}</h4>
            <slot>
                Modal Content
            </slot>
            <div class="text-right mt-4">
                <button :disabled="working" type="button" @click="$emit('close')" class="btn mr-3">Cancel</button>
                <button :disabled="working" type="button" @click="$emit('confirm')" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        modalTitle: {
            type: String,
            default: 'Modal Title',
        },
        working: Boolean,
    }
}
</script>




