<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <p class="is-pulled-right">&nbsp;{{ headerTitle }}</p>
            <br>
        </div>
        <div class="box is-marginless content-body">
            <div class="title has-text-dark has-text-centered">
                Family Profile Form
            </div>
            <form @submit.prevent="editMode ? updateData() : createData()">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Head Name:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                        <p class="control">
                            <input v-model="form.name" placeholder="Enter Full Name" type="text" name="name" id="name"
                                class="input" :readonly="readOnlyInputs">
                        </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal p-b-100">
                    <div class="field-label is-normal">
                        <label class="label">Address:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                        <p class="control">
                            <textarea v-model="form.address" placeholder="" rows="5" type="text" name="address" id="address"
                                class="textarea" :readonly="readOnlyInputs"/>
                        </p>
                        </div>
                    </div>
                </div>
                <a @click="editSwitch()" class="button is-info has-text-weight-bold is-pulled-right" v-show="editButton">{{ readOnlybuttonText }}</a><br><br>
                <a @click="back()" class="button is-danger has-text-weight-bold is-pulled-left"><i class="fas fa-arrow-left"> </i> Back</a>
                <button type="submit" class="button is-success has-text-weight-bold is-pulled-right" v-show="!readOnlyInputs">{{ buttonText }} &nbsp;<i class="fas fa-arrow-right"> </i> </button>
                <a @click="next()" class="button is-success has-text-weight-bold is-pulled-right"  v-show="readOnlyInputs">Members &nbsp;<i class="fas fa-arrow-right"> </i> </a>
                <br>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                family: {},
                editButton: false,
                readOnlybuttonText: 'Edit',
                readOnlyInputs:false,
                editMode : false,
                headerTitle: ' Update and Proceed',
                buttonText: ' Save and Proceed',
                form:{
                    family_id: 0,
                    name: '',
                    address : '',
                }
            }
        },
        methods: {
            editSwitch() {
                if (this.readOnlyInputs) {
                    this.readOnlyInputs = false;
                    this.readOnlybuttonText = 'Edit';
                }else{
                    this.readOnlyInputs = true;
                    this.readOnlybuttonText = 'Cancel';
                }
            },

            back() {
                this.$router.push("/familyProfile");
            },

            next() {
                this.$router.push("/familyProfile/form/member/"+this.$route.params.id);
            },

            getFamily() {
                axios.get('/api/familyProfile/' + this.$route.params.id)
                .then( data =>(
                    this.form.name = data.data.name,
                    this.form.address = data.data.address
                ));
            },

            createData() {
                axios.post('/api/familyProfile', this.form)
                .then(({data})=>{
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Proceed Now To add Members',
                    })
                    this.clearFields();
                    this.$router.push("/familyProfile/form/member/"+data.id);
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            updateData() {
                axios.put('/api/familyProfile/'+this.$route.params.id, this.form)
                .then(({data})=>{
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Proceed Now To Edit/Add Members',
                    })
                    this.clearFields();
                    this.$router.push("/familyProfile/form/member/"+this.$route.params.id);
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            clearFields() {
                this.form.name = '';
                this.form.address = '';
            },

            checkID() {
                if(this.$route.params.id !== "0") {
                    this.form.family_id = this.$route.params.id;
                    this.getFamily();
                    this.editButton = true;
                    this.editMode = true;
                    this.readOnlyInputs = true;
                    this.headerTitle = "Edit Family Profile";
                    this.buttonText = "Update and Proceed";
                }
            }
        },
        created() {
            this.checkID();
        }
    }
</script>