<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Family Members</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="openModal()" class="button is-link has-text-weight-bold is-pulled-right"><i class="fa fa-plus" aria-hidden="true"></i>Add Member</a>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>relationship</th>
                    <th>Birth Date</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="member in members" :key="member.id">
                    <th><a>{{ member.name }}</a></th>
                    <td>
                        <p v-show="member.gender">Male</p>
                        <p v-show="!member.gender">Female</p>
                    </td>
                    <th><a>{{ member.relationship }}</a></th>
                    <th><a>{{ member.birthdate }}</a></th>
                    <td>
                        <a class="button is-success" @click="editMember(member)">
                            <span class="icon is-small">
                                <i class="fa fa-edit"></i>
                            </span>
                        </a>
                        <a class="button is-danger" @click="deleteWarning(member.id)">
                            <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <a @click="back()" class="button is-danger has-text-weight-bold is-pulled-left"><i class="fas fa-arrow-left"> </i> Back</a>
            <a @click="done()" class="button is-success has-text-weight-bold is-pulled-right">Done &nbsp;<i class="fas fa-arrow-right"> </i> </a>
            <br><br>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">{{ modalheader }}</p>
                    </div>
                    <form @submit.prevent="edit ? updateMember() : createMember()">
                    <div class="message-body">
                        <div class="field">
                            <label class="label">Member Name:</label>
                            <div class="control">
                                <input v-model="form.name" type="text" name="name" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Relationship:</label>
                            <div class="control">
                                <input v-model="form.relationship" type="text" name="name" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Gender:</label>
                            <div class="control">
                                <select name="gender" v-model="form.gender" id="gender" class="input">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Birth date:</label>
                            <div class="control">
                                <input v-model="form.birthdate" type="date" name="birthdate" class="input">
                            </div>
                        </div>
                    </div>
                    <div class="message-footer" style="padding: 20px">
                        <a class="button is-danger is-pulled-left" @click="showModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Save Member</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
                edit: false,
                modalheader: 'Add Member',
                members: {},
                form:{
                    family_id:'',
                    member_id:'',
                    name:'',
                    gender:'',
                    birthdate:'',
                    relationship:''
                }
            }
        },
        methods: {
            back() {
                this.$router.push("/familyProfile/form/"+this.$route.params.id);
            },

            done() {
                this.$router.push("/familyProfile");
            },

            editMember(data) {
                this.form.member_id = data.id;
                this.form.name = data.name;
                this.form.gender = data.gender;
                this.form.birthdate = data.birthdate;
                this.edit = true;
                this.showModal = true;
            },

            clearForm() {
                this.edit = false;
                this.form.member_id = '';
                this.form.name = '';
                this.form.gender = '';
                this.form.birthdate = '';
            },

            openModal() {
                this.showModal = true;
            },

            deleteWarning(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteMember(id);
                    }
                })
            },

            deleteMember(id) {
                axios.delete('/api/familyProfileMember/'+id)
                .then(({data})=>{
                    this.loadMembers();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Member Deleted',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            updateMember() {
                axios.put('/api/familyProfileMember/'+this.form.member_id, this.form)
                .then( data =>{
                    Fire.$emit('afterSaving');
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Proceed Now To Edit/Add Members',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            createMember() {
                axios.post('/api/familyProfileMember', this.form)
                .then(()=>{
                    Fire.$emit('afterSaving');
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Member Added To Family',
                    });
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            loadMembers() {
                axios.get('/api/familyMembers/'+this.$route.params.id)
                .then( data  => (this.members = data.data));
            }
        },
        created() {
            this.form.family_id = this.$route.params.id;
            this.loadMembers();
            Fire.$on('afterSaving',()=>{
                this.clearForm();
                this.loadMembers();
                this.showModal = false;
            });
        }
    }
</script>