<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Family Profile</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="toForm(0)" class="button is-link has-text-weight-bold is-pulled-left"><i class="fa fa-plus" aria-hidden="true"></i>Add Family Profile</a>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input" type="text" v-on:keyup="searchMonitor()" placeholder="Search for Family">
                </div>
                <div class="control">
                    <a class="button is-link">
                    Search
                    </a>
                </div>
            </div>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                    <th>Head Of The Family</th>
                    <th>Address</th>
                    <th class="is-pulled-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="family in families" :key="family.id">
                    <td><a @click="toView(family.id)"><b>{{ family.name }}</b></a></td>
                    <td>{{ family.address }}</td>
                    <td class="is-pulled-right">
                        <a class="button is-success" @click="toForm(family.id)">
                            <span class="icon is-small">
                                <i class="fa fa-edit"></i>
                            </span>
                        </a>
                        <a class="button is-warning" @click="toView(family.id)">
                            <span class="icon is-small">
                                <i class="fa fa-eye"></i>
                            </span>
                        </a>
                        <a v-show="clients.role == 'admin'" class="button is-danger" @click="toRemove(family.id)">
                            <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadFamilies"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageCount: 1,
                endpoint: 'api/familyProfile?page=',
                page: 1,
                families: {},
                clients: {},
                form: {
                    search:''
                }
            }
        },
        methods: {
            searchMonitor(){
                if(this.form.search == '') {
                    this.loadFamilies();
                }else{ 
                    axios.get('api/familyProfile/search/'+this.form.search)
                    .then(data => {this.families = data.data});
                }
            },

            toForm(id) {
                this.$router.push("/familyProfile/form/"+id);
            },

            toView(id) {
                this.$router.push("/familyProfile/view/"+id);
            },

            loadFamilies(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        console.log(data);
                        this.families = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            toRemove(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Deleting this data permanently.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it.'
                }).then((result) => {
                if (result.value) {
                    this.remove(id);
                }
                })
            },

            remove(id) {
                axios.delete(`/api/familyProfile/${id}`)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Family Profile Deleted',
                    });
                    this.loadFamilies();
                });
            },

            getClients() {
                axios.get('api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },

        },
        created() {
            this.loadFamilies();
            this.getClients();
        }
    }
</script>