<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Maternal Health</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="back()" class="float has-background-danger">
                <i class="fas fa-undo my-float is-size-3"></i>
            </a>
            <div class="has-text-primary">
                <p class="title has-text-primary" style="line-height: 20px">
                        {{ familyName }}<br>
                    <b class="is-size-7">(Head of The Family)</b>
                </p>
                Address: <b>{{ address }}</b>
            </div>
            <hr>
            <div class="is-size-4 has-text-primary">
                Members:
            </div>
            <ul class="menu-list">
                <li v-for="member in members" :key="member.id">
                    {{ member.name }} - ({{ gender(member.gender) }}, {{ calculateAge(member.birthdate) }})<br>
                    ({{ member.relationship }})
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                members: {},
                familyName: '',
                address:'',
                family: []
            }
        },
        methods: {
            back() {
                this.$router.push("/familyProfile");
            },

            loadMembers() {
                axios.get('/api/familyMembers/'+this.$route.params.id)
                .then( data  => (this.members = data.data));
            },

            loadFamilies() {
                axios.get('/api/familyProfile/' + this.$route.params.id)
                .then(({data})=>(
                    this.familyName = data.name,
                    this.address = data.address
                ));
            },

            calculateAge(data) {
                var birthday = Date.parse(data);
                var age = ~~((Date.now() - birthday) / (31557600000));
                return age;
            },

            gender(data) {
                var gender = 'female';
                if(data == 1) {
                    gender = 'male';
                }

                return gender;
            }
        },
        created() {
            this.loadFamilies();
            this.loadMembers();
        }
    }
</script>