<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Register User</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body">
            <div class="columns is-centered">
                <div class="column is-5">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">First Name:</label>
                    <input v-model="form.first_name" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">Middle Name:</label>
                    <input v-model="form.middle_name" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">Last Name:</label>
                    <input v-model="form.last_name" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">Username:</label>
                    <input v-model="form.username" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">User Role:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.role" id="gender" class="input">
                            <option value="admin">admin</option>
                            <option value="user">user</option>
                        </select>
                    </div>
                    <div v-show="!edit">
                        <label class="is-size-6 has-text-weight-bold has-text-primary">Password:</label>
                        <input v-model="form.password" type="password" class="input">
                        <label class="is-size-6 has-text-weight-bold has-text-primary">Retype Password:</label>
                        <input v-on:input="debounceInput" v-model="passwordConfirm" type="password" class="input">
                        <code v-show="!confirmed">Password not match</code>
                    </div>
                </div>
            </div>
            <a @click="save()" class="button is-normal is-primary is-fullwidth"><b>{{edit ? 'Update' : 'Save'}}</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                passwordConfirm:'',
                confirmed:true,
                edit:false,
                form: {
                    username:'',
                    role:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    password:'',
                }
            }
        },
        methods: {
            debounceInput: _.debounce(function (e) {
                if(this.passwordConfirm !== this.form.password) {
                    this.confirmed = false;
                } else {
                    this.confirmed = true;
                }
            }, 300),

            back() {
                this.$router.push("/users");
            },

            checkParams() {
                if(this.$route.params.id > 0) {
                    this.edit = true;
                    this.loadUser();
                }
            },

            loadUser() {
                axios.get(`/api/user/${this.$route.params.id}`)
                .then( data => {
                    this.form = data.data
                });
            },

            updateUser() {
                axios.put(`/api/user/${this.$route.params.id}`, this.form)
                .then(()=>{
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Successfully Updated',
                    });
                    this.back();
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            saveUser() {
                if(this.confirmed && this.form.password !== '' && this.passwordConfirm !== '') {
                    axios.post('/api/user', this.form)
                    .then(()=>{
                        Swal.fire({
                            type: 'success',
                            title: 'Saved',
                            text: 'successfully Added',
                        });
                        this.back();
                    })
                    .catch(()=>{
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Some Fields is empty or invalid',
                    })
                }
            },
            
            save() {
                if(this.edit) {
                    this.updateUser()
                } else {
                    this.saveUser()
                }
            }
        },
        created() {
            this.checkParams()
        }
    }
</script>