<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>App Users</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="toForm(0)" class="button is-link has-text-weight-bold is-pulled-left">Register User</a>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input" type="text" v-on:keyup="searchMonitor()" placeholder="Search for User">
                </div>
                <div class="control">
                    <a class="button is-link">
                    Search
                    </a>
                </div>
            </div>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                    <th>Fullname</th>
                    <th>Username</th>
                    <th class="is-pulled-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.id" v-show="user.id !== clients.id">
                    <td><b class="has-text-primary">{{ user.last_name }}, {{ user.first_name }}</b></td>
                    <td>{{ user.username }}</td>
                    <td class="is-pulled-right">
                        <a class="button is-success" @click="toForm(user.id)">
                            <span class="icon is-small">
                                <i class="fa fa-edit"></i>
                            </span>
                        </a>
                        <a v-show="clients.role == 'admin'" class="button is-danger" @click="toRemove(user.id)">
                            <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadUsers"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageCount: 1,
                endpoint: 'api/user?page=',
                page: 1,
                users: {},
                clients: {},
                form: {
                    search:''
                }
            }
        },
        methods: {
            searchMonitor(){
                if(this.form.search == '') {
                    this.loadUsers();
                }else{
                    axios.get(`api/user/search/${this.form.search}`)
                    .then( data => {
                        console.log(data);
                        this.users = data.data
                    });
                }
            },

            toForm(id) {
                this.$router.push("/user/form/"+id);
            },

            loadUsers(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        console.log(data);
                        this.users = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            toRemove(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Deleting this data permanently.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it.'
                }).then((result) => {
                if (result.value) {
                    this.remove(id);
                }
                })
            },

            remove(id) {
                axios.delete(`/api/user/${id}`)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: 'Family Profile Deleted',
                    });
                    this.loadUsers();
                });
            },

            getClient() {
                axios.get('api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },

        },
        created() {
            this.loadUsers();
            this.getClient();
        }
    }
</script>