<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>User Settings</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="columns is-centered">
                <div class="column">
                    <div>
                        <label class="is-size-6 has-text-weight-bold has-text-primary">Password:</label>
                        <input v-model="password.password" type="password" class="input">
                        <label class="is-size-6 has-text-weight-bold has-text-primary">Retype Password:</label>
                        <input v-on:input="debounceInput" v-model="password.passwordConfirm" type="password" class="input">
                        <code v-show="!confirmed">Password not match</code>
                        <br><br>
                        <a @click="changePassword()" class="button is-success is-fullwidth">Change Password</a>
                    </div>
                </div>
                <div class="column is-6">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">First Name:</label>
                    <input v-model="clients.first_name" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">Middle Name:</label>
                    <input v-model="clients.middle_name" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">Last Name:</label>
                    <input v-model="clients.last_name" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">Username:</label>
                    <input v-model="clients.username" type="text" class="input">
                    <label class="is-size-6 has-text-weight-bold has-text-primary">User Role:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="clients.role" id="gender" class="input">
                            <option value="admin">admin</option>
                            <option value="user">user</option>
                        </select>
                    </div><br><br>
                    <a @click="updateUser()" class="button is-success is-fullwidth">Update Profile</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                clients: {},
                confirmed: true,
                password: {
                    password:'',
                    confirmPassword:''
                }
            }
        },
        methods: {

            getClient() {
                axios.get('api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },

            debounceInput: _.debounce(function (e) {
                if(this.password.passwordConfirm !== this.password.password) {
                    this.confirmed = false;
                } else {
                    this.confirmed = true;
                }
            }, 300),

            updateUser() {
                axios.put(`/api/user/${this.clients.id}`, this.clients)
                .then(()=>{
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Successfully Updated',
                    });
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            updatePassword() {
                axios.put(`api/userChangePassword/${this.clients.id}`, this.password)
                .then(()=>{
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Password Updated',
                    });
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            changePassword() {
                if(this.confirmed && this.password.password !== '' && this.password.passwordConfirm !== '') {
                    this.updatePassword();
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'You must Enter Password First!',
                    })
                }
            }

        },
        created() {
            this.getClient();
        }
    }
</script>