<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Maternal Health</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="toForm()" class="button is-link has-text-weight-bold is-pulled-left"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Record</a>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input" type="text" v-on:keyup="searchMonitor()" placeholder="Enter Child Name">
                </div>
                <div class="control">
                    <a class="button is-link">
                        <b>Search</b>
                    </a>
                </div>
            </div>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="maternal in maternals" :key="maternal.id">
                    <td><a @click="toView(maternal.id)"><b>{{ maternal.name }}</b></a></td>
                    <td class="is-pulled-right">
                        <a class="button is-warning" @click="smsModal(maternal.contact_no)">
                            <span class="icon is-small">
                                <i class="fa fa-sms"></i>
                            </span>
                        </a>
                        <a v-show="clients.role === 'admin'" class="button is-danger" @click="deleteRecord(maternal.id)">
                            <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadMaternals"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">SMS Sender</p>
                    </div>
                    <form @submit.prevent="sendSms()">
                    <div class="message-body">
                        <fieldset>
  
                        <div class="field">
                            <label class="label">Number</label>
                            <div class="control">
                                <input class="input" type="number" v-model="sms.contact_no">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <input class="input" type="text" v-model="sms.message">
                            </div>
                        </div>

                        </fieldset>
                    </div>
                    <div class="message-footer" style="padding: 20px">
                        <a class="button is-danger is-pulled-left" @click="showModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Send</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal:false,
                pageCount: 1,
                endpoint: 'api/maternalHealth?page=',
                page: 1,
                clients:'',
                maternals: {},
                form: {
                    search:''
                },
                sms: {
                    contact_no:'',
                    message:'',
                }
            }
        },
        methods: {
            toForm() {
                this.$router.push("/maternalHealth/form");
            },

            loadMaternals(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.maternals = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            toView(id) {
                this.$router.push("/maternalHealth/view/" + id);
            },

            deleteRecord(id) {
                axios.delete(`/api/maternalHealth/${id}`)
                .then(() => {
                    Swal.fire({
                        type: 'success',
                        title: `<i class="fas fa-trash is-size-3"></i>`,
                        text: `deleted`,
                    })
                });
            },

            searchMonitor() {
                if(this.search == '') {
                    this.loadCandidates();
                }else{ 
                    axios.get('api/maternalHealth/search/'+this.form.search)
                        .then( data => {
                            console.log(data);
                            this.maternals = data.data.data;
                            this.pageCount = data.data.last_page;
                        });
                }
            },

            smsModal(number) {
                this.showModal = true;
                this.sms.contact_no = number;
            },

            sendSms() {
                axios.post('api/sendSms', this.sms)
                .then( () => {
                    Swal.fire({
                        type: 'success',
                        title: 'Message Sent',
                    });
                    this.showModal = false;
                });
            },

            getClients() {
                axios.get('api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },
        },
        created() {
            this.loadMaternals();
            this.getClients();
        }
    }
</script>