<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Information Settings</p>
        </div>
        <div class="box is-marginless content-body">
            <button @click="save()" class="button is-warning is-pulled-left"><i class="fas fa-save"></i>&nbsp; <b>Save</b></button><br><br>
            <a @click="menuModal()" class="float has-background-success">
                <i class="fas fa-bars my-float is-size-3"></i>
            </a>
            <div class="columns">
                <div class="column is-3">
                    <label class="is-size-7">NHTS ID NUMBER:</label>
                    <input v-model="form.maternal.nhts_no" type="text" name="nhts_no" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">IP's ID NUMBER:</label>
                    <input v-model="form.maternal.ips_no" type="text" name="ips_no" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">PHIC ID NUMBER:</label>
                    <input v-model="form.maternal.phic_no" type="text" name="phic_no" class="input is-small">
                </div>
                <div class="column">
                    <label class="is-size-7">Contact No:</label>
                    <input v-model="form.maternal.contact_no" type="text" name="contact_no" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-6">
                    <label class="is-size-7">Full Name:</label>
                    <input v-model="form.maternal.name" type="text" name="name" class="input is-small">
                </div>
                <div class="column">
                    <label class="is-size-7">Address:</label>
                    <input v-model="form.maternal.address" type="text" name="address" class="input is-small">
                </div>
            </div>
            <div class="columns">
                <div class="column is-3">
                    <label class="is-size-7">Date of Birth:</label>
                    <input v-model="form.maternal.birthdate" type="date" name="birthdate" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">Civil Status:</label>
                    <input v-model="form.maternal.civil_status" type="text" name="civil_status" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">Place of Birth:</label>
                    <input v-model="form.maternal.place_of_birth" type="text" name="place_of_birth" class="input is-small">
                </div>
                <div class="column">
                    <label class="is-size-7">Occupation:</label>
                    <input v-model="form.maternal.occupation" type="text" name="occupation" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-7">Gravida:</label>
                    <input v-model="form.maternal.gravida" type="text" name="gravida" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Para:</label>
                    <input v-model="form.maternal.para" type="text" name="para" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Abortion:</label>
                    <input v-model="form.maternal.abortion" type="text" name="abortion" class="input is-small">
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-7">Date last Delivery:</label>
                    <input v-model="form.maternal.date_last_delivery" type="date" name="date_last_delivery" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">LMP:</label>
                    <input v-model="form.maternal.lmp" type="text" name="lmp" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">EDC:</label>
                    <input v-model="form.maternal.edc" type="text" name="edc" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-7">Husband Name:</label>
                    <input v-model="form.maternal.husband_name" type="text" name="husband_name" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Birth Date:</label>
                    <input v-model="form.maternal.husband_birthdate" type="date" name="husband_birthdate" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Occupation:</label>
                    <input v-model="form.maternal.husband_occupation" type="text" name="husband_occupation" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <b>Obsterical History</b><br><br>
                    <label class="is-size-7">Born Alive:</label>
                    <input v-model="form.obsterical.born_alive" type="number" name="born_alive" class="input is-small">
                    <label class="is-size-7">Living Children:</label>
                    <input v-model="form.obsterical.living_child" type="number" name="living_child" class="input is-small">
                    <label class="is-size-7">Abortion:</label>
                    <input v-model="form.obsterical.abortion" type="number" name="obsterical_abortion" class="input is-small">
                    <label class="is-size-7">stillbirth/Fetal Death:</label>
                    <input v-model="form.obsterical.fetal_death" type="number" name="fetal_death" class="input is-small">
                    <label class="is-size-7">Death:</label>
                    <input v-model="form.obsterical.death" type="number" name="death" class="input is-small">
                    <label class="is-size-7">Deliveries by CS:</label>
                    <input v-model="form.obsterical.deliver_cs" type="number" name="deliver_cs" class="input is-small">
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4">
                    <b>Previous Pregnancies Complicated With</b><br><br>
                    <label class="is-size-7">Hemorrhage:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.prev_pregnancy.hemorrhage" id="hemorrhage" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">Toxemia:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.prev_pregnancy.toxemia" id="toxemia" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">Placenta Previa:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.prev_pregnancy.placenta_Previa" id="placenta_Previa" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">sepsis:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.prev_pregnancy.sepsis" id="sepsis" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">Non-Obsterical Illness(Specify):</label>
                    <input v-model="form.prev_pregnancy.non_obsterical" type="text" name="non_obsterical" class="input is-small">
                    <label class="is-size-7">Others(Specify):</label>
                    <input v-model="form.prev_pregnancy.others" type="text" name="others" class="input is-small">
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column">
                    <b>Family History</b><br><br>
                    <label class="is-size-7">Any Special Disease:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.family_history.special_disease" id="special_disease" class="input is-small">
                            <option value="1">Yes(specify Below)</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <input v-show="form.family_history.special_disease == 1" v-model="form.family_history.specific_special_disease" type="text" name="specific_special_disease" class="input is-small">
                    <label class="is-size-7">Special Case:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.family_history.special_case" id="special_case" class="input is-small">
                            <option value="1">Yes(specify Below)</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <input v-show="form.family_history.special_case == 1" v-model="form.family_history.specific_special_case" type="text" name="specific_special_case" class="input is-small">
                </div>
            </div>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message" style="width: 60%; margin-left: auto; margin-right: auto">
                    <div class="message-header has-background-primary">
                        <p class="title has-text-white">Maternal Health Menu</p>
                    </div>
                    <div class="column">
                        <nav class="panel has-text-weight-bold">
                            <a class="panel-block" @click="toProfile()">Profile</a>
                            <a class="panel-block" @click="toTrimester()">Trimester Table</a>
                            <a class="panel-block" @click="toTetanus()">Tetanus Toxoid Status</a>
                            <a class="panel-block" @click="toLaboratory()">Laboratory</a>
                            <a class="panel-block" @click="toOtherServices()">Other Services & Next Visit</a>
                            <a class="panel-block" @click="toLaborAndDelivery()">Labor & Delivery</a>
                            <a class="panel-block" @click="toInformationSettings()">Information Settings</a>
                            <a class="panel-block" @click="back()">Back</a>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal:false,
                form: {
                    maternal:[],
                    obsterical:[],
                    prev_pregnancy:[],
                    family_history:[]
                },
            }
        },
        methods: {
            loadMaternal() {
                axios.get('/api/maternalHealth/'+ this.$route.params.id)
                .then( data => {
                    this.form.maternal = data.data;
                });
            },

            loadObsterical() {
                axios.get('/api/maternalHealth/obsterical/'+ this.$route.params.id)
                .then( data => {
                    this.form.obsterical = data.data;
                });
            },

            loadPrevPregnancy() {
                axios.get('/api/maternalHealth/prev_pregnancy/'+ this.$route.params.id)
                .then( data => {
                    this.form.prev_pregnancy = data.data;
                }); 
            },

            loadHistory() {
                axios.get('/api/maternalHealth/family_history/'+ this.$route.params.id)
                .then( data => {
                    this.form.family_history= data.data;
                }); 
            },

            save() {
                axios.put(`/api/maternalHealth/${this.$route.params.id}`, this.form)
                .then(() => {
                    this.loadMaternal();
                    this.loadObsterical();
                    this.loadPrevPregnancy();
                    this.loadHistory();
                    Swal.fire({
                        type: 'success',
                        title: `<i class="fas fa-save is-size-3"></i>`,
                        text: `Updated`,
                    })
                }); 
            },

            toProfile(){
                this.$router.push(`/maternalHealth/view/${this.$route.params.id}`);
            },

            toTrimester() {
                this.$router.push(`/maternalHealth/trimester/${this.$route.params.id}`);
            },

            toTetanus() {
                this.$router.push(`/maternalHealth/tetanus/${this.$route.params.id}`);
            },

            toOtherServices() {
                this.$router.push(`/maternalHealth/otherServices/${this.$route.params.id}`);
            },

            toLaboratory() {
                this.$router.push(`/maternalHealth/laboratory/${this.$route.params.id}`);
            },

            toLaborAndDelivery() {
                this.$router.push(`/maternalHealth/labor/${this.$route.params.id}`);
            },
            
            toInformationSettings() {
                this.$router.push(`/maternalHealth/profileSettings/${this.$route.params.id}`);
            },

            menuModal() {
                this.showModal = true;
            }
        },
        created() {
            this.loadMaternal();
            this.loadObsterical();
            this.loadPrevPregnancy();
            this.loadHistory();
        }
    }
</script>