<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Tetanus Toxoid</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <button @click="save()" class="button is-warning is-pulled-left"><i class="fas fa-save"></i>&nbsp; <b>Save</b></button><br><br>
            <a @click="menuModal()" class="float has-background-success">
                <i class="fas fa-bars my-float is-size-3"></i>
            </a>
            <table class="table-for-view">
                <thead> 
                    <tr class="has-text-centered">
                        <td><b>Tetatnus Toxoid Status</b></td>
                        <td><b>Date Given</b></td>
                    </tr>
                </thead>
                <tbody style="font-size: 15px" class="has-text-weight-bold">
                    <tr>
                        <td>TT1</td>
                        <td><input type="date" style="background: transparent; border: none" class="cell-input is-small input" v-model="datas.tt1"></td>
                    </tr>
                    <tr>
                        <td>TT2</td>
                        <td><input type="date" style="background: transparent; border: none" class="cell-input is-small input" v-model="datas.tt2"></td>
                    </tr>
                    <tr>
                        <td>TT3</td>
                        <td><input type="date" style="background: transparent; border: none" class="cell-input is-small input" v-model="datas.tt3"></td>
                    </tr>
                    <tr>
                        <td>TT4</td>
                        <td><input type="date" style="background: transparent; border: none" class="cell-input is-small input" v-model="datas.tt4"></td>
                    </tr>
                    <tr>
                        <td>TT5</td>
                        <td><input type="date" style="background: transparent; border: none" class="cell-input is-small input" v-model="datas.tt5"></td>
                    </tr>
                    <tr>
                        <td>TTL</td>
                        <td><input type="date" style="background: transparent; border: none" class="cell-input is-small input" v-model="datas.ttl"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message" style="width: 60%; margin-left: auto; margin-right: auto">
                    <div class="message-header has-background-primary">
                        <p class="title has-text-white">Maternal Health Menu</p>
                    </div>
                    <div class="column">
                        <nav class="panel has-text-weight-bold">
                            <a class="panel-block" @click="toProfile()">Profile</a>
                            <a class="panel-block" @click="toTrimester()">Trimester Table</a>
                            <a class="panel-block" @click="toTetanus()">Tetanus Toxoid Status</a>
                            <a class="panel-block" @click="toLaboratory()">Laboratory</a>
                            <a class="panel-block" @click="toOtherServices()">Other Services & Next Visit</a>
                            <a class="panel-block" @click="toLaborAndDelivery()">Labor & Delivery</a>
                            <a class="panel-block" @click="toInformationSettings()">Information Settings</a>
                            <a class="panel-block" @click="back()">Back</a>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
                datas:[],
            }
        },
        methods: {
            loadToxoids() {

                axios.get(`/api/maternalHealth/tetanus/${this.$route.params.id}`)
                .then( data => {
                    this.datas = data.data;
                });

            },

            save() {

                axios.put(`/api/maternalHealth/updateTetanus/${this.$route.params.id}`, this.datas)
                .then( () => {
                     Swal.fire({
                        type: 'success',
                        title: `<i class="fas fa-save is-size-3"></i>`,
                        text: `Updated`,
                    })
                    this.loadToxoids();
                })

            },

            toProfile(){
                this.$router.push(`/maternalHealth/view/${this.$route.params.id}`);
            },

            toTrimester() {
                this.$router.push(`/maternalHealth/trimester/${this.$route.params.id}`);
            },

            toTetanus() {
                this.$router.push(`/maternalHealth/tetanus/${this.$route.params.id}`);
            },

            toOtherServices() {
                this.$router.push(`/maternalHealth/otherServices/${this.$route.params.id}`);
            },

            toLaboratory() {
                this.$router.push(`/maternalHealth/laboratory/${this.$route.params.id}`);
            },

            toLaborAndDelivery() {
                this.$router.push(`/maternalHealth/labor/${this.$route.params.id}`);
            },
            
            toInformationSettings() {
                this.$router.push(`/maternalHealth/profileSettings/${this.$route.params.id}`);
            },

            menuModal() {
                this.showModal = true;
            }
        },
        created() {
            this.loadToxoids();
        }
    }
</script>