<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>{{ maternal.name }}</p>
        </div>
        <div class="box is-marginless content-body">
            <a @click="menuModal()" class="float has-background-success">
                <i class="fas fa-bars my-float is-size-3"></i>
            </a>
            <div class="columns">
                <div class="column is-3">
                    <b class="has-text-primary">NHTS #:</b>
                    <p>{{ maternal.nhts_no }}</p><br>
                    <b class="has-text-primary">Birth Date:</b>
                    <p>{{ maternal.birthdate }}</p>
                    <b class="has-text-primary">Occupation:</b>
                    <p>{{ maternal.occupation }}</p>
                    <b class="has-text-primary">Date of Last Delivery:</b>
                    <p>{{ maternal.date_last_delivery }}</p>
                </div>
                <div class="column is-3">
                    <b class="has-text-primary">IP's #:</b>
                    <p>{{ maternal.ips_no }}</p><br>
                    <b class="has-text-primary">Address:</b>
                    <p>{{ maternal.address }}</p>
                    <b class="has-text-primary">Gravida:</b>
                    <p>{{ maternal.gravida }}</p>
                    <b class="has-text-primary">LMP:</b>
                    <p>{{ maternal.lmp }}</p>
                </div>
                <div class="column is-3">
                    <b class="has-text-primary">PHIC #:</b>
                    <p>{{ maternal.phic_no }}</p><br>
                    <b class="has-text-primary">Civil Status:</b>
                    <p>{{ maternal.civil_status }}</p>
                    <b class="has-text-primary">Para:</b>
                    <p>{{ maternal.para }}</p>
                    <b class="has-text-primary">EDC:</b>
                    <p>{{ maternal.edc }}</p>
                </div>
                <div class="column is-3">
                    <b class="has-text-primary">Contact no.:</b>
                    <p>{{ maternal.contact_no }}</p><br>
                    <b class="has-text-primary">Place of Birth:</b>
                    <p>{{ maternal.place_of_birth }}</p>
                    <b class="has-text-primary">Abortion:</b>
                    <p>{{ maternal.abortion }}</p>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <b class="has-text-primary">Husband Name:</b>
                    <p>{{ maternal.husband_name }}</p>
                </div>
                <div class="column is-4">
                    <b class="has-text-primary">Date of Birth:</b>
                    <p>{{ maternal.husband_birthdate }}</p>
                </div>
                <div class="column is-4">
                    <b class="has-text-primary">Occupation:</b>
                    <p>{{ maternal.husband_occupation }}</p>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4 has-text-centered">
                    <b class="has-text-primary">Obsterical History</b>
                    <table class="is-fullwidth table">
                        <tbody>
                            <tr>
                                <td>Children born alive:</td>
                                <td class="is-pulled-right">{{ obsterical.born_alive }}</td>
                            </tr>
                            <tr>
                                <td>Living Children:</td>
                                <td class="is-pulled-right">{{ obsterical.living_child }}</td>
                            </tr>
                            <tr>
                                <td>Abortion:</td>
                                <td class="is-pulled-right">{{ obsterical.abortion }}</td>
                            </tr>
                            <tr>
                                <td>Stillbirth/Fetal Death:</td>
                                <td class="is-pulled-right">{{ obsterical.fetal_death }}</td>
                            </tr>
                            <tr>
                                <td>Death:</td>
                                <td class="is-pulled-right">{{ obsterical.death }}</td>
                            </tr>
                            <tr>
                                <td>Delivery by CS:</td>
                                <td class="is-pulled-right">{{ obsterical.deliver_cs }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4 has-text-centered">
                    <b class="has-text-primary">Previous Pregnancy</b>
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Yes</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>a. Hemorrhage</td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.hemorrhage == 1" class="fas fa-check-circle has-text-success"></i></td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.hemorrhage != 1" class="fas fa-check-circle has-text-success"></i></td>
                            </tr>
                            <tr>
                                <td>b. Toxemia</td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.toxemia == 1" class="fas fa-check-circle has-text-success"></i></td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.toxemia != 1" class="fas fa-check-circle has-text-success"></i></td>
                            </tr>
                            <tr>
                                <td>c. Placenta Previa</td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.placenta_Previa == 1" class="fas fa-check-circle has-text-success"></i></td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.placenta_Previa != 1" class="fas fa-check-circle has-text-success"></i></td>
                            </tr>
                            <tr>
                                <td>d. Sepsis</td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.sepsis == 1" class="fas fa-check-circle has-text-success"></i></td>
                                <td class="has-text-centered"><i v-show="prev_pregnancy.sepsis != 1" class="fas fa-check-circle has-text-success"></i></td>
                            </tr>
                            <tr>
                                <td>e. Non Obsterical Illness</td>
                                <td class="has-text-centered"></td>
                                <td class="has-text-centered"></td>
                            </tr>
                            <tr>
                                <td>{{ prev_pregnancy.non_obsterical }}</td>
                            </tr>
                            <tr>
                                <td>f. Others(specify)</td>
                                <td class="has-text-centered"></td>
                                <td class="has-text-centered"></td>
                            </tr>
                            <tr>
                                <td>{{ prev_pregnancy.others }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4 has-text-centered">
                    <b class="has-text-primary">Family History</b>
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Yes</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Any Special Desease</td>
                                <td class="has-text-centered"><i v-show="family_history.special_disease == 1" class="fas fa-check-circle has-text-success"></i></td>
                                <td class="has-text-centered"><i v-show="family_history.special_disease != 1" class="fas fa-check-circle has-text-success"></i></td>
                            </tr>
                            <tr>
                                <td>{{ family_history.specific_special_disease }}</td>
                            </tr>
                            <tr>
                                <td>Special Case</td>
                                <td class="has-text-centered"><i v-show="family_history.special_case == 1" class="fas fa-check-circle has-text-success"></i></td>
                                <td class="has-text-centered"><i v-show="family_history.special_case != 1" class="fas fa-check-circle has-text-success"></i></td>
                            </tr>
                            <tr>
                                <td>{{ family_history.specific_special_case }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message" style="width: 60%; margin-left: auto; margin-right: auto">
                    <div class="message-header has-background-primary">
                        <p class="title has-text-white">Maternal Health Menu</p>
                    </div>
                    <div class="column">
                        <nav class="panel has-text-weight-bold">
                            <a class="panel-block" @click="toProfile()">Profile</a>
                            <a class="panel-block" @click="toTrimester()">Trimester Table</a>
                            <a class="panel-block" @click="toTetanus()">Tetanus Toxoid Status</a>
                            <a class="panel-block" @click="toLaboratory()">Laboratory</a>
                            <a class="panel-block" @click="toOtherServices()">Other Services & Next Visit</a>
                            <a class="panel-block" @click="toLaborAndDelivery()">Labor & Delivery</a>
                            <a class="panel-block" @click="toInformationSettings()">Information Settings</a>
                            <a class="panel-block" @click="back()">Back</a>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
                maternal: [],
                obsterical:[],
                prev_pregnancy:[],
                family_history:[],
            }
        },
        methods: {
            loadMaternal() {
                axios.get('/api/maternalHealth/'+ this.$route.params.id)
                .then( data => {
                    this.maternal = data.data;
                });
            },

            loadObsterical() {
                axios.get('/api/maternalHealth/obsterical/'+ this.$route.params.id)
                .then( data => {
                    this.obsterical = data.data;
                });
            },

            loadPrevPregnancy() {
                axios.get('/api/maternalHealth/prev_pregnancy/'+ this.$route.params.id)
                .then( data => {
                    this.prev_pregnancy = data.data;
                }); 
            },

            loadHistory() {
                axios.get('/api/maternalHealth/family_history/'+ this.$route.params.id)
                .then( data => {
                    this.family_history= data.data;
                }); 
            },

            back() {
                this.$router.push("/maternal");
            },
            toProfile(){
                this.$router.push(`/maternalHealth/view/${this.$route.params.id}`);
            },

            toTrimester() {
                this.$router.push(`/maternalHealth/trimester/${this.$route.params.id}`);
            },

            toTetanus() {
                this.$router.push(`/maternalHealth/tetanus/${this.$route.params.id}`);
            },

            toOtherServices() {
                this.$router.push(`/maternalHealth/otherServices/${this.$route.params.id}`);
            },

            toLaboratory() {
                this.$router.push(`/maternalHealth/laboratory/${this.$route.params.id}`);
            },

            toLaborAndDelivery() {
                this.$router.push(`/maternalHealth/labor/${this.$route.params.id}`);
            },
            
            toInformationSettings() {
                this.$router.push(`/maternalHealth/profileSettings/${this.$route.params.id}`);
            },

            menuModal() {
                this.showModal = true;
            }
        },
        created() {
            this.loadMaternal();
            this.loadObsterical();
            this.loadPrevPregnancy();
            this.loadHistory();
        }
    }
</script>