<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Maternal Health Record</p>
        </div>
        <a @click="back()" class="float has-background-danger">
            <i class="fas fa-undo my-float is-size-3"></i>
        </a>
        <div class="box is-marginless content-body has-text-centered">
            <div class="columns">
                <div class="column is-3">
                    <label class="is-size-7">NHTS ID NUMBER:</label>
                    <input v-model="form.nhts_no" type="number" name="nhts_no" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">IP's ID NUMBER:</label>
                    <input v-model="form.ips_no" type="number" name="ips_no" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">PHIC ID NUMBER:</label>
                    <input v-model="form.phic_no" type="number" name="phic_no" class="input is-small">
                </div>
                <div class="column">
                    <label class="is-size-7">Contact No:</label>
                    <input v-model="form.contact_no" type="number" name="contact_no" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-6">
                    <label class="is-size-7">Full Name:</label>
                    <input v-model="form.name" type="text" name="name" class="input is-small">
                </div>
                <div class="column">
                    <label class="is-size-7">Address:</label>
                    <input v-model="form.address" type="text" name="address" class="input is-small">
                </div>
            </div>
            <div class="columns">
                <div class="column is-3">
                    <label class="is-size-7">Date of Birth:</label>
                    <input v-model="form.birthdate" type="date" name="birthdate" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">Civil Status:</label>
                    <input v-model="form.civil_status" type="text" name="civil_status" class="input is-small">
                </div>
                <div class="column is-3">
                    <label class="is-size-7">Place of Birth:</label>
                    <input v-model="form.place_of_birth" type="text" name="place_of_birth" class="input is-small">
                </div>
                <div class="column">
                    <label class="is-size-7">Occupation:</label>
                    <input v-model="form.occupation" type="text" name="occupation" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-7">Gravida:</label>
                    <input v-model="form.gravida" type="text" name="gravida" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Para:</label>
                    <input v-model="form.para" type="text" name="para" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Abortion:</label>
                    <input v-model="form.abortion" type="text" name="abortion" class="input is-small">
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-7">Date last Delivery:</label>
                    <input v-model="form.date_last_delivery" type="date" name="date_last_delivery" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">LMP:</label>
                    <input v-model="form.lmp" type="text" name="lmp" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">EDC:</label>
                    <input v-model="form.edc" type="text" name="edc" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-7">Husband Name:</label>
                    <input v-model="form.husband_name" type="text" name="husband_name" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Birth Date:</label>
                    <input v-model="form.husband_birthdate" type="date" name="husband_birthdate" class="input is-small">
                </div>
                <div class="column is-4">
                    <label class="is-size-7">Occupation:</label>
                    <input v-model="form.husband_occupation" type="text" name="husband_occupation" class="input is-small">
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-4">
                    <b>Obsterical History</b><br><br>
                    <label class="is-size-7">Born Alive:</label>
                    <input v-model="form.born_alive" type="number" name="born_alive" class="input is-small">
                    <label class="is-size-7">Living Children:</label>
                    <input v-model="form.living_child" type="number" name="living_child" class="input is-small">
                    <label class="is-size-7">Abortion:</label>
                    <input v-model="form.obsterical_abortion" type="number" name="obsterical_abortion" class="input is-small">
                    <label class="is-size-7">stillbirth/Fetal Death:</label>
                    <input v-model="form.fetal_death" type="number" name="fetal_death" class="input is-small">
                    <label class="is-size-7">Death:</label>
                    <input v-model="form.death" type="number" name="death" class="input is-small">
                    <label class="is-size-7">Deliveries by CS:</label>
                    <input v-model="form.deliver_cs" type="number" name="deliver_cs" class="input is-small">
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column is-4">
                    <b>Previous Pregnancies Complicated With</b><br><br>
                    <label class="is-size-7">Hemorrhage:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.hemorrhage" id="hemorrhage" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">Toxemia:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.toxemia" id="toxemia" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">Placenta Previa:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.placenta_Previa" id="placenta_Previa" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">sepsis:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.sepsis" id="sepsis" class="input is-small">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <label class="is-size-7">Non-Obsterical Illness(Specify):</label>
                    <input v-model="form.non_obsterical" type="text" name="non_obsterical" class="input is-small">
                    <label class="is-size-7">Others(Specify):</label>
                    <input v-model="form.others" type="text" name="others" class="input is-small">
                </div>
                <div class="is-divider-vertical is-paddingless"></div>
                <div class="column">
                    <b>Family History</b><br><br>
                    <label class="is-size-7">Any Special Disease:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.special_disease" id="special_disease" class="input is-small">
                            <option value="1">Yes(specify Below)</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <input v-show="form.special_disease == 1" v-model="form.specific_special_disease" type="text" name="specific_special_disease" class="input is-small">
                    <label class="is-size-7">Special Case:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.special_case" id="special_case" class="input is-small">
                            <option value="1">Yes(specify Below)</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <input v-show="form.special_case == 1" v-model="form.specific_special_case" type="text" name="specific_special_case" class="input is-small">
                </div>
            </div>
            <a @click="save()" class="button is-normal is-primary is-fullwidth"><b>SAVE</b></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    nhts_no:'',
                    ips_no:'',
                    phic_no:'',
                    name:'',
                    address:'',
                    birthdate:'',
                    contact_no:'',
                    civil_status:'', 
                    place_of_birth:'',
                    occupation:'',
                    gravida:'',
                    para:'',
                    abortion:'',
                    date_last_delivery:'',
                    lmp:'',
                    edc:'',
                    husband_name:'',
                    husband_birthdate:'',
                    husband_occupation:'',
                    born_alive: 0,
                    living_child: 0,
                    obsterical_abortion: 0,
                    fetal_death: 0,
                    death: 0,
                    deliver_cs: 0,
                    hemorrhage:'',
                    toxemia:'',
                    placenta_Previa:'',
                    sepsis:'',
                    non_obsterical:'',
                    others:'',
                    special_disease:'',
                    specific_special_disease:'',
                    special_case:'',
                    specific_special_case:''
                }
            }
        },
        methods: {
            back() {
                this.$router.push("/maternal");
            },
            
            save() {
                axios.post('/api/maternalHealth', this.form)
                .then(()=>{
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'successfully Added',
                    });
                    this.back();
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            }
        },
        created() {

        }
    }
</script>