<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Laboratory Test Result</p>
        </div>
        <div class="box is-marginless content-body">
            <button @click="save()" class="button is-warning is-pulled-left"><i class="fas fa-save"></i>&nbsp; <b>Save</b></button><br><br>
            <a @click="menuModal()" class="float has-background-success">
                <i class="fas fa-bars my-float is-size-3"></i>
            </a>
            <table class="table-for-view">
                <thead> 
                    <tr class="has-text-centered">
                        <td><b>Laboratory</b></td>
                        <td><b>Date</b></td>
                        <td><b>Result</b></td>
                    </tr>
                </thead>
                <tbody style="font-size: 15px" class="has-text-weight-bold">
                    <tr v-for="(laboratory, index) in form.laboratories" :key="index">
                        <td>
                            <p v-show="laboratory.laboratory_type == 1">Hemoglobin</p>
                            <p v-show="laboratory.laboratory_type == 2">Blood Type</p>
                            <p v-show="laboratory.laboratory_type == 3">Urynalisis Albumin</p>
                            <p v-show="laboratory.laboratory_type == 4">Urynalisis Sugar</p>
                            <p v-show="laboratory.laboratory_type == 5">Urynalisis Pus Cells</p>
                            <p v-show="laboratory.laboratory_type == 6">Hepa B Test</p>
                        </td>
                        <td><input type="date" class="cell-input" v-model="laboratory.date"></td>
                        <td><input type="text" class="cell-input" v-model="laboratory.result"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message" style="width: 60%; margin-left: auto; margin-right: auto">
                    <div class="message-header has-background-primary">
                        <p class="title has-text-white">Maternal Health Menu</p>
                    </div>
                    <div class="column">
                        <nav class="panel has-text-weight-bold">
                            <a class="panel-block" @click="toProfile()">Profile</a>
                            <a class="panel-block" @click="toTrimester()">Trimester Table</a>
                            <a class="panel-block" @click="toTetanus()">Tetanus Toxoid Status</a>
                            <a class="panel-block" @click="toLaboratory()">Laboratory</a>
                            <a class="panel-block" @click="toOtherServices()">Other Services & Next Visit</a>
                            <a class="panel-block" @click="toLaborAndDelivery()">Labor & Delivery</a>
                            <a class="panel-block" @click="toInformationSettings()">Information Settings</a>
                            <a class="panel-block" @click="back()">Back</a>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
                form: {
                    laboratories: {},
                }
            }
        },
        methods: {
            loadLaboratories() {

                axios.get(`/api/maternalHealth/laboratory/${this.$route.params.id}`)
                .then( data => {
                    this.form.laboratories = data.data;
                });

            },

            save() {

                axios.put(`/api/maternalHealth/updateLaboratories/${this.$route.params.id}`, this.form)
                .then(
                    Swal.fire({
                        type: 'success',
                        title: `<i class="fas fa-save is-size-3"></i>`,
                        text: `Updated`,
                    })
                );

            },

            back() {

                this.$router.push("/maternal");

            },

            toProfile(){
                this.$router.push(`/maternalHealth/view/${this.$route.params.id}`);
            },

            toTrimester() {
                this.$router.push(`/maternalHealth/trimester/${this.$route.params.id}`);
            },

            toTetanus() {
                this.$router.push(`/maternalHealth/tetanus/${this.$route.params.id}`);
            },

            toOtherServices() {
                this.$router.push(`/maternalHealth/otherServices/${this.$route.params.id}`);
            },

            toLaboratory() {
                this.$router.push(`/maternalHealth/laboratory/${this.$route.params.id}`);
            },

            toLaborAndDelivery() {
                this.$router.push(`/maternalHealth/labor/${this.$route.params.id}`);
            },
            
            toInformationSettings() {
                this.$router.push(`/maternalHealth/profileSettings/${this.$route.params.id}`);
            },

            menuModal() {
                this.showModal = true;
            }
        },
        created() {
            this.loadLaboratories();
        }
    }
</script>