<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Other Services and Next Visit</p>
        </div>
        <div class="box is-marginless content-body">
            <button @click="save()" class="button is-warning is-pulled-left"><i class="fas fa-save"></i>&nbsp; <b>Save</b></button><br><br>
            <a @click="menuModal()" class="float has-background-success">
                <i class="fas fa-bars my-float is-size-3"></i>
            </a>
            <table class="table-for-view">
                <thead> 
                    <tr class="has-text-centered">
                        <td><b>Services</b></td>
                        <td><b>Action</b></td>
                        <td><b>Remarks</b></td>
                    </tr>
                </thead>
                <tbody style="font-size: 15px" class="has-text-weight-bold">
                    <tr v-for="(service, index) in form.services" :key="index">
                        <td>
                            <p v-show="service.service_id == 1">Malaria Prophylaxis(for endemic areas)</p>
                            <p v-show="service.service_id == 2">Deworming</p>
                            <p v-show="service.service_id == 3">Dental Check-Up</p>
                            <p v-show="service.service_id == 4">Iodine supp. for Risks Areas</p>
                            <p v-show="service.service_id == 5">Assist in Birth Plan</p>
                            <p v-show="service.service_id == 6">Information in Pregnancy Danger Signs</p>
                            <p v-show="service.service_id == 7">Information on FP and EBF</p>
                            <p v-show="service.service_id == 8">Dietary Advice</p>
                        </td>
                        <td><input type="text" class="cell-input" v-model="service.action"></td>
                        <td><input type="text" class="cell-input" v-model="service.remarks"></td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <button @click="saveNextVisit()" class="button is-warning is-pulled-laft"><i class="fas fa-save"></i>&nbsp; <b>Save Dates</b></button><br><br>
            <table class="table-for-view">
                <thead>
                    <tr>
                        <td colspan="4" class="has-text-centered"><b>Date Next Visit</b></td>
                    </tr>
                </thead>
                <tbody style="font-size: 10px" class="has-text-weight-bold">
                    <tr>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell1"></td>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell2"></td>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell3"></td>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell4"></td>
                    </tr>
                    <tr>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell5"></td>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell6"></td>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell7"></td>
                        <td><input type="date" class="cell-input" v-model="nextVisit.cell8"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message" style="width: 60%; margin-left: auto; margin-right: auto">
                    <div class="message-header has-background-primary">
                        <p class="title has-text-white">Maternal Health Menu</p>
                    </div>
                    <div class="column">
                        <nav class="panel has-text-weight-bold">
                            <a class="panel-block" @click="toProfile()">Profile</a>
                            <a class="panel-block" @click="toTrimester()">Trimester Table</a>
                            <a class="panel-block" @click="toTetanus()">Tetanus Toxoid Status</a>
                            <a class="panel-block" @click="toLaboratory()">Laboratory</a>
                            <a class="panel-block" @click="toOtherServices()">Other Services & Next Visit</a>
                            <a class="panel-block" @click="toLaborAndDelivery()">Labor & Delivery</a>
                            <a class="panel-block" @click="toInformationSettings()">Information Settings</a>
                            <a class="panel-block" @click="back()">Back</a>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal:false,
                nextVisit: [],
                form: {
                    services: {},
                }
            }
        },
        methods: {
            loadServices() {

                axios.get(`/api/maternalHealth/services/${this.$route.params.id}`)
                .then( data => {
                    this.form.services = data.data;
                });

            },

            loadNextVisit() {

                axios.get(`/api/maternalHealth/nextVisit/${this.$route.params.id}`)
                .then( data => {
                    this.nextVisit = data.data;
                });

            },

            save() {

                axios.put(`/api/maternalHealth/updateServices/${this.$route.params.id}`, this.form)
                .then(
                    Swal.fire({
                        type: 'success',
                        title: `<i class="fas fa-save is-size-3"></i>`,
                        text: `Updated`,
                    })
                );

            },

            saveNextVisit() {

                axios.put(`/api/maternalHealth/updateNextVisit/${this.$route.params.id}`, this.nextVisit)
                .then(
                    Swal.fire({
                        type: 'success',
                        title: `<i class="fas fa-save is-size-3"></i>`,
                        text: `Updated`,
                    })
                );

            },

            toProfile(){
                this.$router.push(`/maternalHealth/view/${this.$route.params.id}`);
            },

            toTrimester() {
                this.$router.push(`/maternalHealth/trimester/${this.$route.params.id}`);
            },

            toTetanus() {
                this.$router.push(`/maternalHealth/tetanus/${this.$route.params.id}`);
            },

            toOtherServices() {
                this.$router.push(`/maternalHealth/otherServices/${this.$route.params.id}`);
            },

            toLaboratory() {
                this.$router.push(`/maternalHealth/laboratory/${this.$route.params.id}`);
            },

            toLaborAndDelivery() {
                this.$router.push(`/maternalHealth/labor/${this.$route.params.id}`);
            },
            
            toInformationSettings() {
                this.$router.push(`/maternalHealth/profileSettings/${this.$route.params.id}`);
            },

            menuModal() {
                this.showModal = true;
            }
        },
        created() {
            this.loadServices();
            this.loadNextVisit();
        }
    }
</script>