<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Labor And Delivery</p>
        </div>
        <div class="box is-marginless content-body">
            <button @click="save()" class="button is-warning is-pulled-left"><i class="fas fa-save"></i>&nbsp; <b>Save</b></button><br><br>
            <a @click="menuModal()" class="float has-background-success">
                <i class="fas fa-bars my-float is-size-3"></i>
            </a>
            <table class="table-for-view">
                <tbody style="font-size: 15px" class="has-text-weight-bold">
                    <tr>
                        <td>Immediate BreastFeeding (Y/N)</td>
                        <td>
                            <select name="" id="" class="cell-input" v-model="delivery.immediate_breastfeeding">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td>Birth Weight in Grams</td>
                        <td><input type="number" class="cell-input" v-model="delivery.birth_weight"></td>
                    </tr>
                    <tr>
                        <td>Type of Delivery</td>
                        <td><input type="text" class="cell-input" v-model="delivery.type_of_delivery"></td>
                        <td>Post Partum Hemorrhage 500 CC+ (Y/N)</td>
                        <td>
                            <select name="" id="" class="cell-input" v-model="delivery.hemorhage">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date of Delivery</td>
                        <td><input type="date" class="cell-input" v-model="delivery.date_of_delivery"></td>
                        <td>Baby Alive (Y/N)</td>
                        <td>
                            <select name="" id="" class="cell-input" v-model="delivery.alive">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Place of Delivery</td>
                        <td><input type="text" class="cell-input" v-model="delivery.place_of_delivery"></td>
                        <td>Baby Healthy (Y/N)</td>
                        <td>
                            <select name="" id="" class="cell-input" v-model="delivery.healthy">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Birth Attendant - Mid/Nurse/Midwife/Others</td>
                        <td><input type="text" class="cell-input" v-model="delivery.birth_attendant"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message" style="width: 60%; margin-left: auto; margin-right: auto">
                    <div class="message-header has-background-primary">
                        <p class="title has-text-white">Maternal Health Menu</p>
                    </div>
                    <div class="column">
                        <nav class="panel has-text-weight-bold">
                            <a class="panel-block" @click="toProfile()">Profile</a>
                            <a class="panel-block" @click="toTrimester()">Trimester Table</a>
                            <a class="panel-block" @click="toTetanus()">Tetanus Toxoid Status</a>
                            <a class="panel-block" @click="toLaboratory()">Laboratory</a>
                            <a class="panel-block" @click="toOtherServices()">Other Services & Next Visit</a>
                            <a class="panel-block" @click="toLaborAndDelivery()">Labor & Delivery</a>
                            <a class="panel-block" @click="toInformationSettings()">Information Settings</a>
                            <a class="panel-block" @click="back()">Back</a>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal:false,
                delivery:[]
            }
        },
        methods: {
            loadDelivery() {

                axios.get(`/api/maternalHealth/delivery/${this.$route.params.id}`)
                .then( data => {
                    this.delivery = data.data;
                });

            },

            save() {

                axios.put(`/api/maternalHealth/updateDelivery/${this.$route.params.id}`, this.delivery)
                .then(
                    Swal.fire({
                        type: 'success',
                        title: `<i class="fas fa-save is-size-3"></i>`,
                        text: `Updated`,
                    })
                );

            },

            toProfile(){
                this.$router.push(`/maternalHealth/view/${this.$route.params.id}`);
            },

            toTrimester() {
                this.$router.push(`/maternalHealth/trimester/${this.$route.params.id}`);
            },

            toTetanus() {
                this.$router.push(`/maternalHealth/tetanus/${this.$route.params.id}`);
            },

            toOtherServices() {
                this.$router.push(`/maternalHealth/otherServices/${this.$route.params.id}`);
            },

            toLaboratory() {
                this.$router.push(`/maternalHealth/laboratory/${this.$route.params.id}`);
            },

            toLaborAndDelivery() {
                this.$router.push(`/maternalHealth/labor/${this.$route.params.id}`);
            },
            
            toInformationSettings() {
                this.$router.push(`/maternalHealth/profileSettings/${this.$route.params.id}`);
            },

            menuModal() {
                this.showModal = true;
            }
        },
        created() {
            this.loadDelivery();
        }
    }
</script>