<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            Individual Treatment Form
            <br>
        </div>
        <div class="box is-marginless content-body">
            <a @click="back()" class="float has-background-danger">
                <i class="fas fa-undo my-float is-size-3"></i>
            </a>
            <form @submit.prevent="edit ? update() : save()">
            <div class="columns">
                <div class="column is-8">
                    <label class="is-size-5">Full Name:</label>
                    <input v-model="form.name" type="text" name="name" class="input">
                </div>
                <div class="column">
                    <label class="is-size-5">Contact No.:</label>
                    <input v-model="form.contact_no" type="text" name="contact_no" class="input">
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <label class="is-size-5">Date of Birth:</label>
                    <input v-model="form.birthdate" type="date" name="birthdate" class="input">
                </div>
                <div class="column is-4">
                    <label class="is-size-5">Gender:</label>
                    <div class="select is-fullwidth">
                        <select name="gender" v-model="form.gender" id="gender" class="input">
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                </div>
                <div class="column is-4">
                    <label class="is-size-5">Civil Status:</label><br>
                    <div class="select is-fullwidth">
                        <select @change="csChange()" name="civil_status" v-model="form.civil_status" id="civil_status" class="input">
                            <option value="single">Single</option>
                            <option value="married">Married</option>
                        </select>
                    </div>
                </div>
                <div class="column"></div>
            </div>
            <label class="is-size-5">Complete Address:</label>
            <input v-model="form.address" type="text" name="address" class="input">
            <div class="columns">
                <div class="column is-6">
                    <label class="is-size-5">Philhealth #:</label>
                    <input v-model="form.philhealth" type="text" name="philhealth" class="input">
                </div>
                <div class="column">
                    <label class="is-size-5">Occupation:</label>
                    <input v-model="form.occupation" type="text" name="occupation" class="input">
                </div>
            </div>
            <br>
            <!-- Spouse Information  -->
            <div v-show="status == 'married'">
                <p class="is-size-5 has-text-weight-bold">Spouse Information</p>
                <hr class="m-b-0">
                <label class="is-size-5">Full Name:</label>
                <input v-model="form.spouse_name" type="text" name="spouse_name" class="input">
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-5">Occupation:</label>
                        <input v-model="form.spouse_occupation" type="text" name="spouse_occupation" class="input">
                    </div>
                    <div class="column">
                        <label class="is-size-5">Date of Birth:</label>
                        <input v-model="form.spouse_birthdate" type="date" name="spouse_birthdate" class="input">
                    </div>
                </div>
            </div>
            <br>
            <!-- Father Information -->
            <div>
                <p class="is-size-5 has-text-weight-bold">Father Information</p>
                (Leave blank if Deseased)
                <hr class="m-b-0">
                <label class="is-size-5">Full Name:</label>
                <input v-model="form.father_name" type="text" name="father_name" class="input">
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-5">Occupation:</label>
                        <input v-model="form.father_occupation" type="text" name="father_occupation" class="input">
                    </div>
                    <div class="column">
                        <label class="is-size-5">Date of Birth:</label>
                        <input v-model="form.father_birthdate" type="date" name="father_birthdate" class="input">
                    </div>
                </div>
            </div>
            <br>
            <!-- Mother Information -->
            <div>
                <p class="is-size-5 has-text-weight-bold">Mother Information</p>
                (Leave blank if Deseased)
                <hr class="m-b-0">
                <label class="is-size-5">Full Name:</label>
                <input v-model="form.mother_name" type="text" name="mother_name" class="input">
                <div class="columns">
                    <div class="column is-6">
                        <label class="is-size-5">Occupation:</label>
                        <input v-model="form.mother_occupation" type="text" name="mother_occupation" class="input">
                    </div>
                    <div class="column">
                        <label class="is-size-5">Date of Birth:</label>
                        <input v-model="form.mother_birthdate" type="date" name="mother_birthdate" class="input">
                    </div>
                </div>
                <div>
                    <button type="submit" class="button is-primary is-large is-pulled-right is-fullwidth"><i class="fas fa-save"></i>&nbsp;{{ buttonText }}</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                edit: false,
                status: 'single',
                buttonText: 'Save Information',
                form: {
                    id:'',
                    name:'',
                    contact_no:'',
                    birthdate:'',
                    gender:'',
                    civil_status:'',
                    address:'',
                    philhealth:'',
                    occupation:'',
                    spouse_name:'',
                    spouse_occupation:'',
                    spouse_birthdate:'',
                    father_name:'',
                    father_occupation:'',
                    father_birthdate:'',
                    mother_name:'',
                    mother_occupation:'',
                    mother_birthdate:'',
                } 
            }
        },
        methods: {

            csChange() {
                if (this.form.civil_status == 'married') {
                    this.status = 'married';
                } else {
                    this.status = 'single';
                }
            },

            back() {
                this.$router.push("/individual");
            },

            update() {
                if (this.form.civil_status === 'single') {
                    this.form.spouse_name = null;
                    this.form.spouse_occupation = null;
                    this.form.spouse_birthdate = null;
                }
                axios.put('/api/individualTreatment/'+this.form.id, this.form)
                .then( data =>{
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Pfoile updated successfully!',
                    })
                    this.$router.push("/individual");
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            save() {
                axios.post('/api/individualTreatment', this.form)
                .then( ({data}) =>{

                    Swal.fire({
                        title: 'Saved',
                        text: "Would you like to save initial treatment record?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, bring me there!',
                        cancelButtonText: `No i'll do it later`
                        }).then((result) => {
                        if (result.value) {
                            this.$router.push("/individual/treatment/"+data.id);
                        } else {
                            this.$router.push("/individual");
                        }
                    })
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            getIndividual() {
                axios.get('/api/individualTreatment/' + this.$route.params.id)
                .then( data =>(
                    this.form.name = data.data.name,
                    this.form.contact_no = data.data.contact_no,
                    this.form.birthdate = data.data.birthdate,
                    this.form.gender = data.data.gender,
                    this.form.civil_status = data.data.civil_status,
                    this.status = data.data.civil_status,
                    this.form.address = data.data.address,
                    this.form.philhealth = data.data.philhealth,
                    this.form.occupation = data.data.occupation,
                    this.form.spouse_name = data.data.spouse_name,
                    this.form.spouse_occupation = data.data.spouse_occupation,
                    this.form.spouse_birthdate = data.data.spouse_birthdate,
                    this.form.father_name = data.data.father_name,
                    this.form.father_occupation = data.data.father_occupation,
                    this.form.father_birthdate = data.data.father_birthdate,
                    this.form.mother_name = data.data.mother_name,
                    this.form.mother_occupation = data.data.mother_occupation,
                    this.form.mother_birthdate = data.data.mother_birthdate
                ));
            },

            checkID() {
                if(this.$route.params.id !== "0") {
                     this.form.id = this.$route.params.id;
                     this.getIndividual();
                     this.buttonText = 'Update Information';
                     this.edit = true;
                }
            }
        },
        created() {
            this.checkID();
        }
    }
</script>