<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            Treatment Records
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="back()" class="float has-background-danger">
                <i class="fas fa-undo my-float is-size-3"></i>
            </a>
            <a @click="openModal()" class="button is-link has-text-weight-bold is-pulled-right"><i class="fa fa-plus" aria-hidden="true"></i>Add Record</a>
            <table class="table is-fullwidth">
                  <thead>
                    <tr>
                        <th>Date Treated</th>
                        <th>Complaints/findings<br>Subjective/Objective</th>
                        <th>Service Rendered<br>Intervention</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="treatment in treatments" :key="treatment.id">
                        <td>{{ treatment.date_treated }}</td>
                        <td>{{ treatment.complaints }}</td>
                        <td>{{ treatment.service_rendered }}</td>
                        <td>
                            <a class="button is-success" @click="editRecord(treatment)">
                                <span class="icon is-small">
                                    <i class="fa fa-edit"></i>
                                </span>
                            </a>
                            <a class="button is-danger" @click="deleteWarning(treatment.id)">
                                <span class="icon is-small">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">{{ modalheader }}</p>
                    </div>
                    <form @submit.prevent="edit ? update() : save()">
                    <div class="message-body">
                        <div class="field">
                            <label class="label">Date Treated:</label>
                            <div class="control">
                                <input v-model="form.date_treated" type="date" name="date_treated" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Complaints/Findings Subjective/Objective:</label>
                            <div class="control">
                                <input v-model="form.complaints" type="text" name="complaints" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Service Rendered Intervention</label>
                            <div class="control">
                                <input v-model="form.service_rendered" type="text" name="service_rendered" class="input">
                            </div>
                        </div>
                    </div>
                    <div class="message-footer" style="padding: 20px">
                        <a class="button is-danger is-pulled-left" @click="showModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">{{ buttonText }}</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                edit: false,
                showModal: false,
                treatments: {},
                modalheader: 'File Record',
                buttonText: 'Save Record',
                form:{
                    id:'',
                    individual_id:'',
                    date_treated:'',
                    complaints:'',
                    service_rendered:''
                }
            }
        },
        methods: {
            back() {
                this.$router.push("/individual");
            },

            openModal() {
                this.showModal = true;
            },

            clearForm() {
                this.form.date_treated = '';
                this.form.complaints = '';
                this.form.service_rendered = '';
                this.modalheader = 'File Record';
                this.buttonText = 'Save Record';
                this.edit = false;
            },

            deleteWarning(id) {
                Swal.fire({
                    title: 'Delete this Record?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.delete(id);
                    }
                })
            },

            editRecord(data) {
                this.form.id = data.id;
                this.form.date_treated = data.date_treated;
                this.form.complaints = data.complaints;
                this.form.service_rendered = data.service_rendered;
                this.edit = true;
                this.showModal = true;
                this.modalheader = 'Modify Record';
                this.buttonText = 'Update Record';
            },

            delete(id) {
                axios.delete('/api/treatmentRecord/'+id)
                .then(({data})=>{
                    Fire.$emit('afterSaving');
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Record Deleted',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            update() {
                axios.put('/api/treatmentRecord/'+this.form.id, this.form)
                .then( data =>{
                    Fire.$emit('afterSaving');
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Record Modified',
                    })
                })
                .catch(() => {
                  Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            save() {
                axios.post('/api/treatmentRecord', this.form)
                .then(()=>{
                    Fire.$emit('afterSaving');
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: 'Treatment successfully recorded',
                    });
                })
                .catch(()=>{
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            },

            loadRecords() {
                axios.get('/api/treatmentRecords/'+this.$route.params.id)
                .then( data => (this.treatments = data.data));
            }
        },
        created() {
            this.form.individual_id = this.$route.params.id;
            this.loadRecords();
            Fire.$on('afterSaving',()=>{
                this.clearForm();
                this.loadRecords();
                this.showModal = false;
            });
        }
    }
</script>