<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Individual Treatment</p>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <a @click="toForm(0)" class="button is-link has-text-weight-bold is-pulled-left"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Record</a>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input" type="text" v-on:keyup="searchMonitor()" placeholder="Search for Name">
                </div>
                <div class="control">
                    <a class="button is-link">
                    Search
                    </a>
                </div>
            </div>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th class="is-pulled-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="individual in individuals" :key="individual.id">
                        <td><a @click="view(individual.id)">{{ individual.name }}</a></td>
                        <td class="is-pulled-right">
                            <a class="button is-link" @click="addTreatment(individual.id)">
                                <span class="icon is-small">
                                    <i class="fa fa-file-alt"></i>
                                </span>
                            </a>
                            <a class="button is-success" @click="smsModal(individual.contact_no)">
                                <span class="icon is-small">
                                    <i class="fas fa-sms"></i>
                                </span>
                            </a>
                            <a class="button is-warning" @click="toForm(individual.id)">
                                <span class="icon is-small">
                                    <i class="fa fa-edit"></i>
                                </span>
                            </a>
                            <a v-show="clients.role === 'admin'" class="button is-danger" @click="toDelete(individual.id)">
                                <span class="icon is-small">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadIndividuals"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
        <div class="modal is-active" v-show="showModal">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <article class="message">
                    <div class="message-header has-background-primary">
                    <p class="title has-text-white">SMS Sender</p>
                    </div>
                    <form @submit.prevent="sendSms()">
                    <div class="message-body">
                        <fieldset>
  
                        <div class="field">
                            <label class="label">Number</label>
                            <div class="control">
                                <input class="input" type="number" v-model="sms.contact_no">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <input class="input" type="text" v-model="sms.message">
                            </div>
                        </div>

                        </fieldset>
                    </div>
                    <div class="message-footer" style="padding: 20px">
                        <a class="button is-danger is-pulled-left" @click="showModal = false">Close</a>
                        <button type="submit" class="button is-success is-pulled-right">Send</button>
                    </div>
                    </form>
                    <br><br>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
                pageCount: 1,
                endpoint: 'api/individualTreatment?page=',
                page: 1,
                individuals: {},
                clients: {},
                form:{
                    search:''
                },
                sms: {
                    contact_no:'',
                    message:'',
                }
            }
        },
        methods: {
            searchMonitor(){
                if(this.form.search === '') {
                    this.loadIndividuals();
                }else{ 
                    axios.get('api/individual/search/'+this.form.search)
                    .then(data => (this.individuals = data.data));
                }
            },

            view(id) {
                this.$router.push("/individual/view/"+id);
            },

            addTreatment(id) {
                this.$router.push("/individual/treatment/"+id);
            },

            toForm(id) {
                this.$router.push("/individual/form/"+id);
            },

            loadIndividuals(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        console.log(data);
                        this.individuals = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            toDelete(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Deleting this data permanently.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it.'
                }).then((result) => {
                if (result.value) {
                    this.remove(id);
                }
                })
            },

            remove(id) {
                axios.delete(`/api/individualTreatment/${id}`)
                .then( () => {
                    Swal.fire({
                        type: 'success',
                        title: 'Successfully Deleted'
                    })
                    this.loadIndividuals();
                });
            },

            smsModal(number) {
                this.showModal = true;
                this.sms.contact_no = number;
            },

            sendSms() {
                axios.post('api/sendSms', this.sms)
                .then( () => {
                    Swal.fire({
                        type: 'success',
                        title: 'Message Sent',
                    });
                    this.showModal = false;
                });
            },

            getClients() {
                axios.get('api/getProfile')
                .then( data => {
                    this.clients = data.data;
                });
            },
 
        },
        created() {
            this.loadIndividuals();
            this.getClients();
        }
    }
</script>