<template>
    <div class="container">
        <div class="box is-marginless content-header">
           &nbsp;<a class="button is-danger is-inverted is-outlined" @click="back()"><i class="fas fa-backward"></i></a>Individual Profile
        </div>
        <div class="box is-marginless content-body has-text-primary">
            <div class="has-text-centered">
                <b class="title has-text-primary">{{ individual.name }}</b>
                <br> {{ gender(individual.gender) }} | {{ calculateAge(individual.birthdate) }} y/o
                <br> {{ individual.address }}
            </div>
            <hr>
            <div class="columns">
                <div class="column is-6">
                    <p class="has-text-weight-bold">
                        Civil Status:
                    </p>
                    {{ individual.civil_status }}<br><br>
                    <p class="has-text-weight-bold">
                        Birth Date:
                    </p>
                    {{ individual.birthdate }}<br><br>
                    <p class="has-text-weight-bold">
                        Contact Number:
                    </p>
                    {{ individual.contact_no }}
                </div>
                <div class="column">
                    <p class="has-text-weight-bold">
                        Occupation:
                    </p>
                    {{ individual.occupation }}<br><br>
                    <p class="has-text-weight-bold">
                        Philhealth ID #:
                    </p>
                    {{ individual.philhealth }}
                </div>
            </div>
            <div class="has-text-primary" style="overflow-y: hidden; overflow-x: hidden; transition: height 1s;"  v-bind:style="{ height: divHeight }">
                <div v-if="individual.civil_status === 'married'">
                    <p class="title has-text-primary">
                        Spouse Information
                    </p>
                    <hr>
                    <div class="columns">
                        <div class="column is-8">
                            <p class="has-text-weight-bold">
                                Name:
                            </p>
                            {{ individual.spouse_name }}
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold">
                                Birth Date:
                            </p>
                            {{ individual.spouse_birthdate }}
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-8">
                            <p class="has-text-weight-bold">
                                Occupation:
                            </p>
                            {{ individual.spouse_occupation }}
                        </div>
                        <div class="column">
                            <p class="has-text-weight-bold">
                                Age:
                            </p>
                            {{ calculateAge(individual.spouse_birthdate) }}
                        </div>
                    </div>
                    <br><br>
                </div>
                <div v-else hidden>
                </div>
                <p class="title has-text-primary">
                    Father Information
                </p>
                <hr>
                <div class="columns">
                    <div class="column is-8">
                        <p class="has-text-weight-bold">
                            Name:
                        </p>
                        {{ individual.father_name }}
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">
                            Birth Date:
                        </p>
                        {{ individual.father_birthdate }}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-8">
                        <p class="has-text-weight-bold">
                            Occupation:
                        </p>
                        {{ individual.father_occupation }}
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">
                            Age:
                        </p>
                        {{ calculateAge(individual.father_birthdate) }}
                    </div>
                </div>
                <p class="title has-text-primary">
                    Mother Information
                </p>
                <hr>
                <div class="columns">
                    <div class="column is-8">
                        <p class="has-text-weight-bold">
                            Name:
                        </p>
                        {{ individual.mother_name }}
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">
                            Birth Date:
                        </p>
                        {{ individual.mother_birthdate }}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-8">
                        <p class="has-text-weight-bold">
                            Occupation:
                        </p>
                        {{ individual.mother_occupation }}
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">
                            Age:
                        </p>
                        {{ calculateAge(individual.mother_birthdate) }}
                    </div>
                </div>
                <br><br>
            </div>
            <button class="button is-fullwidth is-primary is-size-5 has-text-weight-bold" @click="changeWidth()">{{ buttonText }}</button>
            <hr>
            <div class="is-size-4 has-text-primary">
                Records:
            </div><br>
            <table class="table-for-view">
                <thead> 
                    <tr class="has-text-centered">
                        <td><b>Date Treated</b></td>
                        <td><b>Complaints/Findings<br>Subjective/Objectives</b></td>
                        <td><b>Service Rendered Intervention</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="record in records" :key="record.id">
                        <td>{{ record.date_treated }}</td>
                        <td>{{ record.complaints }}</td>
                        <td>{{ record.service_rendered }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                buttonText: 'View More',
                divHeight:'0px',
                records: {},
                individual: [],
                address:'',
            }
        },
        methods: {
            changeWidth() {
                if (this.divHeight === '0px') {
                    if (this.individual.civil_status === 'single') {
                        this.divHeight = '500px';
                    } else {
                        this.divHeight = '750px';
                    }
                    this.buttonText = 'Show Less';
                } else {
                    this.divHeight = '0px';
                    this.buttonText = 'View More';
                }
            },

            back() {
                this.$router.push("/individual");
            },

            loadIndividual() {
                axios.get('/api/individualTreatment/' + this.$route.params.id)
                .then( data =>(this.individual = data.data));
            },

            calculateAge(data) {
                var birthday = Date.parse(data);
                var age = ~~((Date.now() - birthday) / (31557600000));
                return age;
            },

            gender(data) {
                var gender = 'Female';
                if(data == 1) {
                    gender = 'Male';
                }

                return gender;
            },

            getRecords() {
                axios.get('/api/treatmentRecords/'+this.$route.params.id)
                .then( data => (this.records= data.data));
            }
        },
        created() {
            this.loadIndividual();
            this.getRecords();
        }
    }
</script>